.page-welcome
	.main-container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Вопросы и ответы
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item   Вклады
		h1.main-title Вопросы и Ответы по теме “Вклады”
		p.page-welcome__info Здесь представлены ответы экспертов на вопросы пользователей на тему вкладов. Если у вас есть вопросы по теме банковских депозитов, то задайте его эксперту
		.page-welcome__search
			.form-row
				i.icon-search
				input(type="text" placeholder="Поиск вопроса").form-row__input
.main-container.fines
	.container-a
		.container-a__cont
			.ask-in
				ul.ask-in__nav
					li.ask-in__nav-item
						a(href="").ask-in__nav-link.ask-in__nav-link--active Новое
					li.ask-in__nav-line
					li.ask-in__nav-item
						a(href="").ask-in__nav-link Популярное
				ul.ask-in-list
					li.ask-in-list__item
						.ask-in-list__cont
							.ask-in-list__header
								.ask-in-list__date 16.05.2020
								.ask-in-list__view
									i.icon-eye
									|  288
							.ask-in-list__text
								p Как рассчитывается налог на вклады от 1 миллиона, если ключевая ставка на момент закрытия вклада уменьшилась?
							ul.tags-list
								li.tags-list__item
									a(href="").tags-list__link Вклады
						.ask-in-list__img-w
							a(href="" style="background-image: url('img/pic-21.png');").ask-in-list__img
					li.ask-in-list__item
						.ask-in-list__cont
							.ask-in-list__header
								.ask-in-list__date 16.05.2020
								.ask-in-list__view
									i.icon-eye
									|  288
							.ask-in-list__text
								p Как рассчитывается налог на вклады от 1 миллиона, если ключевая ставка на момент закрытия вклада уменьшилась?
							ul.tags-list
								li.tags-list__item
									a(href="").tags-list__link Вклады
						.ask-in-list__img-w
							a(href="" style="background-image: url('img/pic-21.png');").ask-in-list__img
					li.ask-in-list__item
						.ask-in-list__cont
							.ask-in-list__header
								.ask-in-list__date 16.05.2020
								.ask-in-list__view
									i.icon-eye
									|  288
							.ask-in-list__text
								p Как рассчитывается налог на вклады от 1 миллиона, если ключевая ставка на момент закрытия вклада уменьшилась?
							ul.tags-list
								li.tags-list__item
									a(href="").tags-list__link Вклады
						.ask-in-list__img-w
							a(href="" style="background-image: url('img/pic-21.png');").ask-in-list__img
					li.ask-in-list__item
						.ask-in-list__cont
							.ask-in-list__header
								.ask-in-list__date 16.05.2020
								.ask-in-list__view
									i.icon-eye
									|  288
							.ask-in-list__text
								p Как рассчитывается налог на вклады от 1 миллиона, если ключевая ставка на момент закрытия вклада уменьшилась?
							ul.tags-list
								li.tags-list__item
									a(href="").tags-list__link Вклады
						.ask-in-list__img-w
							a(href="" style="background-image: url('img/pic-21.png');").ask-in-list__img
					li.ask-in-list__item
						.ask-in-list__cont
							.ask-in-list__header
								.ask-in-list__date 16.05.2020
								.ask-in-list__view
									i.icon-eye
									|  288
							.ask-in-list__text
								p Как рассчитывается налог на вклады от 1 миллиона, если ключевая ставка на момент закрытия вклада уменьшилась?
							ul.tags-list
								li.tags-list__item
									a(href="").tags-list__link Вклады
						.ask-in-list__img-w
							a(href="" style="background-image: url('img/pic-21.png');").ask-in-list__img
					li.ask-in-list__item
						.ask-in-list__cont
							.ask-in-list__header
								.ask-in-list__date 16.05.2020
								.ask-in-list__view
									i.icon-eye
									|  288
							.ask-in-list__text
								p Как рассчитывается налог на вклады от 1 миллиона, если ключевая ставка на момент закрытия вклада уменьшилась?
							ul.tags-list
								li.tags-list__item
									a(href="").tags-list__link Вклады
						.ask-in-list__img-w
							a(href="" style="background-image: url('img/pic-21.png');").ask-in-list__img
				.text-center
					a(href="").btn-more Показать еще 5 из 9
			.tags
				h3.category-title Популярные категории
				ul.tags-list
					li.tags-list__item
						a(href="").tags-list__link Кредиты (14)
					li.tags-list__item
						a(href="").tags-list__link Ипотека (14)
					li.tags-list__item
						a(href="").tags-list__link Инвестиции (14)
					li.tags-list__item
						a(href="").tags-list__link Депозиты (14)
					li.tags-list__item
						a(href="").tags-list__link Дебетовые Карты (14)
					li.tags-list__item
						a(href="").tags-list__link Обслуживание (14)
					li.tags-list__item
						a(href="").tags-list__link Денежные Переводы (14)
					li.tags-list__item
						a(href="").tags-list__link Курсы Валют (14)
					li.tags-list__item
						a(href="").tags-list__link Фундаментальный Анализ (14)
			.ask-question
				h3.category-title Задайте свой вопрос экспертам
				.ask-question__row
					.col
						.form-row
							input(type="text" placeholder="Напишите тут свой вопрос в свободной форме и мы опубликуем ответ").form-row__input
					a(href="").btn.btn--green Задать Вопрос
		.container-a__aside
			.bn-block
				a(href="")
					img(src="img/pic-20.png" alt="")
