.main-container.fines
	a(href="").back
		i.icon-angle-left
		|  Все Вопросы
	.container-a
		.container-a__cont
			.ask-inner
				h1.ask-inner__title Как рассчитывается налог на вклады от 1 миллиона, если ключевая ставка на момент закрытия вклада уменьшилась?
				.ask-inner__main-img-w
					img(src="img/pic-34.jpg" alt="").ask-inner__main-img
				.img-footer
					.col-auto.mr-auto
						a(href="").btn-r.btn-r--gray Вклады
					.col-auto 
						ul.post-info
							li.post-info__item 16.05.2020
							li.post-info__item
								i.icon-eye
								| 288
							li.post-info__item
								i.icon-comment
								| 1
				include _offers-b
				.answers
					h2.category-title Ответы
						i.icon-comment
						span 1
					.answers__item
						.text-cont
							p Как мы всей редакцией Bankiros.ru смотрели в книгу, и не понимали, почему лыжи не едут.
							p На днях Сбербанк крайне аккуратно объявил, что наконец-то подключился к Системе быстрых платежей (СБП). Причем ЦБ разработал систему мгновенных переводов по номеру мобильного телефона еще полтора года назад. Главная ее особенность в том, что переводы должны быть бесплатными. Ну, или почти бесплатными.
							p Большинство банков подключились к системе в прошлом году. Некоторое время переводы с карты на карту были бесплатными или с минимальной комиссией. Но в период пандемии любые взыскания вовсе отменили.
							p скриншот сайта ЦБ РФ
							p Сбербанк держал оборону дольше всех. Герман Греф регулярно критиковал СБП, ссылаться на то, что после присоединения к системе бесплатных переводов бизнес-модель банка будет сломана. Но несколько дней назад госбанк разрешил своим клиентам переводить деньги в другие кредитные организации через программу ЦБ.
							p Подводные камни
							p Бесплатные переводы в приложении Сбербанка действительно появились, но найти их не так-то просто. Наша первая попытка не увенчалась успехом: мы быстро нашли переводы в другой банк, правда, они оказались платными:
							blockquote В настоящий момент сервис переводов в СБП доступен всем клиентам Сбербанка в мобильном приложении «Сбербанк Онлайн» на платформах iOS и Android. Вся информация о переводах в рамках СБП размещена в разделе сайте банка
							p Bankiros.ru
							p После этого мы обратились в пресс-службу Сбербанка за разъяснением. Там намекнули, что мы делаем что-то не то, но конкретики не последовало.
							p «В настоящий момент сервис переводов в СБП доступен всем клиентам Сбербанка в мобильном приложении «Сбербанк Онлайн» на платформах iOS и Android. Вся информация о переводах в рамках СБП размещена в разделе сайте банка», – сообщили в пресс-службе и приложили ссылку на инструкцию.
							p изображение
							p Читайте также:
							p Костин рассказал, почему раздавать деньги россиянам опасно
							p Как выяснилось, чтобы перевести деньги с карты Сбербанка на карту другого банка, сначала необходимо вручную подключиться к системе. Для этого следует открыть личный кабинет (ткнуть туда, где изображена ваша аватарка). Далее нажать на серое колесико на белом фоне, найти вкладку «Соглашения» и там поставить несколько галочек.
			.ask-question
				h3.category-title Задайте свой вопрос экспертам
				.ask-question__row
					.col
						.form-row
							input(type="text" placeholder="Напишите тут свой вопрос в свободной форме и мы опубликуем ответ").form-row__input
					a(href="").btn.btn--green Задать Вопрос
		.container-a__aside
			.bn-block
				a(href="")
					img(src="img/pic-20.png" alt="")
	.populars
		h2.category-title Популярные Вопросы
		.populars-s
			.populars-s__item
				a(href="").populars-s__inner
					img(src="img/pic-21.png", alt="").populars-s__img
					.populars-s__cont
						.populars-s__date 24.06.2020, 07:33
						.populars-s__name Прогноз по валютам: как поведут себя доллар и евро после карантина
			.populars-s__item
				a(href="").populars-s__inner
					img(src="img/pic-21.png", alt="").populars-s__img
					.populars-s__cont
						.populars-s__date 24.06.2020, 07:33
						.populars-s__name Прогноз по валютам: как поведут себя доллар и евро после карантина
			.populars-s__item
				a(href="").populars-s__inner
					img(src="img/pic-21.png", alt="").populars-s__img
					.populars-s__cont
						.populars-s__date 24.06.2020, 07:33
						.populars-s__name Прогноз по валютам: как поведут себя доллар и евро после карантина
	.container-a
		.container-a__cont 
			.tags
				h3.category-title Популярные категории
				ul.tags-list
					li.tags-list__item
						a(href="").tags-list__link Кредиты (14)
					li.tags-list__item
						a(href="").tags-list__link Ипотека (14)
					li.tags-list__item
						a(href="").tags-list__link Инвестиции (14)
					li.tags-list__item
						a(href="").tags-list__link Депозиты (14)
					li.tags-list__item
						a(href="").tags-list__link Дебетовые Карты (14)
					li.tags-list__item
						a(href="").tags-list__link Обслуживание (14)
					li.tags-list__item
						a(href="").tags-list__link Денежные Переводы (14)
					li.tags-list__item
						a(href="").tags-list__link Курсы Валют (14)
					li.tags-list__item
						a(href="").tags-list__link Фундаментальный Анализ (14)