.page-welcome
	.main-container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item  Вопросы и Ответы
		h1.main-title Вопросы и Ответы
		p.page-welcome__info Раздел включает в себя ответы экспертов на вопросы пользователей на темы финансов, кредитов, вкладов, ипотеки, инвестиций и др.
		.page-welcome__search
			.form-row
				i.icon-search
				input(type="text" placeholder="Поиск вопроса").form-row__input
.main-container.fines
	.container-a
		.container-a__cont
			.ask
				h3.category-title Популярные Вопросы
				ul.ask-list
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.ask-list__item
						a(href="").ask-list__inner
							.ask-list__img(style="background-image: url('img/pic-21.png');")
							.ask-list__cont
								p.ask-list__date 24.06.2020, 07:33
								h3.ask-list__name Прогноз по валютам: как поведут себя доллар и евро после карантина
				ul.pagination
					li.pagination__item
						a(href="").pagination__link
							i.icon-angle-left
					li.pagination__item
						a(href="").pagination__link.pagination__link--active 1
					li.pagination__item
						a(href="").pagination__link 2
					li.pagination__item
						a(href="").pagination__link 3
					li.pagination__item
						a(href="").pagination__link 4
					li.pagination__item
						a(href="").pagination__link 5
					li.pagination__item
						span.pagination__item-dots ...
					li.pagination__item
						a(href="").pagination__link 10
					li.pagination__item
						a(href="").pagination__link
							i.icon-angle-right
			.tags
				h3.category-title Популярные категории
				ul.tags-list
					li.tags-list__item
						a(href="").tags-list__link Кредиты (14)
					li.tags-list__item
						a(href="").tags-list__link Ипотека (14)
					li.tags-list__item
						a(href="").tags-list__link Инвестиции (14)
					li.tags-list__item
						a(href="").tags-list__link Депозиты (14)
					li.tags-list__item
						a(href="").tags-list__link Дебетовые Карты (14)
					li.tags-list__item
						a(href="").tags-list__link Обслуживание (14)
					li.tags-list__item
						a(href="").tags-list__link Денежные Переводы (14)
					li.tags-list__item
						a(href="").tags-list__link Курсы Валют (14)
					li.tags-list__item
						a(href="").tags-list__link Фундаментальный Анализ (14)
			.ask-question
				h3.category-title Задайте свой вопрос экспертам
				.ask-question__row
					.col
						.form-row
							input(type="text" placeholder="Напишите тут свой вопрос в свободной форме и мы опубликуем ответ").form-row__input
					a(href="").btn.btn--green Задать Вопрос
		.container-a__aside
			.bn-block
				a(href="")
					img(src="img/pic-20.png" alt="")
