.page-welcome.page-welcome--h-auto
	.main-container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Банки
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item  Тинькофф Банк
		.flex-wrap
			.col-1-2
				h1.main-title Тинькофф Банк
				a(href="").page-welcome__t-link tinkoff.ru
			.col-1-2
				a(href="")
					img(src="img/pic-38.png", alt="").page-welcome__bank-logo
.main-container
	ul.news-list.mt-20.mb-20
		li.news-list__item
			a(href="").news-list__link.news-list__link--active Вклады
		li.news-list__item
			a(href="").news-list__link Кредиты
		li.news-list__item
			a(href="").news-list__link Карты
		li.news-list__item
			a(href="").news-list__link Отделения
		li.news-list__item
			a(href="").news-list__link Курсы Валют
		li.news-list__item
			a(href="").news-list__link Отзывы
	.container-a
		.container-a__cont 
			.bank-info
				.bank-info__row
					.bank-info__item
						.bank-info__label Рейтинг по активам
						.bank-info__num 16 место
						p 710.6 млрд гривен
					.bank-info__item
						.bank-info__label Рейтинг по кредитам
						.bank-info__num 19 место
						p 395.2 млрд гривен
					.bank-info__item
						.bank-info__label Рейтинг по вкладам
						.bank-info__num 10 место
						p 383.7 млрд гривен
				.bank-info__row
					.bank-info__item
						.bank-info__label Активы Нетто
						.bank-info__num 710.6 млрд 
							span.grn ₴
					.bank-info__item
						.bank-info__label Депозиты
						.bank-info__num 383.7 млрд 
							span.grn ₴
					.bank-info__item
						.bank-info__label Кредиты
						.bank-info__num 395.2 млрд 
							span.grn ₴
					.bank-info__item
						.bank-info__label Уставной Капитал
						.bank-info__num 6.8 млрд 
							span.grn ₴
			.bank-content.text-cont
				h2.mt-0 О Тинькофф Банке
				p Тинькофф-банк был основан в 1994 году. Это коммерческий банк в России, специализирующийся на дистанционном обслуживании, не имеющей розничных отделений. Ранее банк имел названия «Тинькофф Кредитные Системы», АКБ «Химмашбанк». Нынешнее название учреждения - Банк Тинькофф. Банк предлагает следующие услуги для всех категорий клиентов:
				ul
					li потребительское кредитование;
					li кредитование малого бизнеса;
					li открытие расчетного счета для предпринимателей;
					li оформление дебетовых и кредитных карт;
					li ипотечное кредитование;
					li инвестиционные вклады;
					li обмен валют;
				p Банк является официальным партнером компании «Ренессанс Страхование». Всего в России насчитывается более 857 банкоматов. Так как банк работает удаленно, офисов Тинькофф-банка в России нет, но с сотрудниками всегда можно связаться по телефону или оформить кредит или заявку на открытие расчетного счета на сайте. Банк также предлагает выпуск карт совместно с разными брендами, целевые кредиты на покупки в обычных и интернет-магазинах, чтобы приобрести товар в рассрочку.
				p Физические лица могут обратиться в банк за оформлением потребительского кредита с процентной ставкой от 10% в год и с минимумом документов, оформить дебетовую, кредитную карту или карту рассрочки для покупок в магазинах, например, в «Эльдорадо».
		.container-a__aside 
			.contacts-a 
				.contacts-a__item
					.contacts-a__title 
						i.icon-home
						| Головной Офис
					p Москва и область, Москва, 1-й Волоколамский проезд, 10с1
				.contacts-a__item
					.contacts-a__title 
						i.icon-contacts
						| Контакты
					p 
						a(href="tel:+7 800 123 45 67") +7 800 123 45 67
					p 
						a(href="mailto:hello@domain.com") hello@domain.com
				.contacts-a__item
					.contacts-a__title 
						i.icon-cart
						| Продукты
					p 
						a(href="") Вклады
					p 
						a(href="") Кредиты
					p 
						a(href="") Ипотека
			.bank-i 
				.bank-i__item
					.bank-i__label Регистрационный Номер
					p 2673
				.bank-i__item
					.bank-i__label Дата Регистрации Банка
					p 28.01.1994
				.bank-i__item
					.bank-i__label БИК
					p 044525974
				.bank-i__item
					.bank-i__label Регистрационный Номер
					p 1027739642281 (28.11.2002)
	h2.category-title О Тинькофф Банке
	.container-a
		.container-a__cont
			.bank-comments
				.bank-comments__item
					.bank-comments__header
						.col-auto.mr-auto
							ul.bank-comments__info
								li.bank-comments__info-item 19.05.2020
								li.bank-comments__info-item Николай
								li.bank-comments__info-item Ставрополь
						.col-auto
							.bank-comments__rating-label 3 из 5
							ul.rating
								li.rating__item.rating__item--active
									i.icon-star
								li.rating__item.rating__item--active
									i.icon-star
								li.rating__item.rating__item--active
									i.icon-star
								li.rating__item
									i.icon-star
								li.rating__item
									i.icon-star
					h3.bank-comments__title Все ради чего вы стоите в очередях в сбербанк и за что вы платите я не плачу ни копейки и делаю все дома на диване
					p Пользуюсь услугами банка уже 6 лет, проблем никаких не было, банк всегда с пониманием относится к появляющимся вопросам и проблемам, при необходимости решает все возможные проблемы. Вернули бы ипотеку я бы ещё раз взял.
				.bank-comments__item
					.bank-comments__header
						.col-auto.mr-auto
							ul.bank-comments__info
								li.bank-comments__info-item 19.05.2020
								li.bank-comments__info-item Николай
								li.bank-comments__info-item Ставрополь
						.col-auto
							.bank-comments__rating-label 3 из 5
							ul.rating
								li.rating__item.rating__item--active
									i.icon-star
								li.rating__item.rating__item--active
									i.icon-star
								li.rating__item.rating__item--active
									i.icon-star
								li.rating__item
									i.icon-star
								li.rating__item
									i.icon-star
					h3.bank-comments__title Все ради чего вы стоите в очередях в сбербанк и за что вы платите я не плачу ни копейки и делаю все дома на диване
					p Пользуюсь услугами банка уже 6 лет, проблем никаких не было, банк всегда с пониманием относится к появляющимся вопросам и проблемам, при необходимости решает все возможные проблемы. Вернули бы ипотеку я бы ещё раз взял.
				.bank-comments__item
					.bank-comments__header
						.col-auto.mr-auto
							ul.bank-comments__info
								li.bank-comments__info-item 19.05.2020
								li.bank-comments__info-item Николай
								li.bank-comments__info-item Ставрополь
						.col-auto
							.bank-comments__rating-label 3 из 5
							ul.rating
								li.rating__item.rating__item--active
									i.icon-star
								li.rating__item.rating__item--active
									i.icon-star
								li.rating__item.rating__item--active
									i.icon-star
								li.rating__item
									i.icon-star
								li.rating__item
									i.icon-star
					h3.bank-comments__title Все ради чего вы стоите в очередях в сбербанк и за что вы платите я не плачу ни копейки и делаю все дома на диване
					p Пользуюсь услугами банка уже 6 лет, проблем никаких не было, банк всегда с пониманием относится к появляющимся вопросам и проблемам, при необходимости решает все возможные проблемы. Вернули бы ипотеку я бы ещё раз взял.
		.container-a__aside
			.bank-add-commnet
				h3.bank-add-commnet__title Расскажи свое мнение о банке
				p Поделитесь вашим опытом общения c банком Тинькофф Банк
				a(href="").btn.btn--green.btn--large Оставить Отзыв
	.populars.mt-20
		h2.category-title Новости Тинькофф Банка
		.populars-s
			.populars-s__item
				a(href="").populars-s__inner
					img(src="img/pic-21.png", alt="").populars-s__img
					.populars-s__cont
						.populars-s__date 24.06.2020, 07:33
						.populars-s__name Прогноз по валютам: как поведут себя доллар и евро после карантина
			.populars-s__item
				a(href="").populars-s__inner
					img(src="img/pic-21.png", alt="").populars-s__img
					.populars-s__cont
						.populars-s__date 24.06.2020, 07:33
						.populars-s__name Прогноз по валютам: как поведут себя доллар и евро после карантина
			.populars-s__item
				a(href="").populars-s__inner
					img(src="img/pic-21.png", alt="").populars-s__img
					.populars-s__cont
						.populars-s__date 24.06.2020, 07:33
						.populars-s__name Прогноз по валютам: как поведут себя доллар и евро после карантина