.best-offer
  .main-container
    .title-group
      h3.category-title
        span Лучшие предложение месяца
        ul.rating
          li.rating__item.rating__item--active
            i.icon-star
          li.rating__item.rating__item--active
            i.icon-star
          li.rating__item.rating__item--active
            i.icon-star
          li.rating__item
            i.icon-star
          li.rating__item
            i.icon-star
    .tabs
      ul.tabs-list
        li.tabs-list__item
          a(href="").tabs-list__link.tabs-list__link--active КРЕДИТЫ
        li.tabs-list__item
          a(href="").tabs-list__link ЗАЙМЫ
        li.tabs-list__item
          a(href="").tabs-list__link КРЕДИТНЫЕ КАРТЫ
        li.tabs-list__item
          a(href="").tabs-list__link ДЕБЕТОВЫЕ КАРТЫ
      .tabs-content
        .tabs-item.tabs-item--active
          .best-offer-s-wrap
            .best-offer-s
              .best-offer-s__item
                .best-offer-s__inner
                  .best-offer-s__header
                    div
                      img(src="img/pic-1.png" alt="").best-offer-s__header-img
                      p.best-offer-s__header-text Кредит от Приватбанк
                  .best-offer-s__rate
                    .best-offer-s__rate-title
                      i.icon-percent
                      |  Процентная ставка
                    p.best-offer-s__rate-percent 9.16-13.52%
                  .best-offer-s__amount
                    .best-offer-s__amount-title
                      i.icon-calculator
                      |  Сумма кредита
                    .best-offer-s__amount-price до 50000 грн
                  .text-center
                    a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
              .best-offer-s__item
                .best-offer-s__inner
                  .best-offer-s__header
                    div
                      img(src="img/pic-1.png" alt="").best-offer-s__header-img
                      p.best-offer-s__header-text Кредит от Приватбанк
                  .best-offer-s__rate
                    .best-offer-s__rate-title
                      i.icon-percent
                      |  Процентная ставка
                    p.best-offer-s__rate-percent 9.16-13.52%
                  .best-offer-s__amount
                    .best-offer-s__amount-title
                      i.icon-calculator
                      |  Сумма кредита
                    .best-offer-s__amount-price до 50000 грн
                  .text-center
                    a(href="").btn.btn--green.best-offer-s__btn Оформить заявку


              .best-offer-s__item
                .best-offer-s__inner
                  .best-offer-s__header
                    div
                      img(src="img/pic-1.png" alt="").best-offer-s__header-img
                      p.best-offer-s__header-text Кредит от Приватбанк
                  .best-offer-s__rate
                    .best-offer-s__rate-title
                      i.icon-percent
                      |  Процентная ставка
                    p.best-offer-s__rate-percent 9.16-13.52%
                  .best-offer-s__amount
                    .best-offer-s__amount-title
                      i.icon-calculator
                      |  Сумма кредита
                    .best-offer-s__amount-price до 50000 грн
                  .text-center
                    a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
              .best-offer-s__item
                .best-offer-s__inner
                  .best-offer-s__header
                    div
                      img(src="img/pic-1.png" alt="").best-offer-s__header-img
                      p.best-offer-s__header-text Кредит от Приватбанк
                  .best-offer-s__rate
                    .best-offer-s__rate-title
                      i.icon-percent
                      |  Процентная ставка
                    p.best-offer-s__rate-percent 9.16-13.52%
                  .best-offer-s__amount
                    .best-offer-s__amount-title
                      i.icon-calculator
                      |  Сумма кредита
                    .best-offer-s__amount-price до 50000 грн
                  .text-center
                    a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
          .text-center
            a(href="").btn-more Смотреть все предложения
