.best-offer
	.main-container
		.title-group
			h3.category-title
				span Лучшие предложение месяца
				ul.rating
					li.rating__item.rating__item--active
						i.icon-star
					li.rating__item.rating__item--active
						i.icon-star
					li.rating__item.rating__item--active
						i.icon-star
					li.rating__item
						i.icon-star
					li.rating__item
						i.icon-star
		.tabs
			ul.tabs-list
				li.tabs-list__item
					a(href="").tabs-list__link.tabs-list__link--active КРЕДИТЫ
				li.tabs-list__item
					a(href="").tabs-list__link ЗАЙМЫ
				li.tabs-list__item
					a(href="").tabs-list__link КРЕДИТНЫЕ КАРТЫ
				li.tabs-list__item
					a(href="").tabs-list__link ДЕБЕТОВЫЕ КАРТЫ
	.tabs-content.tabs-content--colored
		.tabs-item.tabs-item--active
			.main-container
				.best-offer-s-wrap
					.best-offer-s
						.best-offer-s__item
							.best-offer-s__inner
								.best-offer-s__header
									div
										img(src="img/pic-1.png" alt="").best-offer-s__header-img
										p.best-offer-s__header-text Кредит от Приватбанк
								.best-offer-s__rate
									.best-offer-s__rate-title
										i.icon-percent
										|  Процентная ставка
									p.best-offer-s__rate-percent 9.16-13.52%
								.best-offer-s__amount
									.best-offer-s__amount-title
										i.icon-calculator
										|  Сумма кредита
									.best-offer-s__amount-price до 50000 грн
								.best-offer-s__footer-b
									a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
						.best-offer-s__item
							.best-offer-s__inner
								.best-offer-s__header
									div
										img(src="img/pic-35.png" alt="").best-offer-s__header-img
										p.best-offer-s__header-text Швидкогроші
								.best-offer-s__rate
									.best-offer-s__rate-title
										i.icon-percent
										|  Ставка в день
									p.best-offer-s__rate-percent от 0.01% в день
								.best-offer-s__amount
									.best-offer-s__amount-title
										i.icon-calculator
										|  Макс. сумма
									.best-offer-s__amount-price до 50000 грн
								.best-offer-s__footer-b
									a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
						.best-offer-s__item
							.best-offer-s__inner
								.best-offer-s__header-c
									.best-offer-s__img-w
										img(src="img/pic-36.png", alt="").best-offer-s__img
									.best-offer-s__h-cont 
										.best-offer-s__h-title Универсальная карта
										.best-offer-s__h-category ПриватБанк
										ul.card-benefits
											li.card-benefits__item
												i.icon-circular-arrow
											li.card-benefits__item
												i.icon-wifi
											li.card-benefits__item
												i.icon-google-pay
											li.card-benefits__item
												i.icon-apple-pay
								.best-offer-s__rate
									.best-offer-s__rate-title Комиссия банкомата банка
									p.best-offer-s__rate-percent 
										i.icon-check
										| 0%
								.best-offer-s__table-w.best-offer-s__table-w--bb-none
									table.best-offer-s__table
										tr
											td Тип карты
											td Обслуживание
										tr
											td
												b Mastercard
											td
												b
													i.icon-check
													| Бесплатно
								.best-offer-s__footer-b
									a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
						.best-offer-s__item
							.best-offer-s__inner
								.best-offer-s__header-c
									.best-offer-s__img-w
										img(src="img/pic-36.png", alt="").best-offer-s__img
									.best-offer-s__h-cont 
										.best-offer-s__h-title Универсальная карта
										.best-offer-s__h-category ПриватБанк
										ul.card-benefits
											li.card-benefits__item
												i.icon-circular-arrow
											li.card-benefits__item
												i.icon-wifi
											li.card-benefits__item
												i.icon-google-pay
											li.card-benefits__item
												i.icon-apple-pay
								.best-offer-s__table-w.mb-0
									table.best-offer-s__table
										tr
											td Ставка в год
											td 
												b от 11.99% 
										tr
											td Льготный период
											td
												b до 100 дней
								.best-offer-s__amount
									.best-offer-s__amount-title Кредитный лимит
									.best-offer-s__amount-price до 100000 грн
								.best-offer-s__footer-b
									a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
				.text-center
					a(href="").btn-more Смотреть все предложения
