.comments
	.comments__header
		.col-auto
			h3.comments__header-title Отзывы о кредитах
		.col-auto.ml-auto
			a(href="").btn.btn--green.btn--small Оставить отзыв
	.comments-slider
		.comments-slider__item
			.comments-slider__header
				.col-auto
					.comments-slider__date
						i.icon-clock
						|  24.05.2020
				.col-auto.ml-auto
					.rating__num 3 из 5
					ul.rating
						li.rating__item.rating__item--active
							i.icon-star
						li.rating__item.rating__item--active
							i.icon-star
						li.rating__item.rating__item--active
							i.icon-star
						li.rating__item
							i.icon-star
						li.rating__item
							i.icon-star
			h3.comments-slider__title Доверяю этому банку
			p Доверяю этому банка впапыо ывпаор  вфыриорфыисв фывси ывафывс ммвп, вмиврамр чсссмм. Довмпвп раппарво.
			.comments-slider__footer
				ul.comments-slider__info
					li.comments-slider__info-item
						i.icon-man
						|  Федор Коваленко
					li.comments-slider__info-item
						i.icon-place
						|  Киев
					li.comments-slider__info-item
						i.icon-bank
						|  Швидко Грошi
		.comments-slider__item
			.comments-slider__header
				.col-auto
					.comments-slider__date
						i.icon-clock
						|  24.05.2020
				.col-auto.ml-auto
					.rating__num 1 из 5
					ul.rating
						li.rating__item.rating__item--active
							i.icon-star
						li.rating__item
							i.icon-star
						li.rating__item
							i.icon-star
						li.rating__item
							i.icon-star
						li.rating__item
							i.icon-star
			h3.comments-slider__title Доверяю этому банку
			p Когда получен  заявке на кредит, остается прийти отделени чтобы предоставить оригиналы документов.
			p Вы можете сразу перейти на официал банка, чтобы посмотреть, каким условиям должен соответствовать кредит ополучатель.
			.comments-slider__footer
				ul.comments-slider__info
					li.comments-slider__info-item
						i.icon-man
						|  Федор Коваленко
					li.comments-slider__info-item
						i.icon-place
						|  Киев
					li.comments-slider__info-item
						i.icon-bank
						|  Швидко Грошi
		.comments-slider__item
			.comments-slider__header
				.col-auto
					.comments-slider__date
						i.icon-clock
						|  24.05.2020
				.col-auto.ml-auto
					.rating__num 3 из 5
					ul.rating
						li.rating__item.rating__item--active
							i.icon-star
						li.rating__item.rating__item--active
							i.icon-star
						li.rating__item.rating__item--active
							i.icon-star
						li.rating__item
							i.icon-star
						li.rating__item
							i.icon-star
			h3.comments-slider__title Доверяю этому банку
			p Доверяю этому банка впапыо ывпаор  вфыриорфыисв фывси ывафывс ммвп, вмиврамр чсссмм. Довмпвп раппарво.
			.comments-slider__footer
				ul.comments-slider__info
					li.comments-slider__info-item
						i.icon-man
						|  Федор Коваленко
					li.comments-slider__info-item
						i.icon-place
						|  Киев
					li.comments-slider__info-item
						i.icon-bank
						|  Швидко Грошi
		.comments-slider__item
			.comments-slider__header
				.col-auto
					.comments-slider__date
						i.icon-clock
						|  24.05.2020
				.col-auto.ml-auto
					.rating__num 1 из 5
					ul.rating
						li.rating__item.rating__item--active
							i.icon-star
						li.rating__item
							i.icon-star
						li.rating__item
							i.icon-star
						li.rating__item
							i.icon-star
						li.rating__item
							i.icon-star
			h3.comments-slider__title Доверяю этому банку
			p Когда получен  заявке на кредит, остается прийти отделени чтобы предоставить оригиналы документов.
			p Вы можете сразу перейти на официал банка, чтобы посмотреть, каким условиям должен соответствовать кредит ополучатель.
			.comments-slider__footer
				ul.comments-slider__info
					li.comments-slider__info-item
						i.icon-man
						|  Федор Коваленко
					li.comments-slider__info-item
						i.icon-place
						|  Киев
					li.comments-slider__info-item
						i.icon-bank
						|  Швидко Грошi
	.text-center
		a(href="").btn-more Последние отзывы о банках


