.comment
  .main-container
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--line /
      li.breadcrumbs__item Отзывы
    h1.main-title Оставить
      span  Отзыв
    .comment__inner
      .comment__row
        .col-1-2
          .form-row
            input(type="text" placeholder="Введите ваш город").form-row__input
        .col-1-2
          .form-row
            select.form-row__select.select-styler
              option Вид услуги
              option Вид услуги 2
              option Вид услуги 3
        .col-1-2
          .form-row
            input(type="text" placeholder="Банк").form-row__input

      h3.category-title Оставьте ваш отзыв
      .form-row
        input(type="text" placeholder="Введите заголовок").form-row__input
      .form-row
        textarea.form-row__textarea(placeholder="Расскажите о своем опыте работы с банком")
      .comment-rating
        h3.comment-rating__title Оцините качество банковского обслуживания
        ul.comment-rating__list
          li.comment-rating__list-item.comment-rating__list-item--active
            i.icon-star
            span.comment-rating__list-num 1
          li.comment-rating__list-item.comment-rating__list-item--active
            i.icon-star
            span.comment-rating__list-num 2
          li.comment-rating__list-item.comment-rating__list-item--active
            i.icon-star
            span.comment-rating__list-num 3
          li.comment-rating__list-item
            i.icon-star
            span.comment-rating__list-num 4
          li.comment-rating__list-item
            i.icon-star
            span.comment-rating__list-num 5
      .comment__footer
        .comment__footer-check
          label.checkbox
            .checkbox__inner
              input(type="checkbox" checked).checkbox__input
              .checkbox__cont
                i.icon-check
          .comment__footer-text Я соглашаюсь с условиями с условиями
            a(href="")  пользовательского соглашения
        a(href="").btn.btn--green.btn--large.comment__footer-submit Оставить отзыв
