.contacts
	.contacts__cont
		.main-container
			ul.breadcrumbs
				li.breadcrumbs__item
					a(href="").breadcrumbs__link Главная
				li.breadcrumbs__item.breadcrumbs__item--line /
				li.breadcrumbs__item  Контакты
			.contacts__row
				.contacts__form
					p Портал Myfin.by рад сотрудничеству с новыми авторами. Если у вас есть темы, которые соответствуют тематике нашего информационного ресурса, свяжитесь с нами.
					.form-row
						input(type="text" placeholder="Ваше Имя").form-row__input
					.form-row
						input(type="email" placeholder="Email").form-row__input
					.form-row
						textarea(placeholder="Расскажите, что вас интересует").form-row__textarea
					a(href="").btn.btn--green.btn--large Отправить
				.contacts__inner
					#map.contacts__map
	.contacts__info
		.main-container
			h3.category-title Контакты портала Finposter
			.contacts__info-row
				.contacts__info-item
					.contacts__info-title Главный Редактор
					p Владимир Лужнёв
					ul.contacts__list
						li.contacts__list-item
							a(href="tel:+375 44 744 19 33").contacts__list-link
								span.contacts__list-icon
									i.icon-phone
								|  +375 44 744 19 33
						li.contacts__list-item
							a(href="mailto:hello@finposter.com").contacts__list-link
								span.contacts__list-icon
									i.icon-email
								|  hello@finposter.com
				.contacts__info-item
					.contacts__info-title Поддержка
					ul.contacts__list
						li.contacts__list-item
							a(href="mailto:hello@finposter.com").contacts__list-link
								span.contacts__list-icon
									i.icon-email
								|  editors@finposter.com
				.contacts__info-item
					.contacts__info-title Реклама и PR
					p Владимир Лужнёв
					ul.contacts__list
						li.contacts__list-item
							a(href="tel:+375 44 744 19 33").contacts__list-link
								span.contacts__list-icon
									i.icon-phone
								|  +375 44 744 19 33
						li.contacts__list-item
							a(href="mailto:pr@finposter.com").contacts__list-link
								span.contacts__list-icon
									i.icon-email
								|  pr@finposter.com
