.page-welcome
  .main-container
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--line /
      li.breadcrumbs__item Кредитные карты Украины
    h1.main-title Кредитные карты
      span  Украины
    .page-welcome__info Лучшие кредитные карты - от 0%.
      br
      | Сравните 302 предложений, изучите отзывы и закажите кредитную карту, отправив онлайн-заявку.
.filter
  .main-container
    .filter__row
      .filter__item
        label.filter__label Кредитный лимит
        input(type="text" placeholder="Введите нужную  сумму").filter__input
        #filter-amount.filter-slider
      .filter__item
        label.filter__label Льготный период
        input(type="text" placeholder="Введите нужную  сумму").filter__input
        #filter-time.filter-slider
      .filter__item
        label.filter__label Банк
        select.select-styler(data-placeholder="Выберете банк")
          option
          option Банк 1
          option Банк 2
          option Банк 3
      .filter__submit.filter__submit--mt
        a(href="").btn.btn--green Показать результат
    ul.filter__nav
      li.filter__nav-item
        label.checkbox-s
          .checkbox-s__cont
            input(type="checkbox" checked).checkbox-s__cont-input
            .checkbox-s__cont-inner
              i.icon-check
          .checkbox-s__text все карты
      li.filter__nav-item
        label.checkbox-s
          .checkbox-s__cont
            input(type="checkbox" ).checkbox-s__cont-input
            .checkbox-s__cont-inner
              i.icon-check
          .checkbox-s__text кэшбек
      li.filter__nav-item
        label.checkbox-s
          .checkbox-s__cont
            input(type="checkbox" ).checkbox-s__cont-input
            .checkbox-s__cont-inner
              i.icon-check
          .checkbox-s__text бонусы
      li.filter__nav-item
        label.checkbox-s
          .checkbox-s__cont
            input(type="checkbox" ).checkbox-s__cont-input
            .checkbox-s__cont-inner
              i.icon-check
          .checkbox-s__text процент на остаток
      li.filter__nav-item
        label.checkbox-s
          .checkbox-s__cont
            input(type="checkbox" ).checkbox-s__cont-input
            .checkbox-s__cont-inner
              i.icon-check
          .checkbox-s__text снятие наличных без процентов
.card-inner
  .main-container
    .container-a
      .container-a__cont
        h3.category-title.card-list__title-lg Все предложения
        .card-list
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
          .card-list__item
            //.card-list__label ТОП КАРТЫ
            .card-list__card-view
              a(href="").card-list__card-link
                img(src="img/pic-29.png" alt="").card-list__card-img
              ul.card-benefits
                li.card-benefits__item
                  i.icon-circular-arrow
                li.card-benefits__item
                  i.icon-wifi
                li.card-benefits__item
                  i.icon-google-pay
                li.card-benefits__item
                  i.icon-apple-pay
            .col.card-list__cont
              .card-list__cont-info
                h3.card-list__name Универсальная карта
                .card-list__bank ПриватБанк
              ul.card-list__info
                li.card-list__info-item Ставка в год
                  span от 11.99%
                li.card-list__info-item Льготный период
                  span до 100 дней
                li.card-list__info-item Кредитный лимит
                  span до 100000 грн
            .card-list__btn-group
              .card-list__license Лиц № 7337
              a(href="").btn.btn--green Оформить карту
              .text-center
                a(href="").link-to Подробнее
        .text-center
          a(href="").btn-more Смотреть все предложения
        include _comments
      .container-a__aside
        .subscription
          h3.subscription__title Подпишись и узнай последние новости и акции
          .form-row
            input(type="text" placeholder="Имя и фамилия").form-row__input
          .form-row
            input(type="text" placeholder="Email").form-row__input
          .form-row.form-row--checkbox
            label.checkbox
              .checkbox__inner
                input.checkbox__input(type='checkbox', checked='')
                .checkbox__cont
                  i.icon-check
            .col
              p Даю согласиен на
                |
                a(href="").link-to оброботку персональных данных
          .text-center
            a(href="").btn.btn--large.btn--green Подписаться

  .cards-best
    .main-container
      .title-group
        h3.category-title
          span Лучшие кредитные карты банков Украины
          ul.rating
            li.rating__item.rating__item--active
              i.icon-star
            li.rating__item.rating__item--active
              i.icon-star
            li.rating__item.rating__item--active
              i.icon-star
            li.rating__item.rating__item--active
              i.icon-star
            li.rating__item.rating__item--active
              i.icon-star
      ul.cards-best__list
        li.cards-best__list-item
          img(src="img/pic-30.png" alt="").cards-best__list-img
          h3.cards-best__list-name Универсальная карта
          p.cards-best__list-bank ПриватБанк
          ul.cards-best__benefits
            li.cards-best__benefits-item
              i.icon-check
              |  Ставка от 11.99% в год
            li.cards-best__benefits-item
              i.icon-check
              |  100 дней без процентов
          .text-center
            a(href="").btn.btn--green.btn--large Оформить карту

        li.cards-best__list-item
          img(src="img/pic-30.png" alt="").cards-best__list-img
          h3.cards-best__list-name Универсальная карта
          p.cards-best__list-bank ПриватБанк
          ul.cards-best__benefits
            li.cards-best__benefits-item
              i.icon-check
              |  Ставка от 11.99% в год
            li.cards-best__benefits-item
              i.icon-check
              |  100 дней без процентов
          .text-center
            a(href="").btn.btn--green.btn--large Оформить карту
        li.cards-best__list-item
          img(src="img/pic-30.png" alt="").cards-best__list-img
          h3.cards-best__list-name Универсальная карта
          p.cards-best__list-bank ПриватБанк
          ul.cards-best__benefits
            li.cards-best__benefits-item
              i.icon-check
              |  Ставка от 11.99% в год
            li.cards-best__benefits-item
              i.icon-check
              |  100 дней без процентов
          .text-center
            a(href="").btn.btn--green.btn--large Оформить карту
        li.cards-best__list-item
          img(src="img/pic-30.png" alt="").cards-best__list-img
          h3.cards-best__list-name Универсальная карта
          p.cards-best__list-bank ПриватБанк
          ul.cards-best__benefits
            li.cards-best__benefits-item
              i.icon-check
              |  Ставка от 11.99% в год
            li.cards-best__benefits-item
              i.icon-check
              |  100 дней без процентов
          .text-center
            a(href="").btn.btn--green.btn--large Оформить карту
  include _feedback






