.page-welcome
  .main-container
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--line /
      li.breadcrumbs__item Кредиты
    h1.main-title Кредиты в
      span  Украине
    .page-welcome__info Денежные займы 2020 года от МФО Украине - их сроки, проценты в день, способы выдачи и получения
      br
      |  Изучите список микрозаймов и оформите заявку на подходящий вариант.
.filter
  .main-container
    .filter__row
      .filter__item
        input(type="text" placeholder="Введите нужную  сумму").filter__input
        #filter-amount.filter-slider
      .filter__item.filter__item--time
        input(type="text" placeholder="От 1 до 90").filter__input
        #filter-time.filter-slider
        .filter__select
          select.select-styler
            option Дней
            option Недель
            option Месяцов
      .filter__submit
        a(href="").btn.btn--green Показать результат
    ul.filter__nav
      li.filter__nav-item
        label.checkbox-s
          .checkbox-s__cont
            input(type="checkbox" checked).checkbox-s__cont-input
            .checkbox-s__cont-inner
              i.icon-check
          .checkbox-s__text все
      li.filter__nav-item
        label.checkbox-s
          .checkbox-s__cont
            input(type="checkbox" ).checkbox-s__cont-input
            .checkbox-s__cont-inner
              i.icon-check
          .checkbox-s__text без справок
      li.filter__nav-item
        label.checkbox-s
          .checkbox-s__cont
            input(type="checkbox" ).checkbox-s__cont-input
            .checkbox-s__cont-inner
              i.icon-check
          .checkbox-s__text без поручителей
      li.filter__nav-item
        label.checkbox-s
          .checkbox-s__cont
            input(type="checkbox" ).checkbox-s__cont-input
            .checkbox-s__cont-inner
              i.icon-check
          .checkbox-s__text наличными
.loans-inner
  .main-container
    .container-a
      .container-a__cont
        .title-group
          h3.category-title
            span Лучшие предложение месяца
            ul.rating
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item.rating__item--active
                i.icon-star
        .loans-top
          .loans-top__item
            span.loans-top__label ТОП ЗАЙМ
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

          .loans-top__item
            span.loans-top__label ТОП ЗАЙМ
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

          .loans-top__item
            span.loans-top__label ТОП ЗАЙМ
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

        h3.category-title Все займы Украины
        .loans-top.mb-0
          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-31.png" alt="").loans-top__img
              .loans-top__title-category “Быстрый кредит”
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th
                    i.icon-persent
                    |  Процентная ставка
                  th
                    i.icon-calculator
                    |  Сумма кредита
                  th
                    i.icon-clock
                    |  Срок
                tr
                  td 9.16-13.52%
                  td до 50000 грн
                  td 1-30 месяцев
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
                br
                a(href="").link-to Подробнее

        ul.pagination
          li.pagination__item
            a(href="").pagination__link
              i.icon-angle-left
          li.pagination__item
            a(href="").pagination__link.pagination__link--active 1
          li.pagination__item
            a(href="").pagination__link 2
          li.pagination__item
            a(href="").pagination__link 3
          li.pagination__item
            a(href="").pagination__link 4
          li.pagination__item
            a(href="").pagination__link 5
          li.pagination__item
            span.pagination__item-dots ...
          li.pagination__item
            a(href="").pagination__link 10
          li.pagination__item
            a(href="").pagination__link
              i.icon-angle-right
        include _comments
      .container-a__aside
        .bn-block.bn-block--mt
          a(href="")
            img(src="img/pic-9.png" alt="")
        .subscription.subscription--mt-sm
          h3.subscription__title Подпишись и узнай последние новости и акции
          .form-row
            input(type="text" placeholder="Имя и фамилия").form-row__input
          .form-row
            input(type="text" placeholder="Email").form-row__input
          .form-row.form-row--checkbox
            label.checkbox
              .checkbox__inner
                input.checkbox__input(type='checkbox', checked='')
                .checkbox__cont
                  i.icon-check
            .col
              p Даю согласиен на
                |
                a(href="").link-to оброботку персональных данных
          .text-center
            a(href="").btn.btn--large.btn--green Подписаться

  .news-w
    .main-container
      h3.category-title Новости микрофинансовых организаций
      ul.news-w__list
        li.news-w__list-item
          a(href="").news-w__list-inner
            .news-w__list-img(style="background-image:url('img/pic-28.png')")
            .news-w__list-cont
              .news-w__list-name Колектори ответілі тем, кто просіт обнуліть кредіт
              .news-w__list-date 24.04.2020
        li.news-w__list-item
          a(href="").news-w__list-inner
            .news-w__list-img(style="background-image:url('img/pic-28.png')")
            .news-w__list-cont
              .news-w__list-name Колектори ответілі тем, кто просіт обнуліть кредіт
              .news-w__list-date 24.04.2020
        li.news-w__list-item
          a(href="").news-w__list-inner
            .news-w__list-img(style="background-image:url('img/pic-28.png')")
            .news-w__list-cont
              .news-w__list-name Колектори ответілі тем, кто просіт обнуліть кредіт
              .news-w__list-date 24.04.2020
      .text-center
        a(href="").btn-more Смотреть все новости
  include _feedback





