.page-welcome.page-welcome--h-auto
	.main-container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Курсы криптовалют
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Курс Биткоина
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item  Курс Биткоина к доллару на сегодня
		h1.main-title Курс Биткоина к доллару
.cryp
	.main-container
		ul.cryp-v-list
			li.cryp-v-list__item
				a(href="").cryp-v-list__link.cryp-v-list__link--active Курс Биткоина к доллару
			li.cryp-v-list__item
				a(href="").cryp-v-list__link Курс Биткоина к доллару
			li.cryp-v-list__item
				a(href="").cryp-v-list__link Курс Биткоина к доллару
		.container-a
			.container-a__cont
				.cryp-c
					.table-responsive
						table.cryp-c-table
							tr
								th Валюта
								th Актуальная Цена
								th Курс открытия
								th Максимум/Минимум
								th
							tr
								td
									.cryp-c-table__inf
										.cryp-c-table__inf-img-w
											img(src="img/cryp-icon/BTC.svg" alt="img").cryp-c-table__inf-img
										.cryp-c-table__inf-cont
											.cryp-c-table__inf-name Bitcoin
											.cryp-c-table__inf-short-name BTC
								td
									p.cryp-c-table__price $9248.72
									p.cryp-c-table__inf-text
										span.text-green +$34.04
										!=" "
										span.text-green +0.369411%
								td
									p.cryp-c-table__price $9214.68
								td
									p.cryp-c-table__price $9294.22
									p.cryp-c-table__price $9202.17
								td
									p.cryp-c-table__inf-text Обновлено: 15:03
					.cryp-c-list-w
						ul.cryp-c-list
							li.cryp-c-list__item
								.cryp-c-list__label Изменения за день
								.cryp-c-list__val.text-green +$34.04
							li.cryp-c-list__item
								.cryp-c-list__label Изменения за неделю
								.cryp-c-list__val.text-red -$28.04
							li.cryp-c-list__item
								.cryp-c-list__label Изменения за месяц
								.cryp-c-list__val.text-red -$218.04
							li.cryp-c-list__item
								.cryp-c-list__label Изменения за 6 месяцев
								.cryp-c-list__val.text-green +$1 218.04
				.cryp-table-w
					.cryp-table-header
						.col-auto.mr-auto
							h3.category-title Котировки Биткоина к доллару на биржах
						.col-auto
							p Обновлено: 15:03
					.table-responsive
						table.cryp-table.cryp-table--no-bb
							tr
								th Биржа
								th Курс
								th Мин (24ч.)
								th Макс (24ч.)
								th Изменения
								th Объём
							tr
								td
									a(href="").cryp-table__b-name HitBTC
								td
									p $9 248.91
								td
									p $9 196.91
								td
									p $9 295.04
								td
									p
										span.text-green +$46.41
										!="  "
										span.text-green +0.451%
								td
									p 8009.18Ƀ
							tr
								td
									a(href="").cryp-table__b-name HitBTC
								td
									p $9 248.91
								td
									p $9 196.91
								td
									p $9 295.04
								td
									p
										span.text-red -$46.41
										!="  "
										span.text-green +0.451%
								td
									p 8009.18Ƀ
							tr
								td
									a(href="").cryp-table__b-name HitBTC
								td
									p $9 248.91
								td
									p $9 196.91
								td
									p $9 295.04
								td
									p
										span.text-green +$46.41
										!="  "
										span.text-green +0.451%
								td
									p 8009.18Ƀ
							tr
								td
									a(href="").cryp-table__b-name HitBTC
								td
									p $9 248.91
								td
									p $9 196.91
								td
									p $9 295.04
								td
									p
										span.text-green +$46.41
										!="  "
										span.text-green +0.451%
								td
									p 8009.18Ƀ
							tr
								td
									a(href="").cryp-table__b-name HitBTC
								td
									p $9 248.91
								td
									p $9 196.91
								td
									p $9 295.04
								td
									p
										span.text-green +$46.41
										!="  "
										span.text-green +0.451%
								td
									p 8009.18Ƀ
							tr
								td
									a(href="").cryp-table__b-name HitBTC
								td
									p $9 248.91
								td
									p $9 196.91
								td
									p $9 295.04
								td
									p
										span.text-green +$46.41
										!="  "
										span.text-green +0.451%
								td
									p 8009.18Ƀ
							tr
								td
									a(href="").cryp-table__b-name HitBTC
								td
									p $9 248.91
								td
									p $9 196.91
								td
									p $9 295.04
								td
									p
										span.text-green +$46.41
										!="  "
										span.text-green +0.451%
								td
									p 8009.18Ƀ
							tr
								td
									a(href="").cryp-table__b-name HitBTC
								td
									p $9 248.91
								td
									p $9 196.91
								td
									p $9 295.04
								td
									p
										span.text-green +$46.41
										!="  "
										span.text-green +0.451%
								td
									p 8009.18Ƀ
				.cryp-table-w
					.cryp-table-header
						h3.category-title Котировки Биткоина к доллару на биржах
					ul.cryp-c-nav
						li.cryp-c-nav__item
							a(href="").cryp-c-nav__link.cryp-c-nav__link--active Сегодня
						li.cryp-c-nav__item
							a(href="").cryp-c-nav__link Неделя
						li.cryp-c-nav__item
							a(href="").cryp-c-nav__link Месяц
						li.cryp-c-nav__item
							a(href="").cryp-c-nav__link Квартал
						li.cryp-c-nav__item
							a(href="").cryp-c-nav__link Год
						li.cryp-c-nav__item
							a(href="").cryp-c-nav__link За все время
					.cryp-chart-cont
						img(src="img/pic-33.jpg" alt="")
				.cryp-table-w
					.cryp-table-header
						h3.category-title Курсы других криптовалют
					.table-responsive
						table.cryp-table.cryp-table--no-bb
							tr
								th Валюта
								th Стоимость
								th Капитализация
								th Объём (24ч.)
								th Изменение (24ч.)
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-red -0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
			.container-a__aside
				.cryp-calc
					h3.cryp-calc__title Конвертер Криптовалют
					.cryp-calc__row
						.col.cryp-calc__item
							.col-auto
								.cryp-calc__item-label Купить
							.col-auto.ml-auto
								input.cryp-calc__item-input(type="tel" value="0.2997")
						.cryp-calc__select
							select.select-styler-img
								option(data-image="img/cryp-icon/BTC.svg") BTC
								option(data-image="img/cryp-icon/usd.svg") usd
					.cryp-calc__row
						.col.cryp-calc__item
							.col-auto
								.cryp-calc__item-label Отдать
							.col-auto.ml-auto
								input.cryp-calc__item-input(type="tel" value="3 000")
						.cryp-calc__select
							select.select-styler-img
								option(data-image="img/cryp-icon/usd.svg") usd
								option(data-image="img/cryp-icon/BTC.svg") BTC
					a(href="").btn.btn--green.btn--large.cryp-calc__btn-submit Купить
				.text-center
					a(href="").btn.btn--large.btn--blue.cryp-calc-btn
						i.icon-repeat
						|  Калькулятор Криптовалют
