.page-welcome.page-welcome--h-auto
	.main-container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Курсы криптовалют
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item  Калькулятор криптовалют онлайн
		h1.main-title Калькулятор криптовалют
.cryp
	.main-container
		.container-a
			.container-a__cont
				.cryp-calc-i
					.cryp-calc-i__row
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="1").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/BTC.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name BTC
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="9 256.70").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/usd.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name USD
					.cryp-calc-i__row
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="8 198.56").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/eur.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name EUR
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="63 354.574405674").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/XRP.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name XRP
					.cryp-calc-i__row
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="8 198.56").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/eur.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name EUR
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="63 354.574405674").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/XRP.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name XRP
					.cryp-calc-i__row
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="8 198.56").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/eur.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name EUR
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="63 354.574405674").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/XRP.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name XRP
					.cryp-calc-i__row
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="8 198.56").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/eur.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name EUR
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="63 354.574405674").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/XRP.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name XRP
					.cryp-calc-i__row
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="8 198.56").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/eur.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name EUR
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="63 354.574405674").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/XRP.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name XRP
					.cryp-calc-i__row
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="8 198.56").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/eur.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name EUR
						.cryp-calc-i__item
							.cryp-calc-i__inner
								input(type="tel" value="63 354.574405674").cryp-calc-i__input
								.cryp-calc-i__coin
									.cryp-calc-i__coin-img-w
										img(src="img/cryp-icon/XRP.svg" alt="").cryp-calc-i__coin-img
									.cryp-calc-i__coin-name XRP
				.cryp-table-w
					.cryp-table-header
						h3.category-title Курсы других криптовалют
					.table-responsive
						table.cryp-table.cryp-table--no-bb
							tr
								th Валюта
								th Стоимость
								th Капитализация
								th Объём (24ч.)
								th Изменение (24ч.)
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-red -0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
			.container-a__aside
				.cryp-calc
					h3.cryp-calc__title Конвертер Криптовалют
					.cryp-calc__row
						.col.cryp-calc__item
							.col-auto
								.cryp-calc__item-label Купить
							.col-auto.ml-auto
								input.cryp-calc__item-input(type="tel" value="0.2997")
						.cryp-calc__select
							select.select-styler-img
								option(data-image="img/cryp-icon/BTC.svg") BTC
								option(data-image="img/cryp-icon/usd.svg") usd
					.cryp-calc__row
						.col.cryp-calc__item
							.col-auto
								.cryp-calc__item-label Отдать
							.col-auto.ml-auto
								input.cryp-calc__item-input(type="tel" value="3 000")
						.cryp-calc__select
							select.select-styler-img
								option(data-image="img/cryp-icon/usd.svg") usd
								option(data-image="img/cryp-icon/BTC.svg") BTC
					a(href="").btn.btn--green.btn--large.cryp-calc__btn-submit Купить
				.text-center
					a(href="").btn.btn--large.btn--blue.cryp-calc-btn
						i.icon-repeat
						|  Калькулятор Криптовалют
