.page-welcome
	.main-container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item Курсы криптовалют
		h1.main-title Курсы криптовалют
		.page-welcome__info Курсы криптовалют онлайн в реальном времени - полный список. Здесь можно узнать, как меняется курс обмена всех криптовалют
.cryp
	.main-container
		.container-a
			.container-a__cont
				.cryp-table-w
					.table-responsive
						table.cryp-table
							tr
								th Валюта
								th Стоимость
								th Капитализация
								th Объём (24ч.)
								th Изменение (24ч.)
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-red -0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
							tr
								td
									a(href="").cryp-table__v-inf
										.cryp-table__v-inf-img-w
											img(src="img/cryp-icon/BTC.svg").cryp-table__v-inf-img
										.cryp-table__v-inf-cont
											.cryp-table__v-inf-name Bitcoin
											.cryp-table__v-inf-short-name BTC
								td
									p $9254.74
									p.cryp-table__s-val.text-green +$43.55
								td
									p $170 571 160 677
									p.cryp-table__s-val.text-green +$11 143
								td
									p $99 077 400
									p.cryp-table__s-val.text-green +$11 143
								td
									p.text-green +0.4728%
					.text-center
						a(href="").btn-more Показать еще 10 из 867
			.container-a__aside
				.cryp-calc
					h3.cryp-calc__title Конвертер Криптовалют
					.cryp-calc__row
						.col.cryp-calc__item
							.col-auto
								.cryp-calc__item-label Купить
							.col-auto.ml-auto
								input.cryp-calc__item-input(type="tel" value="0.2997")
						.cryp-calc__select
							select.select-styler-img
								option(data-image="img/cryp-icon/BTC.svg") BTC
								option(data-image="img/cryp-icon/usd.svg") usd
					.cryp-calc__row
						.col.cryp-calc__item
							.col-auto
								.cryp-calc__item-label Отдать
							.col-auto.ml-auto
								input.cryp-calc__item-input(type="tel" value="3 000")
						.cryp-calc__select
							select.select-styler-img
								option(data-image="img/cryp-icon/usd.svg") usd
								option(data-image="img/cryp-icon/BTC.svg") BTC
					a(href="").btn.btn--green.btn--large.cryp-calc__btn-submit Купить
				.text-center
					a(href="").btn.btn--large.btn--blue.cryp-calc-btn
						i.icon-repeat
						|  Калькулятор Криптовалют


