.main-container.currency-rates
  ul.breadcrumbs
    li.breadcrumbs__item
      a(href="").breadcrumbs__link Главная
    li.breadcrumbs__item.breadcrumbs__item--line /
    li.breadcrumbs__item Курсы валют
  .container-a
    .container-a__cont
      .currency-rates__header
        h1.main-title Курсы
          span  валют
      .title-blue Курсы валют банков Украины
      .top-currency
        .title-group
          h3.category-title
            span Лучшиее курсы валют банков Украины
            ul.rating
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item
                i.icon-star
              li.rating__item
                i.icon-star
        .table-responsive
          table.table-currency
            tr
              th
              th Покупка
              th Продажа
              th
                b Курсы НБУ
              th
                span Конвертер валют
            tr
              td
                .table-currency__money
                  p
                    i.icon-money
                    | USD
                  span
                    a(href="") ПриватБанк
              td 28.20 грн
              td 28.20 грн
              td 28.20 грн
              td
                input(type="text" value="1").form-row__input
            tr
              td
                .table-currency__money
                  p
                    i.icon-money
                    | USD
                  span
                    a(href="") ПриватБанк
              td 28.20 грн
              td 28.20 грн
              td 28.20 грн
              td
                input(type="text" value="1").form-row__input
            tr
              td
                .table-currency__money
                  p
                    i.icon-money
                    | USD
                  span
                    a(href="") ПриватБанк
              td 28.20 грн
              td 28.20 грн
              td 28.20 грн
              td
                input(type="text" value="1").form-row__input
            tr
              td
                .table-currency__money
                  p
                    i.icon-money
                    | USD
                  span
                    a(href="") ПриватБанк
              td 28.20 грн
              td 28.20 грн
              td 28.20 грн
              td
                input(type="text" value="1").form-row__input
            tr
              td
                .table-currency__money
                  p
                    i.icon-money
                    | USD
                  span
                    a(href="") ПриватБанк
              td 28.20 грн
              td 28.20 грн
              td 28.20 грн
              td
                input(type="text" value="1").form-row__input
            tr
              td
                .table-currency__money
                  p
                    i.icon-money
                    | USD
                  span
                    a(href="") ПриватБанк
              td 28.20 грн
              td 28.20 грн
              td 28.20 грн
              td
                input(type="text" value="1").form-row__input
      .list-currency
        ul.tab-g-list
          li.tab-g-list__item
            a(href="").tab-g-list__link.tab-g-list__link--active Киев
          li.tab-g-list__item
            a(href="").tab-g-list__link Львов
          li.tab-g-list__item
            a(href="").tab-g-list__link Харьков
          li.tab-g-list__item
            a(href="").tab-g-list__link Одесса
          li.tab-g-list__item
            a(href="").tab-g-list__link Днепр
        .table-responsive
          table.table-currency
            tr
              th
              th
                .table-currency__title
                  span USD
                  | Покупка
              th
                .table-currency__title
                  span
                  | Продажа
              th
                .table-currency__title
                  span USD
                  | Покупка
              th
                .table-currency__title
                  span
                  | Продажа
              th
                .table-currency__title
                  span USD
                  | Покупка
              th
                .table-currency__title
                  span
                  | Продажа
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
            tr
              td
                img(src="img/pic-25.png" alt="" width="160")
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
              td 28.20
        ul.pagination
          li.pagination__item
            a(href="").pagination__link
              i.icon-angle-left
          li.pagination__item
            a(href="").pagination__link.pagination__link--active 1
          li.pagination__item
            a(href="").pagination__link 2
          li.pagination__item
            a(href="").pagination__link 3
          li.pagination__item
            a(href="").pagination__link 4
          li.pagination__item
            a(href="").pagination__link 5
          li.pagination__item
            span.pagination__item-dots ...
          li.pagination__item
            a(href="").pagination__link 10
          li.pagination__item
            a(href="").pagination__link
              i.icon-angle-right
      .chart-currency
        h3.category-title Колебания лучших курсов
        img(src="img/pic-26.png" alt="").chart-currency__img
    .container-a__aside
      .currency-converter
        h3.currency-converter__title Конвертер валют
          i.icon-exchange-rate
        ul.tab-g-list
          li.tab-g-list__item
            a(href="").tab-g-list__link.tab-g-list__link--active Лучшие курсы
          li.tab-g-list__item
            a(href="").tab-g-list__link Курсы НБУ
        .currency-converter__row
          .col
            .form-row
              input(type="text" value="100").form-row__input
          .currency-converter__select
              select.form-row__select.select-styler
                option USD
                option EUR
                option RUB
        .currency-converter__row
          .col
            .form-row
              input(type="text" value="100").form-row__input
          .currency-converter__select
            select.form-row__select.select-styler
              option USD
              option EUR
              option RUB
        .currency-converter__row
          .col
            .form-row
              input(type="text" value="100").form-row__input
          .currency-converter__select
            select.form-row__select.select-styler
              option USD
              option EUR
              option RUB
        .currency-converter__row
          .col
            .form-row
              input(type="text" value="100").form-row__input
          .currency-converter__select
            select.form-row__select.select-styler
              option USD
              option EUR
              option RUB
        .currency-converter__row
          .col
            .form-row
              input(type="text" value="100").form-row__input
          .currency-converter__select
            select.form-row__select.select-styler
              option USD
              option EUR
              option RUB
      .bn-block
        a(href="")
          img(src="img/pic-20.png" alt="")


