.currency
  .main-container
    .currency__cont
      .currency__item
        .currency__head
          h3.currency__name
            a(href="") Курсы валют
          p.currency__date на 28.04.2020
        .currency__inner
          table.currency-s-table
            tr
              td
                .currency-s-table__name USD
                  span НБУ
              td 28.20 / 28.75
            tr
              td
                .currency-s-table__name EUR
                  span НБУ
              td 31.25 / 31.05
      .currency__item
        .currency__head
          h3.currency__name
            a(href="") Курсы криптовалют
          p.currency__date на 28.04.2020
        .currency__inner
          table.currency-s-table
            tr
              td
                .currency-s-table__name Bitcoin
              td
                i.icon-arrow-up
                |  7547.04
            tr
              td
                .currency-s-table__name Etherium
              td
                i.icon-arrow-down
                |  127.04
      .currency__item
        .currency__head
          h3.currency__name
            a(href="") Курс нефти
          p.currency__date на 28.04.2020
        .currency__inner
          table.currency-s-table
            tr
              td
                .currency-s-table__name Brent
              td 19.99
              td.currency-s-table__down -8,68%
            tr
              td
                .currency-s-table__name Золото
              td 1435.34
              td.currency-s-table__up +0,87%
