.currency-n
	.main-container
		.currency-n__inner
			ul.currency-n__list
				li.currency-n__list-item
					h3.currency-n__list-title
						a(href="") USD
						span  НБУ
					p.currency-n__list-price 28.20 / 28.75
				li.currency-n__list-item
					h3.currency-n__list-title
						a(href="") EUR
						span  НБУ
					p.currency-n__list-price 28.20 / 28.75
				li.currency-n__list-item
					h3.currency-n__list-title
						a(href="") Bitcoin
					p.currency-n__list-price
						i.icon-arrow-up
						|  7547.04 $
				li.currency-n__list-item
					h3.currency-n__list-title
						a(href="") Нефть
					p.currency-n__list-price 19.99 $
						!="  "
						i.icon-arrow-down
						span.text-red -8,68%
			.currency-n__right
				a(href="").currency-n__currency-rates Курсы валют
				.currency-n__covid
					.currency-n__covid-inner
						.currency-n__covid-title
							img(src="img/icons/covid.svg" alt="").currency-n__covid-title-icon
							|  Covid 19 в Украине
						ul.currency-n__c-list
							li.currency-n__c-list-item
								.currency-n__c-list-name Подтверждено
								.currency-n__c-list-num 48500
									sup  +950
							li.currency-n__c-list-item
								.currency-n__c-list-name Вылечилось
								.currency-n__c-list-num 29480
							li.currency-n__c-list-item
								.currency-n__c-list-name Умерло
								.currency-n__c-list-num 1249
					a(href="").currency-n__covid-btn Страхование от Covid 19