.feedback
  .main-container
    h3.feedback__title Подписывайтесь на нашу рассылку
    h4.feedback__sub-title Будьте в курсе последних новостей!
    .feedback__form
      input(type="email" placeholder="Email *").feedback__input
      a(href="").btn.btn--green.feedback__form-btn Подписаться