.page-welcome
	.main-container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item Проверка Штрафов
		h1.main-title Проверка Штрафов
		.page-welcome__info Раздел включает в себя ответы экспертов на вопросы пользователей на темы финансов, кредитов, вкладов, ипотеки, инвестиций и др.
.main-container.fines
	.container-a
		.container-a__cont
			.fines__cont
				p Для проверки штрафов необходимо указать 2 параметра:
				ul
					li Номер транспортного средства
					li Номер водительского удостоверения
				.fines__form
					.fines__form-item
						.form-row
							input(type="tel" placeholder="Номер транспортного средства").form-row__input
					.fines__form-item
						.form-row
							input(type="tel" placeholder="Номер водительского удостоверения").form-row__input
					a(href="").btn.btn--green Проверить
				.fines__alert.fines__alert--success
					.fines__alert-title
						i.icon-check-circle
						|  Все в порядке
					p Неоплаченные или просроченные штрафы не найдены
		.container-a__aside
			.bn-block
				a(href="")
					img(src="img/pic-20.png" alt="")