footer.footer
  .main-container
    .footer__row
      .footer__item
        .footer__item-header
          h3.footer__item-title Популярные банковские продукты
          .footer__item-icon
            i.icon-angle-down
        ul.footer__list
          li.footer__list-item
            a(href="").footer__list-link Кредитные карты
          li.footer__list-item
            a(href="").footer__list-link Кредитные карты
          li.footer__list-item
            a(href="").footer__list-link Кредитные карты
          li.footer__list-item
            a(href="").footer__list-link Кредитные карты
          li.footer__list-item
            a(href="").footer__list-link Кредитные карты
          li.footer__list-item
            a(href="").footer__list-link Кредитные карты
          li.footer__list-item
            a(href="").footer__list-link Кредитные карты
          li.footer__list-item
            a(href="").footer__list-link Кредитные карты
      .footer__item
        .footer__item-header
          h3.footer__item-title Популярные банки
          .footer__item-icon
            i.icon-angle-down
        ul.footer__list
          li.footer__list-item
            a(href="").footer__list-link ПриватБанка
          li.footer__list-item
            a(href="").footer__list-link ПриватБанка
          li.footer__list-item
            a(href="").footer__list-link ПриватБанка
          li.footer__list-item
            a(href="").footer__list-link ПриватБанка
          li.footer__list-item
            a(href="").footer__list-link ПриватБанка
          li.footer__list-item
            a(href="").footer__list-link ПриватБанка
          li.footer__list-item
            a(href="").footer__list-link ПриватБанка
      .footer__item
        .footer__item-header
          h3.footer__item-title Калькуляторы
          .footer__item-icon
            i.icon-angle-down
        ul.footer__list
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
      .footer__item
        .footer__item-header
          h3.footer__item-title Популярно
          .footer__item-icon
            i.icon-angle-down
        ul.footer__list
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
          li.footer__list-item
            a(href="").footer__list-link Колькулятор кредитов
  .footer__cont
    .main-container
      .flex-wrap
        .col-auto
          a(href="").footer__logo
        .col-auto.ml-auto
          .footer__social-label Оставайтесь с нами:
          ul.social
            li.social__item
              a(href="").social__link
                img(src="img/youtube.svg" alt="").social__img
            li.social__item
              a(href="").social__link
                img(src="img/facebook.svg" alt="").social__img
            li.social__item
              a(href="").social__link
                img(src="img/telegram.svg" alt="").social__img
            li.social__item
              a(href="").social__link
                img(src="img/twitter.svg" alt="").social__img
  .footer__bottom
    .main-container
      ul.footer__nav
        li.footer__nav-item
          a(href="").footer__nav-link О нас
        li.footer__nav-item
          a(href="").footer__nav-link Реклама
        li.footer__nav-item
          a(href="").footer__nav-link Контакты
        li.footer__nav-item
          a(href="").footer__nav-link Условия использования
        li.footer__nav-item
          a(href="").footer__nav-link Политика конфиденциальности


