header.header
	.header__top
		.main-container.flex-wrap
			.col-auto
				a(href="").header__logo
					//span.header__logo-img
					//span.header__logo-text Finposter
			.col-auto.ml-auto
				ul.header__nav
					li.header__nav-item
						a(href="").header__nav-link Лучшие курсы
					li.header__nav-item
						a(href="").header__nav-link Криптовалюты
					li.header__nav-item
						a(href="").header__nav-link Новости
					li.header__nav-item
						a(href="").header__nav-link Отделения и банкоматы
					li.header__nav-item
						a(href="").header__nav-link Контакты
				ul.header__lang
					li.header__lang-item
						a(href="").header__lang-link UA
					li.header__lang-item
						a(href="").header__lang-link RU
				a(href="").btn-menu
					span
					span
					span
				.header__search
					button.header__search-btn
						i.icon-search
	include _currency-2
	.header__cont
		a(href="").header__menu-close
			i.icon-close
		.main-container
			ul.header__nav
				li.header__nav-item
					a(href="").header__nav-link Лучшие курсы
				li.header__nav-item
					a(href="").header__nav-link Криптовалюты
				li.header__nav-item
					a(href="").header__nav-link Новости
				li.header__nav-item
					a(href="").header__nav-link Отделения и банкоматы
				li.header__nav-item
					a(href="").header__nav-link Контакты
			ul.header-menu
				li.header-menu__item
					a(href="" data-drop="#menu-drop-credit").header-menu__link КРЕДИТЫ
						i.icon-angle-down.header-menu__link--icon
				li.header-menu__item
					a(href="" data-drop="#menu-drop-loan").header-menu__link ЗАЙМЫ
						i.icon-angle-down.header-menu__link--icon
				li.header-menu__item
					a(href="" data-drop="#menu-drop-cards").header-menu__link КАРТЫ
						i.icon-angle-down.header-menu__link--icon
				li.header-menu__item
					a(href="" data-drop="#menu-drop-banks").header-menu__link БАНКИ
						i.icon-angle-down.header-menu__link--icon
				li.header-menu__item
					a(href="" data-drop="#menu-drop-exchange-rates").header-menu__link КУРСЫ ВАЛЮТ
						i.icon-angle-down.header-menu__link--icon
				li.header-menu__item
					a(href="" data-drop="#menu-drop-useful").header-menu__link ЕЩЕ
						i.icon-angle-down.header-menu__link--icon
		.menu-drop#menu-drop-loan
			a(href="").menu-drop__back
				i.icon-angle-left
				|  Назад
			.main-container
				.menu-drop__inner
					.menu-drop__head
						.menu-drop__name ЗАЙМЫ
						p.menu-drop__p-info Более 40 займов от 100 МФО
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/loan.svg" alt="").menu-drop__title-img
							|  Микрозаймы
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Беспроцентный
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Без справок
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Наличными
							li.menu-drop__list-item
								a(href="").menu-drop__list-link В банке
							li.menu-drop__list-item
								a(href="").menu-drop__list-link На карту
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/bank.svg" alt="").menu-drop__title-img
							|  МФО
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Moneyveo
							li.menu-drop__list-item
								a(href="").menu-drop__list-link ШвидкоГрошi
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Ссloan
		.menu-drop#menu-drop-credit
			a(href="").menu-drop__back
				i.icon-angle-left
				|  Назад
			.main-container
				.menu-drop__inner
					.menu-drop__head
						.menu-drop__name КРЕДИТЫ
						p.menu-drop__p-info Более 126 кредитов в 30 банках Украины
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/money.svg" alt="").menu-drop__title-img
							|  Потребительский
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link подбоп кредита
							li.menu-drop__list-item
								a(href="").menu-drop__list-link без поручителей
							li.menu-drop__list-item
								a(href="").menu-drop__list-link наличными
							li.menu-drop__list-item
								a(href="").menu-drop__list-link без справок
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/bank.svg" alt="").menu-drop__title-img
							|  Банки
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link подбоп кредита
							li.menu-drop__list-item
								a(href="").menu-drop__list-link без поручителей
							li.menu-drop__list-item
								a(href="").menu-drop__list-link наличными
							li.menu-drop__list-item
								a(href="").menu-drop__list-link без справок
		.menu-drop#menu-drop-cards
			a(href="").menu-drop__back
				i.icon-angle-left
				|  Назад
			.main-container
				.menu-drop__inner
					.menu-drop__head
						.menu-drop__name КАРТЫ
						p.menu-drop__p-info Более 150 карт от 30 банков
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/credit-card.svg" alt="").menu-drop__title-img
							|  Кредитные карты
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link кэшбек
							li.menu-drop__list-item
								a(href="").menu-drop__list-link бонусы
							li.menu-drop__list-item
								a(href="").menu-drop__list-link процент на остаток
							li.menu-drop__list-item
								a(href="").menu-drop__list-link снятие наличных без процентов
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/debit-card.svg" alt="").menu-drop__title-img
							|  Дебетовые карты
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link кэшбек
							li.menu-drop__list-item
								a(href="").menu-drop__list-link бесплатные
							li.menu-drop__list-item
								a(href="").menu-drop__list-link процент на остаток
							li.menu-drop__list-item
								a(href="").menu-drop__list-link visa
							li.menu-drop__list-item
								a(href="").menu-drop__list-link mastercard
		.menu-drop#menu-drop-banks
			a(href="").menu-drop__back
				i.icon-angle-left
				|  Назад
			.main-container
				.menu-drop__inner
					.menu-drop__head
						.menu-drop__name КАРТЫ
						p.menu-drop__p-info Более 150 карт от 30 банков
					.col-1-3.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/bank.svg" alt="").menu-drop__title-img
							|  Лучшее Банки
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Приват Банк
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Альфа Банк
							li.menu-drop__list-item
								a(href="").menu-drop__list-link OTP Банк
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Райфайзен Банк
					.col-1-3.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/place.svg" alt="").menu-drop__title-img
							|  Адреса Банков
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Отделения
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Банкоматы и терминалы
					.col-1-3.menu-drop__item
						a(href="").menu-drop__title
							img(src="img/icons/chart.svg" alt="").menu-drop__title-img
							|  Рейтинг Банков
		.menu-drop#menu-drop-exchange-rates
			a(href="").menu-drop__back
				i.icon-angle-left
				|  Назад
			.main-container
				.menu-drop__inner
					.menu-drop__head
						.menu-drop__name КУРСЫ ВАЛЮТ
						p.menu-drop__p-info Самые свежие курсы валют
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/exchange-rate.svg" alt="").menu-drop__title-img
							|  Лучшие курсы
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Курсы валют
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Курсы НБУ
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Курс доллара USD
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Курс евро EUR
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/cryptocurrency.svg" alt="").menu-drop__title-img
							|  Криптовалюта
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Курс Bitcoin
		.menu-drop#menu-drop-useful
			a(href="").menu-drop__back
				i.icon-angle-left
				|  Назад
			.main-container
				.menu-drop__inner
					.menu-drop__head
						.menu-drop__name ПОЛЕЗНОЕ
						p.menu-drop__p-info Новости, калькуляторы аналитика
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							i.icon-lamp
							|  Статьи и новости
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Новости
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Вопросы и ответы
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Отзывы о банках
					.col-1-2.menu-drop__item
						h3.menu-drop__title
							img(src="img/icons/bank.svg" alt="").menu-drop__title-img
							|  Услуги
						ul.menu-drop__list
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Перевод с карты на карту
							li.menu-drop__list-item
								a(href="").menu-drop__list-link Калькулятор
.search-cont
	.main-container
		.search-cont__inner
			a(href="").search-cont__close
				i.icon-close
			i.icon-search
			input(type="text" placeholder="Поиск по сайту...").search-cont__input


