.page-welcome
  .main-container
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--line /
      li.breadcrumbs__item Займы
    h1.main-title Займы в
      span  Украине
    .page-welcome__info Денежные займы 2020 года от МФО Украине - их сроки, проценты в день, способы выдачи и получения.
      br
      |  Изучите список микрозаймов и оформите заявку на подходящий вариант.
.filter
  .main-container
    .filter__row
      .filter__item
        input(type="text" placeholder="Введите нужную  сумму").filter__input
        #filter-amount.filter-slider
      .filter__item.filter__item--time
        input(type="text" placeholder="От 1 до 90").filter__input
        #filter-time.filter-slider
        .filter__select
          select.select-styler
            option Дней
            option Недель
            option Месяцов
      .filter__submit
        a(href="").btn.btn--green Показать результат
    ul.filter__nav
      li.filter__nav-item
        a(href="").filter__nav-link Лучшее
      li.filter__nav-item
        a(href="").filter__nav-link Без справок
      li.filter__nav-item
        a(href="").filter__nav-link Наличными
      li.filter__nav-item
        a(href="").filter__nav-link В банке
      li.filter__nav-item
        a(href="").filter__nav-link На карту
      li.filter__nav-item
        a(href="").filter__nav-link Беспроцентный
.loans-inner
  .main-container
    .container-a
      .container-a__cont
        .title-group
          h3.category-title
            span Лучшие предложение месяца
            ul.rating
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item.rating__item--active
                i.icon-star
              li.rating__item
                i.icon-star
              li.rating__item
                i.icon-star
        .loans-top.loans-top--lg
          .loans-top__item
            span.loans-top__label ТОП ЗАЙМ
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              a(href="").btn.btn--green.loans-top__btn Оформить заявку
          .loans-top__item
            span.loans-top__label ТОП ЗАЙМ
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              a(href="").btn.btn--green.loans-top__btn Оформить заявку
          .loans-top__item
            span.loans-top__label ТОП ЗАЙМ
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              a(href="").btn.btn--green.loans-top__btn Оформить заявку
          .loans-top__item
            span.loans-top__label ТОП ЗАЙМ
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              a(href="").btn.btn--green.loans-top__btn Оформить заявку
        .loans-slider-wrap
          .loans-slider
            .loans-slider__item
              .loans-slider__inner
                .loans-slider__img-w
                  img(src="img/pic-27.png" alt="").loans-slider__img
                .loans-slider__name Займ от ШвідкоГрошi
                ul.loans-slider__list
                  li.loans-slider__list-item
                    b От 0.4%
                  li.loans-slider__list-item Cумма до 10000 грн
                  li.loans-slider__list-item Срок 1 - 30 дней
                .loans-slider__footer
                  a(href="").btn.btn--green Оформить заявку
            .loans-slider__item
              .loans-slider__inner
                .loans-slider__img-w
                  img(src="img/pic-27.png" alt="").loans-slider__img
                .loans-slider__name Займ от ШвідкоГрошi
                ul.loans-slider__list
                  li.loans-slider__list-item
                    b От 0.4%
                  li.loans-slider__list-item Cумма до 10000 грн
                  li.loans-slider__list-item Срок 1 - 30 дней
                .loans-slider__footer
                  a(href="").btn.btn--green Оформить заявку
            .loans-slider__item
              .loans-slider__inner
                .loans-slider__img-w
                  img(src="img/pic-27.png" alt="").loans-slider__img
                .loans-slider__name Займ от ШвідкоГрошi
                ul.loans-slider__list
                  li.loans-slider__list-item
                    b От 0.4%
                  li.loans-slider__list-item Cумма до 10000 грн
                  li.loans-slider__list-item Срок 1 - 30 дней
                .loans-slider__footer
                  a(href="").btn.btn--green Оформить заявку
            .loans-slider__item
              .loans-slider__inner
                .loans-slider__img-w
                  img(src="img/pic-27.png" alt="").loans-slider__img
                .loans-slider__name Займ от ШвідкоГрошi
                ul.loans-slider__list
                  li.loans-slider__list-item
                    b От 0.4%
                  li.loans-slider__list-item Cумма до 10000 грн
                  li.loans-slider__list-item Срок 1 - 30 дней
                .loans-slider__footer
                  a(href="").btn.btn--green Оформить заявку
        h3.category-title Все займы Украины
        .loans-top.mb-0
          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
          .loans-top__item
            .loans-top__col-img
              a(href="").loans-top__img-link
                img(src="img/pic-27.png" alt="").loans-top__img
              .loans-top__name ШвидкоГрошi
              ul.rating
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item.rating__item--active
                  i.icon-star
                li.rating__item
                  i.icon-star
                li.rating__item
                  i.icon-star
              p.rating--num (4.75)
            .loans-top__col-cont
              table.loans-top__table
                tr
                  th мак. сумма
                  th ставка в день
                  th на срок
                tr
                  td
                    span до
                    |  10000 грн
                  td 01%
                  td 1-30
                    span  дней
              .loans-top__btn-group
                a(href="").btn.btn--green Оформить заявку
        .text-center
          a(href="").btn-more Смотреть все предложения
        include _comments
      .container-a__aside
        .subscription
          h3.subscription__title Подпишись и узнай последние новости и акции
          .form-row
            input(type="text" placeholder="Имя и фамилия").form-row__input
          .form-row
            input(type="text" placeholder="Email").form-row__input
          .form-row.form-row--checkbox
            label.checkbox
              .checkbox__inner
                input.checkbox__input(type='checkbox', checked='')
                .checkbox__cont
                  i.icon-check
            .col
              p Даю согласиен на
                |
                a(href="").link-to оброботку персональных данных
          .text-center
            a(href="").btn.btn--large.btn--green Подписаться

  .news-w
    .main-container
      h3.category-title Новости микрофинансовых организаций
      ul.news-w__list
        li.news-w__list-item
          a(href="").news-w__list-inner
            .news-w__list-img(style="background-image:url('img/pic-28.png')")
            .news-w__list-cont
              .news-w__list-name Колектори ответілі тем, кто просіт обнуліть кредіт
              .news-w__list-date 24.04.2020
        li.news-w__list-item
          a(href="").news-w__list-inner
            .news-w__list-img(style="background-image:url('img/pic-28.png')")
            .news-w__list-cont
              .news-w__list-name Колектори ответілі тем, кто просіт обнуліть кредіт
              .news-w__list-date 24.04.2020
        li.news-w__list-item
          a(href="").news-w__list-inner
            .news-w__list-img(style="background-image:url('img/pic-28.png')")
            .news-w__list-cont
              .news-w__list-name Колектори ответілі тем, кто просіт обнуліть кредіт
              .news-w__list-date 24.04.2020
      .text-center
        a(href="").btn-more Смотреть все новости
  include _feedback





