.page-welcome
	.main-container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item Кредитный калькулятор
		h1.main-title Кредитный калькулятор онлайн
		.page-welcome__info Кредитный калькулятор онлайн позволит рассчитать переплаты по кредиту относительно выбранных параметров по аннуитетной или дифференцированной схеме.
.loan-calculator
	.main-container
		.loan-calculator__row
			.loan-calculator__aside
				form
					.filter
						.filter__row
							.filter__item.col
								.filter__label Сумма кредита
								input(type="text" placeholder="Введите нужную  сумму").filter__input
								#filter-amount.filter-slider
							.filter__item.filter__item--small
								.filter__label Ставка, %
								select.select-styler
									option Грн
									option Usd
									option Eur
						.filter__row
							.filter__item.col
								.filter__label Срок кредита, мес
								input(type="text" placeholder="Введите нужную  сумму").filter__input
								#filter-time.filter-slider
							.filter__item.filter__item--small
								.filter__label Ставка, %
								select.select-styler
									option Грн
									option Usd
									option Eur
					ul.loan-calculator__radio
						li.loan-calculator__radio-item
							label.loan-calculator__radio-inner
								input(type="radio" name="lc-radio" checked).loan-calculator__radio-input
								.loan-calculator__radio-cont Аннуитетный
						li.loan-calculator__radio-item
							label.loan-calculator__radio-inner
								input(type="radio" name="lc-radio").loan-calculator__radio-input
								.loan-calculator__radio-cont Дифференцированный
					.loan-calculator__date
						input(type="text" value="04.11.2020").loan-calculator__date-input
					a(href="").loan-calculator__btn Добавить Комиссии
			.loan-calculator__cont
				.loan-calculator__inner
					.col.loan-calculator__table-w
						h3 Расчет Кредита
						table.loan-calculator__table
							tr
								td
									span.loan-calculator__table-circle.loan-calculator__table-circle--green
									|  Сумма Кредита
								td
									.loan-calculator__table-price
										b 100 000
										|  ₴
							tr
								td
									span.loan-calculator__table-circle.loan-calculator__table-circle--red
									|  Переплата по кредиту
								td
									.loan-calculator__table-price
										b 21 740.4
										|  ₴
							tr
								td Общая сумма выплат
								td
									.loan-calculator__table-price 110 747.82 ₴
							tr
								td Процент переплаты
								td
									.loan-calculator__table-price 10.75 %
							tr
								td Полная стоимость кредита
								td
									.loan-calculator__table-price 10.08 %
							tr
								td Окончание выплат
								td
									.loan-calculator__table-price Январь 2021
						a(href="").lc-btn
							i.icon-calendar
							|  Показать График Выплат
						.text-center
							a(href="").link-to-d Показать подходящие кредиты
					.loan-calculator__chart-w
						.text-center
							a(href="").btn.btn--blue
								i.icon-download
								|  Скачать PDF
						.loan-calculator__chart
							svg.circle-chart(viewBox='0 0 180 180', width='180', height='180', xmlns='http://www.w3.org/2000/svg')
								circle.circle-chart__background(stroke='#96CC61', stroke-width='8', fill='none', cx='90', cy='90', r='85')
								circle.circle-chart__circle(stroke='#E83939', stroke-width='8', stroke-dasharray='134,534', fill='none', cx='90', cy='90', r='85')
							.loan-calculator__chart-cont
								.loan-calculator__chart-inner
									p Платеж
										br
										| в мес.
									.loan-calculator__chart-price 4 614.05
										span  ₴
						ul.lc-info
							li.lc-info__item
								span.lc-info__circle.lc-info__circle--green
								|  Сумма Кредита
							li.lc-info__item
								span.lc-info__circle.lc-info__circle--red
								|  Переплата по кредиту
						.text-center
							a(href="").link-to-d Скопировать Ссылку
.best-offer-s-wrap-2
	.main-container
		h3 Лучшие кредитные предложения!
	.best-offer-s-color
		.main-container
			.best-offer-s
				.best-offer-s__item
					.best-offer-s__inner
						.best-offer-s__popular
						.best-offer-s__header
							div
								img(src="img/pic-32.png" alt="").best-offer-s__header-img-2
						.best-offer-s__name Потребительский
						.best-offer-s__amount-2
							.best-offer-s__amount-2-persent 6%
							p От 10 до 500 тыс.
							p от 6 до 48 мес.
						.best-offer-s__footer
							a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
				.best-offer-s__item
					.best-offer-s__inner
						.best-offer-s__popular
						.best-offer-s__header
							div
								img(src="img/pic-32.png" alt="").best-offer-s__header-img-2
						.best-offer-s__name Потребительский
						.best-offer-s__amount-2
							.best-offer-s__amount-2-persent 6%
							p От 10 до 500 тыс.
							p от 6 до 48 мес.
						.best-offer-s__footer
							a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
				.best-offer-s__item
					.best-offer-s__inner
						.best-offer-s__popular
						.best-offer-s__header
							div
								img(src="img/pic-32.png" alt="").best-offer-s__header-img-2
						.best-offer-s__name Потребительский
						.best-offer-s__amount-2
							.best-offer-s__amount-2-persent 6%
							p От 10 до 500 тыс.
							p от 6 до 48 мес.
						.best-offer-s__footer
							a(href="").btn.btn--green.best-offer-s__btn Оформить заявку
				.best-offer-s__item
					.best-offer-s__inner
						.best-offer-s__popular
						.best-offer-s__header
							div
								img(src="img/pic-32.png" alt="").best-offer-s__header-img-2
						.best-offer-s__name Потребительский
						.best-offer-s__amount-2
							.best-offer-s__amount-2-persent 6%
							p От 10 до 500 тыс.
							p от 6 до 48 мес.
						.best-offer-s__footer
							a(href="").btn.btn--green.best-offer-s__btn Оформить заявку

