.page-welcome
  .main-container
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--line /
      li.breadcrumbs__item Новости
    h1.main-title Новости
      span  Украины
    .page-welcome__info Последние новости
.main-container.all-news
  .container-a
    .container-a__cont
      .all-news__cont
        ul.tabs-list
          li.tabs-list__item
            a(href="").tabs-list__link.tabs-list__link--active Все новости
          li.tabs-list__item
            a(href="").tabs-list__link Банки
          li.tabs-list__item
            a(href="").tabs-list__link Деньги
          li.tabs-list__item
            a(href="").tabs-list__link Пресс-релизы
          li.tabs-list__item
            a(href="").tabs-list__link Экономика и бизнесс
        ul.news-list-m
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          li.news-list-m__item
            a(href="").news-list-m__inner(style="background-image: url('img/pic-21.png');")
              .news-list-m__cont
                p.news-list-m__date 24.06.2020, 07:33
                h3.news-list-m__title Прогноз по валютам: как поведут себя доллар и евро после карантина
        ul.pagination
          li.pagination__item
            a(href="").pagination__link
              i.icon-angle-left
          li.pagination__item
            a(href="").pagination__link.pagination__link--active 1
          li.pagination__item
            a(href="").pagination__link 2
          li.pagination__item
            a(href="").pagination__link 3
          li.pagination__item
            a(href="").pagination__link 4
          li.pagination__item
            a(href="").pagination__link 5
          li.pagination__item
            span.pagination__item-dots ...
          li.pagination__item
            a(href="").pagination__link 10
          li.pagination__item
            a(href="").pagination__link
              i.icon-angle-right
    .container-a__aside
      .bn-block
        a(href="")
          img(src="img/pic-20.png" alt="")
