.news-inner
  .news-inner__welcome(style="background-image:url('img/pic-23.png')")
    //img(src="img/pic-23.png" alt="").news-inner__welcome-img
    .main-container.news-inner__welcome-cont
      .news-inner__welcome-date 24.06.2020, 07:33
      h1.news-inner__welcome-title Прогноз по валютам: как поведут себя доллар и евро после карантина
  .news-inner__wrap
    .main-container
      .news-inner__cont
        ul.social
          li.social__item
            a(href="").social__link
              img(src="img/youtube.svg" alt="").social__img
          li.social__item
            a(href="").social__link
              img(src="img/facebook.svg" alt="").social__img
          li.social__item
            a(href="").social__link
              img(src="img/telegram.svg" alt="").social__img
          li.social__item
            a(href="").social__link
              img(src="img/twitter.svg" alt="").social__img
        p Как мы всей редакцией Bankiros.ru смотрели в книгу, и не понимали, почему лыжи не едут.
        p На днях Сбербанк крайне аккуратно объявил, что наконец-то подключился к Системе быстрых платежей (СБП). Причем ЦБ разработал систему мгновенных переводов по номеру мобильного телефона еще полтора года назад. Главная ее особенность в том, что переводы должны быть бесплатными. Ну, или почти бесплатными.
        p Большинство банков подключились к системе в прошлом году. Некоторое время переводы с карты на карту были бесплатными или с минимальной комиссией. Но в период пандемии любые взыскания вовсе отменили.
        p скриншот сайта ЦБ РФ
        p Сбербанк держал оборону дольше всех. Герман Греф регулярно критиковал СБП, ссылаться на то, что после присоединения к системе бесплатных переводов бизнес-модель банка будет сломана. Но несколько дней назад госбанк разрешил своим клиентам переводить деньги в другие кредитные организации через программу ЦБ.
        p Подводные камни
        p Бесплатные переводы в приложении Сбербанка действительно появились, но найти их не так-то просто. Наша первая попытка не увенчалась успехом: мы быстро нашли переводы в другой банк, правда, они оказались платными:
        p Bankiros.ru
        p После этого мы обратились в пресс-службу Сбербанка за разъяснением. Там намекнули, что мы делаем что-то не то, но конкретики не последовало.
        .news-m
          .news-m__img
            a(href="").news-m__img-link
              img(src="img/pic-24.png" alt="")
          .news-m__cont
            h3.news-m__title
              a(href="") Прогноз по валютам: как поведут себя доллар и евро после карантина
            .news-m__date
              i.icon-clock
              |  24.06.2020, 07:33
        p «В настоящий момент сервис переводов в СБП доступен всем клиентам Сбербанка в мобильном приложении «Сбербанк Онлайн» на платформах iOS и Android. Вся информация о переводах в рамках СБП размещена в разделе сайте банка», – сообщили в пресс-службе и приложили ссылку на инструкцию.
        p изображение
        p Читайте также:
        p Костин рассказал, почему раздавать деньги россиянам опасно
        p Как выяснилось, чтобы перевести деньги с карты Сбербанка на карту другого банка, сначала необходимо вручную подключиться к системе. Для этого следует открыть личный кабинет (ткнуть туда, где изображена ваша аватарка). Далее нажать на серое колесико на белом фоне, найти вкладку «Соглашения» и там поставить несколько галочек.
        p Bankiros.ru
        p На что нужно обратить внимание:чтобы получать и принимать переводы по Системе быстрых платежей бесплатно, нужно дать два (!) разрешения!
        p К слову, большинство других банков подключали клиентов автоматически, а новую форму с бесплатными переводами давно вывели «на видное место».
        p Напомним, что по итогам прошлого года чистый комиссионный доход Сбербанка составил 469,5 млрд рублей. Это на 9,9% больше, чем годом ранее.
