.news
	.main-container
		h3.category-title Новости
		ul.news-list
			li.news-list__item
				a(href="").news-list__link.news-list__link--active Банки
			li.news-list__item
				a(href="").news-list__link Пресс-релизы
			li.news-list__item
				a(href="").news-list__link Деньги
			li.news-list__item
				a(href="").news-list__link Право
			li.news-list__item
				a(href="").news-list__link Экономика и бизнес
		.container-a
			.container-a__cont
				.news-lg
					.news-lg__item
						a(href="" style="background-image: url('img/pic-21.png');").news-lg__inner
							.news-lg__cont
								.news-lg__date
									i.icon-clock
									|  24.06.2020, 07:33
								h3.news-lg__title Прогноз по валютам: как поведут себя доллар и евро после карантина
					.news-lg__item
						a(href="" style="background-image: url('img/pic-21.png');").news-lg__inner
							.news-lg__cont
								.news-lg__date
									i.icon-clock
									|  24.06.2020, 07:33
								h3.news-lg__title Прогноз по валютам: как поведут себя доллар и евро после карантина
				ul.news-n
					li.news-n__item
						a(href="").news-n__inner
							.news-n__img(style="background-image: url('img/pic-21.png');")
							.news-n__cont
								.news-n__date
									i.icon-clock
									|  24.06.2020, 07:33
								h3.news-n__title Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.news-n__item
						a(href="").news-n__inner
							.news-n__img(style="background-image: url('img/pic-21.png');")
							.news-n__cont
								.news-n__date
									i.icon-clock
									|  24.06.2020, 07:33
								h3.news-n__title Прогноз по валютам: как поведут себя доллар и евро после карантина
					li.news-n__item
						a(href="").news-n__inner
							.news-n__img(style="background-image: url('img/pic-21.png');")
							.news-n__cont
								.news-n__date
									i.icon-clock
									|  24.06.2020, 07:33
								h3.news-n__title Прогноз по валютам: как поведут себя доллар и евро после карантина
				.text-center
					a(href="").btn-more.mt-0 Смотреть все новости
			.container-a__aside
				.bn-block
					a(href="")
						img(src="img/pic-9.png" alt="")

