.news
  .main-container
    h3.category-title Новости
    ul.news-list
      li.news-list__item
        a(href="").news-list__link.news-list__link--active Банки
      li.news-list__item
        a(href="").news-list__link Пресс-релизы
      li.news-list__item
        a(href="").news-list__link Деньги
      li.news-list__item
        a(href="").news-list__link Право
      li.news-list__item
        a(href="").news-list__link Экономика и бизнес
    .container-a
      .container-a__cont
        .news-big(style="background-image:url('img/pic-8.jpg')")
          a(href="").news-big__link
          .news-big__inner
            .news-big__date
              i.icon-clock
              |  24.06.2020, 07:33
            h3.news-big__title Прогноз по валютам: как поведут себя доллар и евро после
              br
              |  карантина
      .container-a__aside
        .bn-block
          a(href="")
            img(src="img/pic-9.png" alt="")
    .expert-opinions
      h3.category-title Мнения экспертов
      .expert-opinions-s-wrap
        .expert-opinions-s
          .expert-opinions-s__item
            .expert-opinions-s__inner
              .expert-opinions-s__avatar(style="background-image:url('img/pic-10.png')")
              .expert-opinions-s__header
                .expert-opinions-s__name Илькив Олесь
                p.expert-opinions-s__position Старгий аналитик компании “Finposter”
              .expert-opinions-s__text Прогноз по валютам: как поведут себя доллар и евро после Радоницы
              .expert-opinions-s__footer
                .col-auto
                  .expert-opinions-s__category ВАЛЮТНЫЙ РЫНОК
                .col-auto.ml-auto
                  .expert-opinions-s__date 24.06.2020, 07:33
          .expert-opinions-s__item
            .expert-opinions-s__inner
              .expert-opinions-s__avatar(style="background-image:url('img/pic-10.png')")
              .expert-opinions-s__header
                .expert-opinions-s__name Илькив Олесь
                p.expert-opinions-s__position Старгий аналитик компании “Finposter”
              .expert-opinions-s__text Прогноз по валютам: как поведут себя доллар и евро после Радоницы
              .expert-opinions-s__footer
                .col-auto
                  .expert-opinions-s__category ВАЛЮТНЫЙ РЫНОК
                .col-auto.ml-auto
                  .expert-opinions-s__date 24.06.2020, 07:33
          .expert-opinions-s__item
            .expert-opinions-s__inner
              .expert-opinions-s__avatar(style="background-image:url('img/pic-10.png')")
              .expert-opinions-s__header
                .expert-opinions-s__name Илькив Олесь
                p.expert-opinions-s__position Старгий аналитик компании “Finposter”
              .expert-opinions-s__text Прогноз по валютам: как поведут себя доллар и евро после Радоницы
              .expert-opinions-s__footer
                .col-auto
                  .expert-opinions-s__category ВАЛЮТНЫЙ РЫНОК
                .col-auto.ml-auto
                  .expert-opinions-s__date 24.06.2020, 07:33
          .expert-opinions-s__item
            .expert-opinions-s__inner
              .expert-opinions-s__avatar(style="background-image:url('img/pic-10.png')")
              .expert-opinions-s__header
                .expert-opinions-s__name Илькив Олесь
                p.expert-opinions-s__position Старгий аналитик компании “Finposter”
              .expert-opinions-s__text Прогноз по валютам: как поведут себя доллар и евро после Радоницы
              .expert-opinions-s__footer
                .col-auto
                  .expert-opinions-s__category ВАЛЮТНЫЙ РЫНОК
                .col-auto.ml-auto
                  .expert-opinions-s__date 24.06.2020, 07:33
      .last-news
        .text-right
          a(href="").link-g Все новости
        ul.last-news-list
          .last-news-list__item
            a(href="").last-news-list__inner
              .last-news-list__img(style="background-image:url('img/pic-11.png')")
              .last-news-list__cont
                p.last-news-list__date
                  i.icon-clock
                  |  24.06.2020, 07:33
                h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          .last-news-list__item
            a(href="").last-news-list__inner
              .last-news-list__img(style="background-image:url('img/pic-12.png')")
              .last-news-list__cont
                p.last-news-list__date
                  i.icon-clock
                  |  24.06.2020, 07:33
                h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          .last-news-list__item
            a(href="").last-news-list__inner
              .last-news-list__img(style="background-image:url('img/pic-13.png')")
              .last-news-list__cont
                p.last-news-list__date
                  i.icon-clock
                  |  24.06.2020, 07:33
                h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          .last-news-list__item
            a(href="").last-news-list__inner
              .last-news-list__img(style="background-image:url('img/pic-14.png')")
              .last-news-list__cont
                p.last-news-list__date
                  i.icon-clock
                  |  24.06.2020, 07:33
                h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
        .last-news__category
          .last-news__category-item
            .last-news__category-header
              h3.category-title Банки
            ul.last-news-list
              .last-news-list__item
                a(href="").last-news-list__inner
                  .last-news-list__img(style="background-image:url('img/pic-14.png')")
                  .last-news-list__cont
                    p.last-news-list__date
                      i.icon-clock
                      |  24.06.2020, 07:33
                    h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
              .last-news-list__item
                a(href="").last-news-list__inner
                  .last-news-list__img(style="background-image:url('img/pic-15.png')")
                  .last-news-list__cont
                    p.last-news-list__date
                      i.icon-clock
                      |  24.06.2020, 07:33
                    h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          .last-news__category-item
            .last-news__category-header
              h3.category-title Деньги
            ul.last-news-list
              .last-news-list__item
                a(href="").last-news-list__inner
                  .last-news-list__img(style="background-image:url('img/pic-16.png')")
                  .last-news-list__cont
                    p.last-news-list__date
                      i.icon-clock
                      |  24.06.2020, 07:33
                    h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
              .last-news-list__item
                a(href="").last-news-list__inner
                  .last-news-list__img(style="background-image:url('img/pic-17.png')")
                  .last-news-list__cont
                    p.last-news-list__date
                      i.icon-clock
                      |  24.06.2020, 07:33
                    h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          .last-news__category-item
            .last-news__category-header
              h3.category-title Пресс-релизы
            ul.last-news-list
              .last-news-list__item
                a(href="").last-news-list__inner
                  .last-news-list__img(style="background-image:url('img/pic-16.png')")
                  .last-news-list__cont
                    p.last-news-list__date
                      i.icon-clock
                      |  24.06.2020, 07:33
                    h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
              .last-news-list__item
                a(href="").last-news-list__inner
                  .last-news-list__img(style="background-image:url('img/pic-17.png')")
                  .last-news-list__cont
                    p.last-news-list__date
                      i.icon-clock
                      |  24.06.2020, 07:33
                    h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
          .last-news__category-item
            .last-news__category-header
              h3.category-title Пресс-релизы
            ul.last-news-list
              .last-news-list__item
                a(href="").last-news-list__inner
                  .last-news-list__img(style="background-image:url('img/pic-18.png')")
                  .last-news-list__cont
                    p.last-news-list__date
                      i.icon-clock
                      |  24.06.2020, 07:33
                    h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
              .last-news-list__item
                a(href="").last-news-list__inner
                  .last-news-list__img(style="background-image:url('img/pic-19.png')")
                  .last-news-list__cont
                    p.last-news-list__date
                      i.icon-clock
                      |  24.06.2020, 07:33
                    h3.last-news-list__title Прогноз по валютам: как поведут себя доллар и евро после карантина
        .text-center
          a(href="").btn-more Все новости
