.offers-b 
  .offers-b__item
    a(href="").offers-b__img-w
      img(src="img/pic-37.png", alt="")
    .offers-b__cont
      .offers-b__cont-item
        .offers-b__name Предложения от Банка
        .offers-b__category ПриватБанк
      .offers-b__cont-item
        p 
          b 5.65%
        p Ставка на год
      .offers-b__cont-item
        p 
          b От 1 млн. 
            span.grn ₴ 
        p Сумма
    .offers-b__btn-w
      a(href="").btn.btn--green Ознакомиться
  .offers-b__item
    a(href="").offers-b__img-w
      img(src="img/pic-37.png", alt="")
    .offers-b__cont
      .offers-b__cont-item
        .offers-b__name Предложения от Банка
        .offers-b__category ПриватБанк
      .offers-b__cont-item
        p 
          b 5.65%
        p Ставка на год
      .offers-b__cont-item
        p 
          b От 1 млн. 
            span.grn ₴ 
        p Сумма
    .offers-b__btn-w
      a(href="").btn.btn--green Ознакомиться
  .offers-b__item
    a(href="").offers-b__img-w
      img(src="img/pic-37.png", alt="")
    .offers-b__cont
      .offers-b__cont-item
        .offers-b__name Предложения от Банка
        .offers-b__category ПриватБанк
      .offers-b__cont-item
        p 
          b 5.65%
        p Ставка на год
      .offers-b__cont-item
        p 
          b От 1 млн. 
            span.grn ₴ 
        p Сумма
    .offers-b__btn-w
      a(href="").btn.btn--green Ознакомиться