.partners-n
	.main-container
		h3.category-title Наши партнеры
	.partners-n__inner
		.main-container
			.partners-slider-n
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-2.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-3.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-4.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-5.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-6.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-7.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-2.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-3.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-4.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-5.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-6.png" alt="").partners-slider-n__img
				.partners-slider-n__item
					a(href="" target="_blank").partners-slider-n__link
						img(src="img/pic-7.png" alt="").partners-slider-n__img
