.partners
  .main-container
    .partners-slider
      .partners-slider__item
        a(href="" target="_blank").partners-slider__link
          img(src="img/pic-2.png" alt="").partners-slider__img
      .partners-slider__item
        a(href="" target="_blank").partners-slider__link
          img(src="img/pic-3.png" alt="").partners-slider__img
      .partners-slider__item
        a(href="" target="_blank").partners-slider__link
          img(src="img/pic-4.png" alt="").partners-slider__img
      .partners-slider__item
        a(href="" target="_blank").partners-slider__link
          img(src="img/pic-5.png" alt="").partners-slider__img
      .partners-slider__item
        a(href="" target="_blank").partners-slider__link
          img(src="img/pic-6.png" alt="").partners-slider__img
      .partners-slider__item
        a(href="" target="_blank").partners-slider__link
          img(src="img/pic-7.png" alt="").partners-slider__img
