.page-welcome
  .main-container
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item.breadcrumbs__item--line /
      li.breadcrumbs__item Политика конфиденциальности
    h1.main-title Политика
      span  конфиденциальности
.main-container.text-page-inner.all-news
  .container-a
    .container-a__cont
      include _seo-text
    .container-a__aside
      .bn-block
        a(href="")
          img(src="img/pic-20.png" alt="")

