.text-cont
  .main-container
    h2 Взять займ под проценты
    p В 2020 году получить деньги можно без банка. Подобную услугу предлагают микрофинансовые организации РФ.
    p Сегодня их огромное количество есть в каждом городе. Благодаря конкуренции и желанию привлечь клиентов появляется возможность найти предложения с более выгодными процентными ставками и лояльными условиями.
    .text-center
      a(href="").link-to Топ онлайн-займов
    h2 Условия денежных займов
    p Оформить займ физическим лицам по всей России можно на небольшую сумму. По мере получения положительного опыта взаимодействия с МФО этот параметр может увеличиваться. Клиенты на момент получения денег не может быть меньше 18 лет, некоторые компании ограничивают верхний предел 65 годами.
    p Взять деньги в займ можно с возможностью выбора наиболее подходящего способа погашения:
    ul
      li наличными в отделении;
      li банковской картой;
      li лектронными платежными системами;
      li терминалами самообслуживания.
    p Чтобы подобрать выгодный вариант и оценить свои шансы на погашение, воспользуйтесь калькулятором процентов по займу. С его помощью вы узнаете полную сумму переплаты вместе с возможными штрафами.
    h2 Какие виды займов бывают?
    p Получить займ можно:
    ol
      li На банковскую карту. Такая форма пользуется популярностью, поскольку дает возможность стать обладателем необходимой суммы без посещения филиала. Деньги перечисляются на указанный банковский счет.
      li На номер телефона. Особенность предложений – небольшие суммы к выдаче. Не все операторы поддерживают услугу, поэтому перед выбором варианта следует уточнить информацию.
      li На электронный кошелек (займ на Киви, или займ на Яндекс.Деньги, или другой электронный кошелек). Позволяет произвести оформление денежных займов без личной встречи с менеджером МФО, но предполагает довольно высокие комиссии при необходимости снятия средств.
      li Наличными. Получить деньги придется после посещения отделения. Можно получить и специальную пластиковую карту с возможностью снятия денег через терминалы самообслуживания.
    h2 Чем удобны микрозаймы?
    p Существует огромный список предложений, позволяющих взять деньги в займ в день обращения. Отличаются предложения:
    ul
      li быстрыми сроками рассмотрения заявки;
      li возможностью оформления практически любому человеку;
      li минимальными требованиями к физическим лицам.
    h2 Какие документы нужны?
    p Оформление процентного займа обычно проходит только по паспорту. Данные можно указать в онлайн-заявке на займ, приложив его скан.
    p Если требуется крупная сумма, могут предложить предоставить и второй документ. Это может быть водительское удостоверение, студенческий билет, СНИЛС. Микрофинансовые оганизации не предполагают проверку кредитной истории или справок о доходах.