.services-f
	.main-container
		h3.category-title Сервисы и продукты Финпостер
		ul.services-f__list
			li.services-f__list-item
				.services-f__list-name-w
					.services-f__list-name
						.services-f__list-name-ico-w
							img(src="img/icons/bank.svg" alt="" width="36").services-f__list-name-ico
						|  Кредиты
				.col.services-f__list-cont
					.col-1-2
						ul.services-f__sub-list
							each list in ['подбоп кредита','без поручителей','наличными','без справок']
								li.services-f__sub-list-item
									a(href="").services-f__sub-list-link=list
					.col-1-2
						ul.services-f__sub-list
							each list in ['подбоп кредита','без поручителей','наличными','без справок']
								li.services-f__sub-list-item
									a(href="").services-f__sub-list-link=list
				.services-f__list-inf
					h3 Как правельно выбрать кредит
					a(href="").services-f__list-btn Узнать
			li.services-f__list-item
				.services-f__list-name-w
					.services-f__list-name
						.services-f__list-name-ico-w
							img(src="img/icons/loan.svg" alt="" width="32").services-f__list-name-ico
						|  Займы
				.col.services-f__list-cont
					.col-1-2
						ul.services-f__sub-list
							each list in ['Беспроцентный','Без справок','Наличными','В банке','На карту ']
								li.services-f__sub-list-item
									a(href="").services-f__sub-list-link=list
					.col-1-2
						ul.services-f__sub-list
							each list in ['Moneyveo','ШвидкоГрошi','Ссloan']
								li.services-f__sub-list-item
									a(href="").services-f__sub-list-link=list
				.services-f__list-inf
					h3 Как правельно выбрать кредит
					a(href="").services-f__list-btn Узнать
			li.services-f__list-item
				.services-f__list-name-w
					.services-f__list-name
						.services-f__list-name-ico-w
							img(src="img/icons/credit-card.svg" alt="" width="35").services-f__list-name-ico
						|  Кредитные карты
				.col.services-f__list-cont
					ul.services-f__sub-list
						each list in ['кэшбек','бонусы','процент на остаток','снятие наличных без процентов ']
							li.services-f__sub-list-item
								a(href="").services-f__sub-list-link=list
				.services-f__list-inf
					h3 Как правельно выбрать кредит
					a(href="").services-f__list-btn Узнать
			li.services-f__list-item
				.services-f__list-name-w
					.services-f__list-name
						.services-f__list-name-ico-w
							img(src="img/icons/debit-card.svg" alt="" width="35").services-f__list-name-ico
						|  Дебетовые карты
				.col.services-f__list-cont
					ul.services-f__sub-list
						each list in ['кэшбек','бесплатные','процент на остаток','visa','mastercard']
							li.services-f__sub-list-item
								a(href="").services-f__sub-list-link=list
				.services-f__list-inf
					h3 Как правельно выбрать кредит
					a(href="").services-f__list-btn Узнать
