.main-container
	ul.breadcrumbs
		li.breadcrumbs__item
			a(href="").breadcrumbs__link Главная
		li.breadcrumbs__item.breadcrumbs__item--line /
		li.breadcrumbs__item  Карта Сайта
	.bn-vertical
		a(href="")
			img(src="img/pic-22.png" alt="")
	.site-map
		h3.site-map__title Карта Сайта
		.site-map__row
			.site-map__col
				.site-map__group
					.site-map__group-header Кредиты
					.site-map__group-cont
						.site-map__item
							.site-map__item-header Кредиты в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Кредиты для бизнеса в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Кредиты в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Ипотека в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Автокредиты в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Лизинг в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
				.site-map__group
					.site-map__group-header Вклады
					.site-map__group-cont
						.site-map__item
							.site-map__item-header Гривневые вклады в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Кредиты для бизнеса в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
			.site-map__col
				.site-map__group
					.site-map__group-header Кредиты
					.site-map__group-cont
						.site-map__item
							.site-map__item-header Банки в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Вклады в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Кредиты в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Кредитные карты в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Дебетовые карты в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Отделения банков в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Банкоматы в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц
						.site-map__item
							.site-map__item-header Курсы валют в Украине
								i.icon-angle-down
							.site-map__item-cont
								ul.site-map__list
									li.site-map__list-item
										a(href="").site-map__list-link С ежемесячными выплатами процентов
									li.site-map__list-item
										a(href="").site-map__list-link На 3 месяца
									li.site-map__list-item
										a(href="").site-map__list-link На 6 месяцев
									li.site-map__list-item
										a(href="").site-map__list-link На 1 месяц