.page-welcome
	.main-container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item.breadcrumbs__item--line /
			li.breadcrumbs__item Денежные переводы
		h1.main-title Денежные переводы
		.page-welcome__info Простой способ отправить деньги на карту всего в несколько кликов.
.main-container.translations
	.translations__row
		.translations__col
			.t-card
				.t-card__up
					.t-card__form-row
						.t-card__form-row-label Номер Вашей Карты
						input(type="tel" placeholder="0000 0000 0000 0000").t-card__form-row-input
					.t-card__d-m
						.t-card__d-m-item
							.t-card__form-row
								.t-card__form-row-label Месяц
								input(type="tel" placeholder="01").t-card__form-row-input
						.t-card__d-m-item
							.t-card__form-row
								.t-card__form-row-label Год
								input(type="tel" placeholder="2020").t-card__form-row-input
				.t-card__down
					.t-card__down-cont
						.t-card__form-row
							.t-card__form-row-label CVV/CVC2
								i.icon-help-o
							input(type="password" placeholder="000").t-card__form-row-input
			.translations__sum
				.form-row
					.form-row__label Сумма перевода в грн
					input(type="tel" placeholder="Сумма перевода в грн").form-row__input
				.translations__sum-val ₴
		.translations__col.translations__col--color
			.t-card
				.t-card__up
					.t-card__form-row
						.t-card__form-row-label Номер Карты для Перевода
						input(type="text" placeholder="0000 0000 0000 0000").t-card__form-row-input
				.translations__cont
					a(href="").btn.btn--green Продолжить
.main-container.text-page-inner
	.container-a
		.container-a__cont
			.text-cont
				.main-container
					p Как мы всей редакцией Bankiros.ru смотрели в книгу, и не понимали, почему лыжи не едут.
					p На днях Сбербанк крайне аккуратно объявил, что наконец-то подключился к Системе быстрых платежей (СБП). Причем ЦБ разработал систему мгновенных переводов по номеру мобильного телефона еще полтора года назад. Главная ее особенность в том, что переводы должны быть бесплатными. Ну, или почти бесплатными.
					p Большинство банков подключились к системе в прошлом году. Некоторое время переводы с карты на карту были бесплатными или с минимальной комиссией. Но в период пандемии любые взыскания вовсе отменили.
					p скриншот сайта ЦБ РФ
					p Сбербанк держал оборону дольше всех. Герман Греф регулярно критиковал СБП, ссылаться на то, что после присоединения к системе бесплатных переводов бизнес-модель банка будет сломана. Но несколько дней назад госбанк разрешил своим клиентам переводить деньги в другие кредитные организации через программу ЦБ.
					p Подводные камни
					p Бесплатные переводы в приложении Сбербанка действительно появились, но найти их не так-то просто. Наша первая попытка не увенчалась успехом: мы быстро нашли переводы в другой банк, правда, они оказались платными:
					p
						a(href="") Bankiros.ru
					p После этого мы обратились в пресс-службу Сбербанка за разъяснением. Там намекнули, что мы делаем что-то не то, но конкретики не последовало.
					p «В настоящий момент сервис переводов в СБП доступен всем клиентам Сбербанка в мобильном приложении «Сбербанк Онлайн» на платформах iOS и Android. Вся информация о переводах в рамках СБП размещена в разделе сайте банка», – сообщили в пресс-службе и приложили ссылку на инструкцию.
					p изображение
		.container-a__aside
			.bn-block
				a(href="")
					img(src="img/pic-20.png" alt="")

