.welcome.main-container
	h1.welcome__title
		span Finposter
		|  - подбор финансовых продуктов
	ul.welcome__list
		li.welcome__list-item.welcome__list-item--1
			.welcome__list-inner
				h3.welcome__list-title Подбор кредита онлайн
				p.welcome__list-info Более 40 займов от 100 МФО
				a(href="").welcome__list-btn Подобрать кредит
				.welcome__list-circle от 3%
				.welcome__list-img-w
					img(src="img/welcome/welcome-1.png" alt="").welcome__list-img
		li.welcome__list-item.welcome__list-item--2
			.welcome__list-inner
				h3.welcome__list-title Займы
				p.welcome__list-info Более 40 займов от 100 МФО
				a(href="").welcome__list-btn Подобрать займ
				.welcome__list-circle от 0.00%
				.welcome__list-img-w
					img(src="img/welcome/welcome-2.png" alt="").welcome__list-img
		li.welcome__list-item.welcome__list-item--3
			.welcome__list-inner
				h3.welcome__list-title Кредитные карты
				p.welcome__list-info Более 150 карт от 30 банков
				a(href="").welcome__list-btn Подобрать карту
				.welcome__list-circle Бонусы
				.welcome__list-img-w
					img(src="img/welcome/welcome-3.png" alt="").welcome__list-img
		li.welcome__list-item.welcome__list-item--4
			.welcome__list-inner
				h3.welcome__list-title Дебетовые карты
				p.welcome__list-info Более 150 карт от 30 банков
				a(href="").welcome__list-btn Подобрать карту
				.welcome__list-circle КЭШБЕК
				.welcome__list-img-w
					img(src="img/welcome/welcome-4.png" alt="").welcome__list-img
	ul.welcome__benefits
		li.welcome__benefits-item
			a(href="").welcome__benefits-inner
				h3.welcome__benefits-title Депозиты
				p.welcome__benefits-info Более 100
					span  предложений
				img(src="img/icons/bank-2.svg" alt="").welcome__benefits-img.welcome__benefits-img--bank
		li.welcome__benefits-item
			a(href="").welcome__benefits-inner
				h3.welcome__benefits-title Вклады
				p.welcome__benefits-info Более 100
					span  предложений
				img(src="img/icons/money-2.svg" alt="").welcome__benefits-img.welcome__benefits-img--money
		li.welcome__benefits-item
			a(href="").welcome__benefits-inner
				h3.welcome__benefits-title Осаго
				p.welcome__benefits-info Более 100
					span  предложений
				img(src="img/icons/car.svg" alt="").welcome__benefits-img.welcome__benefits-img--car
		li.welcome__benefits-item
			a(href="").welcome__benefits-inner
				h3.welcome__benefits-title Страхование
				p.welcome__benefits-info Более 100
					span  предложений
				img(src="img/icons/covid.svg" alt="").welcome__benefits-img.welcome__benefits-img--covid