.welcome.main-container
	h1.welcome__title
		span Finposter
		|  - подбор финансовых продуктов
	.welcome__cont
		.welcome__row
			.col-1-2
				a(href="").welcome__item.welcome__item--credit
					h3.welcome__item-title Подбор кредита онлайн
					p.welcome__item-text Более 40 займов от 100 МФО
				.welcome__row
					.col-1-2
						a(href="").welcome__item
							h3.welcome__item-title Займы
							p.welcome__item-text Более 40 займов от 100 МФО
							img(src="img/icons/loan.svg" alt="").welcome__item-icon.welcome__item-icon--loan
					.col-1-2
						a(href="").welcome__item
							h3.welcome__item-title Кредиты
							p.welcome__item-text Более 100 предложений
							img(src="img/icons/money.svg" alt="").welcome__item-icon.welcome__item-icon--money
					.col-1-2
						a(href="").welcome__item
							h3.welcome__item-title Кредитные карты
							p.welcome__item-text Более 150 карт от 30 банков
							img(src="img/icons/credit-card.svg" alt="").welcome__item-icon.welcome__item-icon--credit-card
					.col-1-2
						a(href="").welcome__item
							h3.welcome__item-title Дебетовые карты
							p.welcome__item-text Более 150 карт от 30 банков
							img(src="img/icons/debit-card.svg" alt="").welcome__item-icon.welcome__item-icon--credit-debit
			.col-1-2
				.welcome__row
					.col-1-2
						.welcome__item.welcome__item--large
							h3.welcome__item-title Курсы валют
							table.currency-table
								tr
									th
									th ПРОД.
									th ПРОД.
									th ЦБУК
								tr
									td.currency-table__name RUB
									td 60.32
									td 64.32
									td 60.32
								tr
									td.currency-table__name USD
									td 28.05
									td 28.32
									td 29.32
								tr
									td.currency-table__name EUR
									td 35.45
									td 35.32
									td 35.35
							a(href="").welcome__item-more
								i.icon-exchange-rate
								|  Конвертер валют
					.col-1-2
						.welcome__item.welcome__item--large
							h3.welcome__item-title Курси криптовалют
							table.currency-table
								tr
									th
									th КУРС
									th ИЗМИН.
								tr
									td.currency-table__name Bitcoin
									td 7564.56 $
									td
										i.icon-arrow-up
										|  83.76
								tr
									td.currency-table__name Etherium
									td 196.06 $
									td
										i.icon-arrow-down
										|  196.06 $
								tr
									td.currency-table__name Ripple
									td 33.06 $
									td
										i.icon-arrow-up
										|  0
							a(href="").welcome__item-more
								i.icon-exchange-rate
								|  Конвертер валют
				a(href="").welcome__item
					h3.welcome__item-title Курс валют
					p.welcome__item-text Курс валют в городах Украины
					img(src="img/icons/exchange-rate.svg" alt="").welcome__item-icon.welcome__item-icon--exchange-rate
