.page-error {
  min-height: 100vh;
  background: #fff;
  padding: 73px 0;
  position: relative;
  overflow: hidden;

  &:before {
    display: block;
    content: '';
    background: url("#{$rootUrl}page-error-bg.jpg") no-repeat center;
    background-size: cover;
    width: 819px;
    height: 504px;
    position: absolute;
    top: 404px;
    margin-left: 5px;
    left: 50%;
    transform: translate(-50%,0);
  }

  &__inner {
    position: relative;
    z-index: 50;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    margin: 13px 0 0 0;
    text-decoration: none !important;
    width: 198px;
    height: 29px;
    background: url('#{$rootUrl}logo-f.svg') no-repeat center;
    background-size: cover;
  }

  &__title {
    text-align: center;
    margin: 81px 0 0;

    &-img {
      width: 298px;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 24px;
    color: #3392E8;
    font-family: $fontCond;
    margin: 15px 0 0;
    text-align: center;
  }

  &__btn {
    padding: 13px 18px;
    width: 107px;
    height: 44px;
    background: rgba(#3392E8,0.8);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    color: #FFFFFF;
    line-height: 1.2;
    font-size: 14px;
    font-weight: bold;
    font-family: $fontCond;
    text-decoration: none;
    transition: 0.3s all ease;

    &:hover {
      background: #3392E8;
    }
  }
}

@media(max-width: 1440px) {
  .page-error {
    padding: 50px 0;

    &:before {
      top: 350px;
      width: 670px;
      height: 418px;
    }

    &__title {
      margin-top: 60px;
    }

    &__text {
      font-size: 22px;
    }
  }
}

@media(max-width: 1280px) {
  .page-error {
    padding: 40px 0;

    &:before {
      width: 600px;
      height: 370px;
    }

    &__title {
      margin-top: 30px;

      &-img {
        width: 220px;
      }
    }

    &__text {
      font-size: 18px;
    }
  }
}

@media(max-width: 568px) {
  .page-error {
    padding: 30px 0;

    &:before {
      width: 400px;
      height: 250px;
      top: 280px;
    }

    &__title {
      margin-top: 30px;

      &-img {
        width: 200px;
      }
    }

    &__text {
      font-size: 16px;
    }
  }
}