.ask {
  background: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.ask-list {
  padding: 0;
  margin: 0 -15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
  
  &__inner {
    text-decoration: none;
    display: block;
    position: relative;
    height: 226px;
    border-radius: 6px;
    overflow: hidden;

    &:hover {
      .ask-list__img {
        &:before {
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      background: rgba(0, 0, 0, 0.35);
      transition: 0.3s all ease;
      z-index: 10;
    }
  }

  &__cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 50;
  }

  &__name {
    font-family: $fontCond;
    font-size: 16px;
    margin: 0;
    color: #fff;
    line-height: 1.2;
  }

  &__date {
    font-size: 12px;
    margin: 0;
    color: #fff;
  }
}

.tags {
  background: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  margin-bottom: 30px;

  .category-title {
    margin: 0 0 15px;
  }
}

.tags-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 15px 15px 0;
  }

  &__link {
    border: 1px solid #D7D9DD;
    border-radius: 4px;
    color: #A1A1A1;
    text-decoration: none;
    transition: 0.3s all ease;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    font-size: 14px;
    display: block;
    
    &:hover {
      color: #fff;
      background: #70B2D6;
      border-color:#70B2D6;
    }
  }
}

.ask-question {
  background: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  margin-bottom: 30px;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  .form-row {
    margin: 0;
    padding-right: 15px;
  }
}

.ask-in {
  background: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  margin-bottom: 30px;

  &__nav {
    padding: 0 0 20px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D7D9DD;

    &-line {
      width: 1px;
      height: 18px;
      background: #D7D9DD;
      margin: 0 15px;
    }

    &-item {

    }
    
    &-link {
      text-decoration: none;
      display: block;
      border-bottom: 1px dashed #70B2D6;
      color: #70B2D6;
      font-size: 16px;
      line-height: 18px;
      transition: 0.3s all ease;
      
      &:hover {
        color: #222;
        border-color: #222;
      }

      &--active {
        color: #222!important;
        border-color: transparent!important;
      }
    }
  }
}

.ask-in-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D7D9DD;
    padding: 30px 0;
  }

  &__img-w {
    width: 233px;
  }

  &__img {
    width: 233px;
    height: 159px;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;

    &:before {
      background: rgba(0, 0, 0, 0.35);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: '';
    }
  }

  &__cont {
    width: calc(100% - 233px);
    padding-right: 30px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__date {
    color: #A1A1A1;
    font-size: 14px;
    margin-right: 15px;
  }

  &__view {
    color: #A1A1A1;
    font-size: 14px;

    .icon-eye {
      font-size: 10px;
    }
  }

  &__text {
    color: #424148;
    font-size: 20px;
    margin-bottom: 20px;

    p {
      margin: 0 0 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.ask-inner {
  &__title {
    color: #424148;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
  }

  &__main-img {
    display: block;
    width: 100%;
  }

  &__main-img-w {
    position: relative;
    border-radius: 6px;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.35);
      content: '';
    }
  }
}

.img-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 0;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    color: #A1A1A1;
    font-size: 14px;
    line-height: 1.2;

    &:not(:last-child) {
      margin-right: 20px;
    }

    i {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
    }

    .icon-comment {
      margin-top: 1px;
    }

    .icon-eye {
      font-size: 11px;
      margin-top: 2px;
    }
  }
}

.answers {
  margin-top: 30px;

  .category-title {
    .icon-comment {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      margin: 13px 5px 0 10px;
    }

    span {
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      margin: 9px 0 0 ;
    }
  }

  &__item {
    margin-bottom: 30px;

    .text-cont {
      border: 0;
      padding: 34px;
    }
  }
}

.populars {
  margin-bottom: 30px;
}

.populars-s {
  margin: 0 -10px;

  .slider-arrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    margin-top: -25px;

    &__prev {
      left: -15px;
    }

    &__next {
      right: -15px;
    }
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    width: 406px;
  }

  &__inner {
    text-decoration: none;
    position: relative;
    height: 250px;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    outline: 0;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: block;
      content: '';
      background: rgba(0, 0, 0, 0.35);
      transition: 0.3s all ease;
    }

    &:hover {
      &:before {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 50;
  }

  &__date {
    font-size: 12px;
    margin: 0;
    color: #fff;
  }

  &__name {
    font-family: $fontCond;
    font-size: 16px;
    margin: 0;
    color: #fff;
    line-height: 1.2;
  }
}

@media(max-width: 1280px) {
  .populars-s {
    margin-right: 15px;

    .slider-arrow {
      width: 40px;
      height: 40px;
      font-size: 20px;
      margin-top: -20px;

      &__next {
        right: -22px;
      }

      &__prev {
        left: -8px;
      }
    }
  }
}

@media(max-width: 1024px) {
  .populars {
    margin-right: -15px;
  }

  .populars-s {
    margin-right: 0;

    .slider-arrow__next {
      right: 5px;
    }

    &__item {
      width: 300px;
    }

    &__inner {
      height: 230px;
    }
  }
}


@media(max-width: 768px) {
  .ask,
  .tags,
  .ask-question,
  .ask-in {
    padding: 20px;
    margin-bottom: 15px;
  }

  .ask-question {
    .col {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .form-row {
      padding: 0;
      margin-bottom: 10px;
    }
  }

  .ask-list {
    &__item {
      width: 100%;
      margin-bottom: 15px;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      padding: 0;
      align-items: center;
    }

    &__img {
      position: static;
      border-radius: 5px;
      width: 80px;
      height: 80px;

      &:before {
        display: none;
      }
    }

    &__cont {
      width: calc(100% - 80px);
      position: static;
      padding: 0 0 0 10px;
    }
    
    &__date ,
    &__name {
      color: #222;
    }

    &__date {
      font-size: 10px;
    }

    &__name {
      font-size: 14px;
    }
  }

  .tags-list__link {
    padding: 0 10px;
    font-size: 12px;
  }

  .tags-list__item {
    margin: 0 10px 10px 0;
  }

  .answers {
    &__item {
      .text-cont {
        padding: 20px;
      }
    }
  }
}

@media(max-width: 568px) {
  .ask-in-list {
    &__img-w {
      order: 0;
      width: 100%;
    }

    &__img {
      width: 100%;
    }

    &__cont {
      order: 1;
      width: 100%;
      padding: 0;
      margin-top: 15px;
    }

    &__item {
      padding: 15px 0;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media(max-width: 360px) {
  .ask,
  .tags,
  .ask-question,
  .ask-in {
    padding: 15px;
  }

  .populars {
    margin-right: -15px;
  }

  .populars-s {
    margin-right: 0;
    margin-left: -4px;

    .slider-arrow {
      &__next {
        right: 0;
      }
    }

    &__item {
      width: 280px;
      padding-left: 4px;
      padding-right: 4px;
    }

    &__inner {
      height: 220px;
    }
  }
}
