.bank-info {
  background: #FFFFFF;
  border-radius: 6px;
  margin-bottom: 30px;
  overflow: hidden;

  &__row {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D7D9DD;
    margin: 0 -15px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__item {
    padding: 0 15px;
    line-height: 1.2;
    width: 25%;
  }

  &__label {
    font-size: 14px;
    color: #A1A1A1;
    margin-bottom: 5px;
  }

  &__num {
    font-weight: bold;
    font-size: 24px;
    color: #96CC61;
    font-family: $fontCond;
    margin-bottom: 5px;

    .grn {
      font-family: Helvetica;
      font-size: 18px;
    }
  }

  p {
    margin: 0;
    color: #424148;
    font-size: 14px;
  }
}

.bank-content {
  border-radius: 6px;
  margin: 0 0 30px;
  border: 0;
  padding: 24px;
}

.contacts-a  {
  background: #FFFFFF;
  border-radius: 6px;
  margin-bottom: 20px;

  &__item {
    border-bottom: 1px solid #D7D9DD;
    padding: 24px;
    line-height: 1.2;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__title {
    color: #A1A1A1;
    font-size: 14px;
    margin-bottom: 15px;

    i {
      margin-right: 5px;
      display: inline-block;
      vertical-align: top;
    }

    .icon-home {
      margin-top: -1px;
    }
  }

  p {
    color: #424148;
    font-size: 16px;
    margin: 0 0 5px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: #70B2D6;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bank-i {
  margin-bottom: 20px;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 20px;

  &__item {
    margin-bottom: 20px;
    line-height: 1.2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    color: #A1A1A1;
    font-size: 14px;
    margin-bottom: 5px;
  }

  p {
    color: #424148;
    margin: 0;
    font-size: 16px;
  }
}

.bank-comments {
  &__item {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    line-height: 1.2;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin: 0 15px 10px 0;
      font-size: 14px;
      color: #A1A1A1;
    }
  }

  &__rating-label {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #A1A1A1;
    margin: 3px 10px 0 0;
  }

  &__title {
    color: #424148;
    font-size: 20px;
  }
}

.bank-add-commnet {
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  line-height: 1.2;

  &__title {
    font-weight: bold;
    font-size: 24px;
    color: #424148;
    margin: 0 0 15px;
  }

  p {
    margin: 0 0 15px;
  }

  .btn {
    width: 100%;
  }
}
@media(max-width: 1024px) {
  .bank-content {
    margin-bottom: 0;
    padding: 20px;
  }

  .bank-info {
    margin-bottom: 20px;
  }
}

@media(max-width: 768px) {
  .bank-info__item {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .bank-info__row {
    padding: 20px;
    padding-bottom: 0;
    margin: 0 -10px;
  }

  .bank-info__num {
    font-size: 20px;
  }

  .bank-info__label {
    font-size: 13px;
  }
}

