.best-offer {
  margin: 18px 0 0;
  overflow: hidden;
}

.best-offer-s-wrap-2 {
  padding: 40px 0;

  h3 {
    margin: 0 0 20px;
  }
}

.best-offer-s-color {
  padding: 25px 0;
  background: linear-gradient(90deg, #3040CE 0%, #D33E86 100%);
}

.best-offer-s {
  margin: 0 -18px;

  &.slick-initialized .slick-slide {
    display: flex;
    height: 100%;
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  &__inner {
    min-height: 305px;
    background: #FFFFFF;
    border-radius: 5px;
    position: relative;
    padding-bottom: 75px;
    width: 100%;
    height: 100%;
  }

  &__footer-b {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 17px;
    border-top: 1px solid #F0F0F0;

    .best-offer-s__btn {
      margin: 0;
    }
  }

  &__popular {
    width: 72px;
    height: 74px;
    background: url("#{$rootUrl}popular.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__header {
    border-bottom: 1px solid #F0F0F0;
    //padding: 26px 0 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 85px;

    &-img {
      height: 36px;
      width: auto;
    }

    &-img-2 {
      width: auto;
      max-height: 63px;
    }

    &-text {
      width: 100%;
      margin: 5px 0 0;
      font-size: 13px;
      color: #424148;
      text-align: center;
      line-height: 1;
    }
  }

  &__header-c {
    border-bottom: 1px solid #F0F0F0;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__img-w {
    width: 96px;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__h-cont {
    width: calc(100% - 96px);
    padding-left: 15px;

    .card-benefits {
      justify-content: flex-start;

      &__item {
        font-size: 14px;
      }
    }
  }

  &__h-title {
    letter-spacing: 0.03em;
    color: #70B2D6;
    font-size: 14px;
    line-height: 1.2;
  }

  &__h-category {
    font-size: 12px;
    color: #424148;
  }

  &__rate {
    padding: 11px 0;
    border-bottom: 1px solid #F0F0F0;

    &-title {
      font-family: $fontMain;
      letter-spacing: 0.5px;
      font-weight: 300;
      margin: 0;
      color: #A1A1A1;
      font-size: 14px;
      text-align: center;
      position: relative;
    }

    &-percent {
      font-weight: bold;
      text-align: center;
      color: #424148;
      font-size: 15px;
      margin: 4px 0 0;

      .icon-check {
        font-size: 10px;
        margin-right: 4px;
        color: #2FFF82;
      }
    }
  }

  &__amount {
    padding: 11px 0;
    &-title {
      font-family: $fontMain;
      letter-spacing: 0.5px;
      font-weight: 300;
      margin: 0;
      color: #A1A1A1;
      font-size: 14px;
      text-align: center;
      position: relative;

      .icon-calculator {
        display: inline-block;
        vertical-align: top;
        margin: 1px 0 0;
        font-size: 16px;
      }
    }

    &-price {
      font-weight: bold;
      text-align: center;
      color: #424148;
      font-size: 16px;
      line-height: 1;
      margin: 10px 0 0;
    }
  }

  &__table-w {
    padding: 5px 15px;
    border-bottom: 1px solid #F0F0F0;

    &--bb-none {
      border-bottom: 0;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    
    td {
      padding: 2px 5px;
      color: #A1A1A1;
      font-size: 14px;

      &:last-child {
        text-align: right;
      }

      b {
        font-weight: bold;
        color: #424148;
        font-size: 15px;
      }

      .icon-check {
        font-size: 10px;
        margin-right: 4px;
        color: #2FFF82;
      }
    }
  }

  &__btn {
    margin: 5px 0 0;
    min-width: 196px;
  }

  &__name {
    border-bottom: 1px solid #F0F0F0;
    text-align: center;
    color: #424148;
    font-size: 14px;
    line-height: 1.2;
    padding: 12px 15px;
  }

  &__amount-2 {
    text-align: center;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 15px;
    color: #424148;

    &-persent {
      font-weight: bold;
      font-size: 36px;
      line-height: 1;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
      line-height: 1.2;
    }
  }

  &__footer {
    padding: 15px 0;
    text-align: center;

    .best-offer-s__btn {
      margin: 0;
    }
  }
}

@media(max-width: 1024px) {
  .best-offer-s {
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin: auto;

    &__item {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .best-offer-s-wrap {
    overflow: hidden;
    margin: 0 -15px;
  }

  .best-offer-s-color {
    margin: 0 -15px;
  }

  .best-offer-s-wrap-2 {
    overflow: hidden;
  }
}

@media(max-width: 768px) {
  .best-offer-s {
    width: 800px;

    &__inner {
      min-height: 339px;
    }
  }
}