.card-inner {
  padding-top: 30px;

  .subscription {
    margin-top: 0;
  }

  .comments {
    margin-top: 30px;
  }

  .feedback {
    margin-top: 0;
    border-top: 1px solid #D9D9D9;
  }
}

.card-list {
  &__title-lg {
    display: none;
  }
  
  &__item {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 30px 20px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    text-align: center;
    color: #fff;
    line-height: 1;
    font-size: 12px;
    font-weight: 500;
    border-radius: 0 0 10px 0;
    text-transform: uppercase;
    background: linear-gradient(0deg, rgba(47, 255, 130, 0.67), rgba(47, 255, 130, 0.67)), linear-gradient(0deg, rgba(47, 255, 130, 0.15), rgba(47, 255, 130, 0.15)), rgba(47, 255, 130, 0.15);
  }

  &__card-view {
    width: 165px;
  }
  
  &__card-link {
    display: block;
  }
  
  &__card-img {
    width: 100%;
    display: block;
  }

  &__cont {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__name {
    margin: 0;
    color: #70B2D6;
    font-size: 22px;
    font-weight: 300;
    font-family: $fontMain;
  }

  &__bank {
    color: #696969;
    font-size: 14px;
    font-weight: 500;
    font-family: $fontCond;
  }

  &__btn-group {
    width: 160px;

    .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 15px;
    }

    .link-to {
      font-size: 14px;
    }
  }

  &__license {
    color: #A1A1A1;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__info {
    padding: 0;
    list-style: none;
    margin: 10px -15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    &-item {
      width: 33.3%;
      padding-left: 15px;
      padding-right: 15px;
      color: #A1A1A1;
      font-size: 14px;
      
      span {
        display: block;
        color: #424148;
        font-size: 18px;
        font-weight: 600;

        i {
          font-size: 12px;
          color: #2FFF82;
          margin-right: 5px;
        }
      }
    }

    &--debit {
      .card-list__info-item {
        &:nth-child(1) {
          width: 40%;
        }

        &:nth-child(2),
        &:nth-child(3){
          width: 30%;
        }
      }
    }
  }
}

.card-benefits {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    color: #D9D9D9;
    font-size: 16px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.cards-best {
  background: #fff;
  padding: 30px 0;
  margin-top: 30px;
  overflow: hidden;

  &__list {
    padding: 0;
    margin: 0 -20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;


    .slick-dots {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 100;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        padding: 3px;
        height: 8px;

        button {
          width: 11px;
          height: 2px;
          border: 0;
          overflow: hidden;
          text-indent: -999px;
          background: #D9D9D9;
          outline: 0;
          border-radius: 0;
          transition: 0.3s background-color ease;
        }

        &.slick-active,
        &:hover {
          button {
            background: #96CC61;
          }
        }
      }
    }

    &-item {
      width: 25%;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    &-img {
      display: block;
      width: 100%;
    }

    &-name {
      font-family: $fontMain;
      font-weight: 300;
      font-size: 20px;
      margin: 10px 0 0;
      color: #70B2D6;
    }

    &-bank {
      font-family: $fontCond;
      color: #A1A1A1;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      line-height: 1;
    }
  }

  &__benefits {
    padding: 0;
    margin: 15px 0 0;
    list-style: none;
    
    &-item {
      display: block;
      position: relative;
      padding-left: 25px;
      color: #222;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 10px;

      i {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        color: #96CC61;
        font-size: 12px;
      }
    }
  }

  .btn {
    width: 100%;
    margin-top: 5px;
  }
}

@media(max-width: 1200px) {
  .card-list {
    &__info-item {
      width: 50%;
    }
  }

  .card-list__info--debit .card-list__info-item {
    width: 50%!important;
  }
}


@media(max-width: 1024px) {
  .card-inner {
    display: flex;
    flex-wrap: wrap;

    .cards-best {
      order: 0;
      margin-top: 0;
      margin-bottom: 30px;
      width: 100%;
    }

    & > .main-container {
      order: 1;
      width: 100%;
    }

    .feedback {
      width: 100%;
      order: 2;
    }

    .container-a {
      &__cont {
        width: 100%;
      }

      &__aside {
        width: 100%;
        padding: 0;
        margin-top: 15px;
      }
    }

    .subscription {
      position: static!important;
      top: auto!important;
      left: auto!important;
      margin: 15px auto;
      display: none;
    }
  }

  .cards-best__list {
    margin: 0 -10px;
    padding-bottom: 20px;

    &-item {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  .card-list {
    &__title-lg {
      display: block;
    }
  }
}

@media(max-width: 992px) {
  .cards-best__list {
    margin: 0 -10px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 900px;

    &-item {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media(max-width: 768px) {
  .cards-best__list {
    width: 750px;
  }

  .card-list {
    &__item {
      padding: 65px 15px 15px;
    }

    &__cont {
      margin-top: -10px;
      padding-right: 0;

      &-info {
        position: absolute;
        top: 8px;
        left: 15px;
      }
    }

    &__btn-group {
      width: auto;

      .link-to {
        display: none;
      }

      .btn {
        font-size: 14px;
        padding: 8px 9px;
        width: auto;
        margin: 0;
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
    
    &__license {
      position: absolute;
      bottom: 15px;
      right: 15px;
      margin: 0;
      font-size: 12px;
    }

    &__name {
      font-size: 18px;
    }

    &__label {
      padding: 2px 5px;
      font-size: 10px;
      border-radius: 0 0 0 5px;
      left: auto;
      right: 0;
    }
  }
}

@media(max-width: 568px) {
  .card-list {
    &__info-item {
      font-size: 12px;
      width: 100%;

      span {
        font-size: 14px;
      }

    }

    &--info-debit {
      .card-list__info-item {
        width: 100%;
      }
    }

    &__license {
      bottom: 5px;
    }
  }


  .card-list__info--debit .card-list__info-item {
    width: 100%!important;
  }
}

@media(max-width: 370px)  {
  .card-list {
    &__card-view {
      width: 120px;
    }

    &__btn-group  {
      width: 100%;

      .btn {
        top: auto;
        right: auto;
        position: static;
      }
    }

    &__name {
      font-size: 15px;
    }

    &__bank {
      font-size: 12px;
    }

    &__item {
      padding-top: 60px;
    }
  }
  .card-benefits__item {
    font-size: 12px;
  }
}