.comment {
  padding-bottom: 30px;

  .breadcrumbs {
    margin-top: 20px;
  }

  &__inner {
    max-width: 648px;
    margin-top: 80px;
    position: relative;

    &:before {
      width: 322px;
      height: 262px;
      background: url("#{$rootUrl}comment.svg") no-repeat center;
      background-size: cover;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      margin: -6px 0 0 192px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    [class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .category-title {
    margin: 30px 0 17px;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    margin: 34px 0 0 11px;

    &-text {
      width: calc(100% - 45px);
      margin-left: 15px;
      line-height: 1.3;
      
      a {
        color: #57a4eb;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-check {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 350px;
    }

    &-submit {
      margin: 5px 0 0 20px;
    }
  }
}

.comment-rating {
  margin: 30px 0 0;

  &__title {
    color: #404040;
    font-size: 20px;
    margin: 0;
  }

  &__list {
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      font-size: 50px;
      color: #dfe2e4;
      margin-right: 5px;
      position: relative;
      cursor: pointer;

      &--active {
        cursor: default;
      }

      &--active,
      &:hover {
        color: #ffe26f;

        .comment-rating__list-num {
          color: #555;
        }
      }

      i {
        display: block;
      }
    }

    &-num {
      color: #999;
      font-size: 14px;
      display: block;
      position: absolute;
      top: 21px;
      left: 0;
      width: 100%;
      line-height: 1;
      text-align: center;
    }
  }
}

@media(max-width: 1200px) {
  .comment {
    &__inner {
      &:before {
        margin: -6px 0 0 50px;
        width: 250px;
        height: 203px;
      }
    }
  }
}

@media(max-width: 1024px) {
  .comment {
    &__inner {
      margin: 180px auto 0;

      &:before {
        width: 150px;
        height: 122px;
        margin: 0;
        top: -150px;
        right: auto;
        left: 50%;
        transform: translate(-50%,0);
      }
    }
  }
}

@media(max-width: 568px) {
  .comment {
    &__row {
      .col-1-2 {
        width: 100%;
      }
    }

    &__inner {
      margin-top: 120px;

      &:before {
        width: 100px;
        height: 81px;
        top: -100px;
      }
    }

    .category-title {
      margin: 15px 0;
    }

    &__footer {
      &-submit {
        margin: 15px 0 0;
      }
    }
  }

  .comment-rating {
    margin-top: 15px;

    &__list-item {
      font-size: 40px;
    }

    &__list-num {
      top: 17px;
      font-size: 12px;
    }
  }
}