.comments {
  &__header {
    border-bottom: 1px solid #DEDEDE;
    background: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 22px 18px;

    &-title {
      margin: 0;
      font-size: 25px;
    }
  }

  .btn-more {
    margin-top: 30px;
  }
}

.comments-slider {
  .slick-list,
  .slick-track {
    height: 100%;
  }

  .slider-arrow {
    top: 50%;
    margin-top: -50px;

    &__prev {
      left: -25px;
    }

    &__next {
      right: -25px;
    }
  }

  //&:before {
  //  position: absolute;
  //  top: 0;
  //  left: 50%;
  //  width: 1px;
  //  height: calc(100% - 73px);
  //  display: block;
  //  content: '';
  //  background: #DEDEDE;
  //  z-index: 100;
  //}

  .slick-list {
    background: #fff;
    border-radius: 0 0 10px 10px;

    &:after {
      width: 1px;
      background: #fff;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 5px;
      z-index: 10;
    }
  }

  //.slick-track {
  //  display: flex;
  //  flex-wrap: wrap;
  //}
  
  &__item {
    padding: 25px 30px 90px;
    position: relative;
    border-left: 1px solid  #DEDEDE;

    p {
      margin: 0 0 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__footer {
    height: 73px;
    border-top: 1px solid #DEDEDE;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 30px;
  }

  &__date {
    font-size: 13px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.34);

    i {
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;
    }
  }

  &__title {
    font-family: $fontMain;
    font-size: 18px;
    margin: 0 0 15px;
  }

  .rating__item {
    font-size: 16px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px;
  }

  &__info {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.44);

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

@media(max-width: 1280px) {
  .comments-slider {
    .slider-arrow {
      &__prev {
        left: -10px;
      }

      &__next {
        right: -10px;
      }
    }
  }
}

@media(max-width: 992px) {
  .comments-slider {
    &__item {
      padding: 25px 15px 60px;
    }

    &__footer {
      padding: 15px;
      height: 50px;
    }

    .slick-dots {
      position: absolute;
      right: 15px;
      bottom: 23px;
      z-index: 100;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 3px;
        height: 8px;

        button {
          width: 11px;
          height: 2px;
          border: 0;
          overflow: hidden;
          text-indent: -999px;
          background: #D9D9D9;
          outline: 0;
          border-radius: 0;
          transition: 0.3s background-color ease;
        }

        &.slick-active,
        &:hover {
          button {
            background: #96CC61;
          }
        }
      }
    }
  }
}

@media(max-width: 568px) {
  .comments {
    &__header-title {
      font-size: 18px;
    }
  }
  .comments-slider {
    .rating__item {
      font-size: 14px;
    }

    .rating__num {
      margin: -2px 10px 0 0;
    }

    &__footer {
      height: 80px;
    }

    &__item {
      padding-bottom: 90px;
      padding-top: 15px;

      p {
        font-size: 15px;
        margin-bottom: 8px;
      }
    }

    &__header {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 16px;
    }
  }
}

@media(max-width: 350px) {
  .comments {
    &__header {
      .col-auto {
        width: 100%;
      }

      &-title {
        margin-bottom: 5px;
      }
    }
  }
}