.contacts {
  &__cont {
    height: 750px;
    background: url("#{$rootUrl}contacts-bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;

    //&:before {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  display: block;
    //  content: '';
    //  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(.jpg);
    //}
  }

  .breadcrumbs {
    background: #FFFFFF;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 5px 8px;
    display: inline-flex;
    margin: 24px 0 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 75px 0 0;
  }

  &__form {
    background: #FFFFFF;
    box-shadow: 0 52px 54px rgba(57, 59, 61, 0.1);
    border-radius: 6px;
    padding: 25px 40px;
    width: 400px;

    p {
      color: #424148;
      font-size: 14px;
      line-height: 1.2;
      margin: 0 0 30px;
    }

    .form-row__textarea {
      height: 142px;
    }
  }

  &__inner {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    padding-left: 30px;
  }

  &__map {
    height: 100%;
    border-radius: 6px;
  }

  &__info {
    padding: 50px 0;
    background: #fff;

    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -15px 0;
    }

    &-item {
      padding-left: 15px;
      padding-right: 15px;
      width: 256px;
    }

    &-inner {
      width: 256px;
      max-width: 100%;
    }

    &-title {
      padding: 15px 0;
      border-bottom: 1px solid #D7D9DD;
      font-size: 20px;
      line-height: 1.2;
      margin: 0 0 20px;
    }

    p {
      margin: 0 0 10px;
      color: #424148;
      font-size: 16px;
      line-height: 1.2;
    }
  }

  &__list {
    padding: 0;
    margin: 20px 0 0;
    list-style: none;

    &-item {
      margin-bottom: 10px;
    }

    &-link {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      color: #424148;
      transition: 0.3s all ease;

      &:hover {
        color: #70B2D6;
      }
    }

    &-icon {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 30px;
      color: #D7D9DD;
    }
  }
}
