.cryp {
  padding-top: 40px;
}

.cryp-table-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #D7D9DD;

  p {
    margin: 0;
    font-size: 14px;
    color: #A1A1A1;
  }

  .category-title {
    margin: 0;
    padding-right: 15px;
  }
}

.cryp-table-w {
  background: #FFFFFF;
  border-radius: 6px;
  margin-bottom: 30px;

  .btn-more {
    margin: 20px 0;
  }
}

.cryp-table {
  border-collapse: collapse;
  width: 100%;
  line-height: 1.2;

  &--no-bb {
    tr:last-child td {
      border-bottom: 0!important;
    }
  }

  th {
    color: #A1A1A1;
    font-weight: normal;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
  }

  th, td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  td {
    border-top: 1px solid #D2D4D8;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #000;
    min-width: 100px;
    transition: 0.3s background-color ease;

    p {
      margin: 0;
    }
  }

  tr:hover {
    td {
      background: #70B2D6;
      color: #fff;

      p , a , span {
        color: #fff!important;
      }
      
      .cryp-table__v-inf-name,
      .cryp-table__v-inf-short-name {
        color: #fff;
      }
    }
  }

  tr:last-child {
    td {
      border-bottom: 1px solid #D2D4D8;
    }
  }

  &__s-val {
    font-size: 14px;
  }
  
  &__v-inf {
    display: block;
    text-decoration: none;
    position: relative;
    padding-left: 37px;

    &-img-w {
      width: 37px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0,-50%);
    }

    &-img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    &-cont {
      padding-left: 10px;
    }

    &-name {
      color: #000000;
      font-size: 16px;
    }

    &-short-name {
      text-transform: uppercase;
      color: #A1A1A1;
      font-size: 14px;
    }
  }

  &__b-name {
    font-size: 16px;
    color: #70B2D6;
    text-decoration: none;
  }
}

.cryp-calc {
  background: #FFFFFF;
  box-shadow: 0 52px 54px rgba(57, 59, 61, 0.1);
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;

  &__title {
    color: #626262;
    font-family: $fontCond;
    font-weight: bold;
    font-size: 23px;
    line-height: 1;
    margin: 0 0 20px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__item {
    border: 1px solid #D7D9DD;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;

    &-label {
      font-size: 10px;
      color: #626262;
    }

    &-input {
      border: 0;
      outline: 0;
      max-width: 100%;
      background: #fff;
      text-align: right;
      color: #626262;
      font-size: 16px;
      width: 90px;
    }
  }

  &__select {
    padding-left: 10px;
    width: 105px;

    .select2-container {
      max-width: 100%;
      width: 100%!important;
    }
  }

  &__btn-submit {
    width: 100%;
  }
}

.cryp-calc-btn {
  margin: 0 0 20px;
  width: 100%;
  max-width: 320px;
}

.select-styler-img {
  &__img {
    width: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 7px 3px 0 0;
  }
}

.select2-results__option .select-styler-img__img {
  margin-top: 0;
}

.cryp-v-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 24px;
    margin-bottom: 15px;
  }
  
  &__link {
    display: block;
    text-decoration: none;
    color: #A1A1A1;
    font-size: 16px;
    transition: 0.3s color ease;

    &:hover ,
    &--active {
      color: #70B2D6;
    }
  }
}

.cryp-c {
  background: #FFFFFF;
  border-radius: 6px;
  margin-bottom: 30px;
}

.cryp-c-table {
  border-collapse: collapse;
  width: 100%;
  line-height: 1.2;

  th , td {
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  th {
    text-align: left;
    font-weight: normal;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #A1A1A1;
    font-size: 14px;
  }

  td {
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 100px;
    border-top: 1px solid #D7D9DD;
  }

  tr:last-child td {
    border-bottom: 1px solid #D7D9DD;
  }
  
  &__inf {
    position: relative;
    padding-left: 50px;

    &-img-w {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0,-50%);
      width: 50px;
    }

    &-img {
      display: block;
      width: 100%;
    }

    &-cont {
      padding-left: 15px;
    }

    &-name {
      font-family: $fontCond;
      font-weight: bold;
      color: #424148;
      font-size: 22px;
      line-height: 1;
    }

    &-short-name {
      text-transform: uppercase;
      color: #A1A1A1;
      font-size: 16px;
    }
  }

  &__price {
    margin: 0;
    font-weight: bold;
    font-family: $fontCond;
    font-size: 22px;
    color: #424148;
  }

  &__inf-text {
    font-size: 14px;
    margin: 0;
    color: #A1A1A1;
  }
}

.cryp-c-list-w {
  padding: 20px;
}

.cryp-c-list {
  padding: 0;
  margin: 0 -15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__label {
    color: #A1A1A1;
    font-size: 14px;
  }

  &__val {
    font-weight: bold;
    font-size: 22px;
    font-family: $fontCond;
  }
}

.cryp-c-nav {
  padding: 0 15px;
  margin: 15px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-left: -1px;
    margin-top: -1px;

    &:first-child {
      .cryp-c-nav__link {
        border-radius: 5px 0 0 5px;
      }
    }

    &:last-child {
      .cryp-c-nav__link {
        border-radius: 0 5px 5px 0;
      }
    }
  }

  &__link {
    height: 42px;
    display: block;
    line-height: 42px;
    transition: 0.3s all ease;
    border: 1px solid #D7D9DD;
    padding: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    position: relative;

    &:hover,
    &--active {
      z-index: 10;
      color: #fff;
      background: #70B2D6;
      border-color: #70B2D6;
    }

    &--active {
      z-index: 20!important;
    }
  }
}

.cryp-chart-cont {
  margin-top: 30px;
  padding: 15px;

  img {
    display: block;
    max-width: 100%;
  }
}

.cryp-calc-i {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 15px;

    &:last-child {
      margin-bottom: 0!important;
    }
  }

  &__item {
    padding-left: 8px;
    padding-right: 8px;
    width: 50%;
  }
  
  &__inner {
    position: relative;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D7D9DD;
    border-radius: 5px;
  }

  &__input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 16px;
    color: #626262;
    padding: 0 15px;
    height: 48px;
  }

  &__coin {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0,-50%);
    padding-left: 20px;

    &-img-w {
      width: 15px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0,-50%);
    }

    &-img {
      display: block;
      width: 100%;
    }

    &-name {
      color: #626262;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1024px) {
  .cryp {
    .container-a__cont {
      order: 1;
    }

    .container-a__aside {
      order: 0;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .cryp-calc-btn {
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  .cryp-c-table {
    &__inf {
      padding-left: 30px;

      &-img-w {
        width: 30px;
      }

      &-cont {
        padding-left: 10px;
      }

      &-name {
        font-size: 16px;
      }

      &-short-name {
        font-size: 12px;
      }
    }

    &__price {
      font-size: 16px;
    }

    &__inf-text {
      font-size: 12px;
    }
  }

  .cryp-c-list__item {
    width: 50%;
    margin-bottom: 10px;
  }

  .cryp-c-nav__link {
    border-radius: 0!important;
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
  }
}

@media(max-width: 568px) {
  .cryp {
    padding-top: 20px;
  }

  .cryp-c,
  .cryp-table-w {
    margin-bottom: 15px;
  }

  .cryp-c-table {
    td , th {
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;

      &:first-child {
        padding-left: 10px;
      }

      &:last-child {
        padding-right: 10px;
      }
    }
  }

  .cryp-table {
    td , th {
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;

      &:first-child {
        padding-left: 10px;
      }

      &:last-child {
        padding-right: 10px;
      }
    }

    &__s-val {
      font-size: 10px;
    }

    &__v-inf {
      padding-left: 30px;

      &-img-w {
        width: 30px;
      }

      &-cont {
        padding-left: 7px;
      }

      &-name {
        font-size: 12px;
      }

      &-short-name {
        font-size: 10px;
      }
    }
  }

  .cryp-v-list__link {
    font-size: 12px;
  }

  .cryp-v-list__item {
    margin-bottom: 10px;
  }

  .cryp-c-list__label {
    font-size: 12px;
  }

  .cryp-c-list__val {
    font-size: 16px;
  }

  .cryp-c-list {
    margin: 0 -10px;
  }

  .cryp-c-list__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .cryp-calc-i__item {
    width: 100%;
    margin-bottom: 8px;
  }

  .cryp-calc-i__row {
    margin-bottom: 30px;
    position: relative;

    &:before {
      width: auto;
      height: 1px;
      border-top: 1px dashed #D2D4D8;
      content: '';
      display: block;
      position: absolute;
      left: -8px;
      right: -8px;
      bottom: -15px;
    }

    &:last-child {
      &:before {
        display: none;
      }
    }
  }
}