.currency-rates {
  &__header {
    background: #fff;
    padding: 30px;

    .main-title {
      margin: 0;
    }
  }

  .container-a {
    position: relative;
    margin-top: 20px;

    &__cont {
      width: calc(100% - 208px);
    }

    &__aside {
      position: absolute;
      top: 0;
      left: calc(100% - 208px);
    }
  }
}

.top-currency {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
}

.table-currency {
  border-collapse: collapse;
  width: 100%;

  th {
    //border-top: 1px solid #D2D4D8;
    border-bottom: 1px solid #D2D4D8;
    padding: 5px 15px;
    font-weight: 300;
    font-size: 16px;
    color: rgba(145, 145, 145, 0.72);
    line-height: 1;
    text-align: left;

    b {
      font-weight: bold;
      color: #4DA0EB;
    }

    span {
      color: #4DA0EB;
    }
  }

  &__title {
    span {
      color: #B3D6F6;
      font-size: 18px;
      display: block;
      height: 18px;
      margin-bottom: 5px;
      font-weight: 400;
    }
  }

  td {
    padding: 10px 15px;
    border-bottom: 1px solid #D2D4D8;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;

    &:last-child {
      width: 160px;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  tr:last-child td {
    border-bottom: 0;
  }

  &__money {
    i {
      color: #D2D4D8;
      font-size: 28px;
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 0 0;
    }

    p {
      color: #B3D6F6;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      margin: 0;
    }
    
    span {
      display: block;
      margin-top: 5px;
    }
    
    a {
      text-decoration: none;
      color: #3392E8;
      font-size: 18px;
      font-weight: 400;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.list-currency {
  background: #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;

  .pagination {
    margin-top: 30px;
  }
}

.chart-currency {
  background: #fff;
  padding: 30px;

  &__img {
    display: block;
    width: 100%;
  }
}

.currency-converter {
  background: #fff;
  padding: 15px 20px;
  margin-bottom: 15px;

  &__title {
    border-bottom: 1px solid #D2D4D8;
    font-size: 20px;
    margin: 0 0 15px;
    color: #3392E8;
    position: relative;
    padding-bottom: 5px;

    .icon-exchange-rate {
      position: absolute;
      top: 2px;
      right: 0;
      font-size: 24px;
    }
  }

  .tab-g-list {
    &__item {
      width: 50%;
    }

    &__link {
      padding: 0;
      text-align: center;
      height: 34px;
      line-height: 34px;
    }
  }

  &__row {
    flex-wrap: wrap;
    display: flex;

    .form-row {
      margin-bottom: 10px;
    }
  }

  &__select {
    width: 80px;
    margin-left: 10px;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media(max-width: 1500px) {
  .currency-rates {
    .container-a {
      &__cont {
        width: calc(100% - 310px);
      }

      &__aside {
        position: static;
        top: auto;
        left: auto;
      }
    }
  }
}

@media(max-width: 1024px) {
  .currency-rates {
    .container-a {
      &__cont {
        width: 100%;
      }

      &__aside {
        width: 100%;
        padding: 0;
        margin-top: 15px;
      }
    }

    .subscription {
      position: static!important;
      top: auto!important;
      left: auto!important;
      margin: 15px auto;
      display: none;
    }
  }
}

@media(max-width: 992px) {
  .table-currency {
    th , td {
      padding: 10px;
    }

    td {
      &:last-child {
        width: 120px;
      }
    }
  }
}

@media(max-width: 768px) {
  .table-currency {
    td {
      font-size: 14px;

      &:last-child {
        width: 80px;
      }
    }

    th {
      font-size: 14px;
    }

    &__money {
      p {
        line-height: 24px;
      }

      p , a {
        font-size: 14px;
      }

      i {
        font-size: 20px;
      }
    }
  }
}

@media(max-width: 568px) {
  .table-currency {
    th , td {
      padding: 5px;
    }
  }

  .top-currency,
  .currency-rates__header {
    padding: 15px;
  }
}

@media(max-width: 480px) {
  .table-currency {
    th , td {
      padding: 3px;
    }

    td {
      font-size: 10px;

      &:last-child {
        width: 50px;
      }

      img {
        min-width: 50px;
      }
    }

    th {
      font-size: 11px;
    }

    &__money {
      p , a {
        font-size: 10px;
      }
    }
  }
}