.currency {
  background: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  margin-top: 26px;
  overflow: hidden;

  &__cont {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
    margin: 0 -39px;
  }

  &__item {
    width: 33.3%;
    border-left: 1px solid #D9D9D9;
    min-height: 55px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px;

    &:first-child {
      border-left: 0;
    }
  }

  &__head {

  }

  &__name {
    color: #3392E8;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.3px;
    font-family: $fontMain;
    
    a {
      text-decoration: none;
      color: inherit;
      transition: 0.3s color ease;
      
      &:hover {
        color: #222;
      }
    }
  }

  &__date {
    margin: 10px 0 0;
    color: #424148;
    font-weight: 500;
    font-size: 11px;
  }

  &__inner {

  }
}

.currency-n {
  background: #FFFFFF;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 15px 0 7px;
  margin: 30px 0 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    padding: 9px 0 0;
    margin: 0 -30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
    }

    &-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 1.2;
      margin: 0 0 9px;
      font-family: $fontCond;

      a {
        text-decoration: none;
        color: #3392E8;
        opacity: 0.8;
        transition: 0.3s all ease;

        &:hover {
          opacity: 1;
        }
      }

      span {
        opacity: 0.8;
        color: #ABACAD;
        font-size: 13px;
        margin-left: 3px;
      }
    }

    &-price {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      opacity: 0.8;
      font-family: $fontCond;
      margin: 0;

      .icon-arrow-up ,
      .icon-arrow-down {
        display: inline-block;
        vertical-align: top;
        margin: 2px 2px 0 2px;
      }

      .icon-arrow-up {
        color: #38CD62;
      }

      .icon-arrow-down {
        color: red;
      }
    }
  }

  &__right {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__covid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &-btn {
      width: 182px;
      height: 41px;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 17px;
      line-height: 120%;
      color: #FFFFFF;
      font-family: $fontCond;
      text-decoration: none;
      transition: 0.3s all ease;
      position: relative;
      z-index: 2;
      background: #fff;
      overflow: hidden;
      margin: 9px 0 0;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        background: linear-gradient(0deg, #22BBFD 0%, rgba(116, 255, 188, 0) 147.87%);
        z-index: -1;
      }

      &:hover {
        background: #22BBFD;
      }
    }

    &-title {
      text-align: center;
      font-size: 13px;
      line-height: 120%;
      color: #4E4E4E;
      font-family: $fontCond;
      font-weight: bold;

      &-icon {
        width: 22px;
        margin: -5px 5px 0 0;
        display: inline-block;
        vertical-align: top;
      }
    }

    &-inner {
      margin-right: 21px;
    }
  }

  &__c-list {
    padding: 0;
    margin: 10px -15px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      font-family: $fontCond;
      text-align: center;
      font-weight: bold;
      font-size: 13px;
      line-height: 120%;
      color: #4E4E4E;
      padding-left: 15px;
      padding-right: 15px;
    }

    &-name {
      margin-bottom: 4px;
    }

    &-num {
      line-height: 20px;

      sup {
        margin-top: -3px;
        margin-left: 5px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  &__currency-rates {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-family: $fontCond;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #3392E8;
    margin: 22px 55px 0 0;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

@media(max-width: 1200px) {
  .currency {
    margin-top: 15px;

    &__cont {
      margin: 0 -20px;
    }

    &__item {
      padding: 0 20px;
      width: 50%;

      &:last-child {
        display: none;
      }
    }
  }

  .currency-n {
    margin-top: 20px;

    &__list {
      margin-left: -15px;
      margin-right: -15px;

      &-item {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &__currency-rates {
      margin-right: 25px;
    }
  }
}

@media(max-width: 1024px) {
  .currency {
    &__name {
      font-size: 12px;
    }

    &__date {
      margin-top: 5px;
      font-size: 10px;
    }
  }

  .currency-s-table {
    td {
      font-size: 12px;
    }

    &__name {
      font-size: 14px;
    }
  }

  .currency-n {
    margin-top: 0;

    &__right {
      margin: 25px 0 0;
      width: 100%;
      justify-content: center;
    }

    &__list {
      justify-content: center;
      width: 100%;
    }
  }
}

@media(max-width: 660px) {
  .currency-n {
    padding-bottom: 15px;

    &__covid {
      display: block;
      text-align: center;
      width: 100%;

      &-btn {
        margin: 20px auto 0;
      }
    }

    &__currency-rates {
      margin: 0 0 20px;
    }

    &__right {
      margin-top: 15px;
    }

    &__c-list {
      justify-content: center;
    }
  }
}

@media(max-width: 600px) {
  .currency {
    &__item {
      width: 100%;

      &:nth-child(2) {
        display: none;
      }
    }
  }
}

@media(max-width: 568px) {
  .currency-n {
    &__list {
      margin-left: auto;
      margin-right: auto;
      padding: 0;

      &-title {
        font-size: 16px;

        span {
          font-size: 10px;
          font-weight: normal;
        }
      }

      &-price {
        font-size: 10px;
      }
    }

    &__right {

    }

    &__covid {
      display: none;
    }

    &__currency-rates {
      margin: 0;
    }
  }
}

@media(max-width: 360px) {
  .currency-n__list-item {
    padding-left: 8px;
    padding-right: 8px;
  }
}