.feedback {
  background: #fff;
  min-height: 209px;
  position: relative;
  margin: 26px 0 0;
  padding-top: 46px;

  .main-container {
    position: relative;
    z-index: 50;
  }

  &:before ,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }
  
  &:before {
    left: 0;
    top: 0;
    height: 100%;
    width: 287px;
    background: url("#{$rootUrl}feedback.png") no-repeat center;
    background-size: cover;
    z-index: 10;
  }

  &:after {
    width: 447px;
    height: 143px;
    background: url("#{$rootUrl}feedback-phone.png") no-repeat center;
    background-size: cover;
    bottom: 0;
    left: 110px;
  }

  &__title {
    color: #000000;
    font-size: 24px;
    line-height: 101.5%;
    text-align: center;
    margin: 0 0 16px;
    font-weight: 900;
  }

  &__sub-title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 101.5%;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  
  &__form {
    position: relative;
    width: 328px;
    margin: 15px auto 0;

    //&:before {
    //  display: block;
    //  content: '';
    //  position: absolute;
    //  top: -47px;
    //  left: -179px;
    //  width: 140px;
    //  height: 82px;
    //  background: url("#{$rootUrl}mail.svg") no-repeat center;
    //  background-size: cover;
    //}

    &-btn {
      position: absolute;
      top: -9px;
      right: -215px;
      width: 192px;
      font-size: 18px;
      padding: 15px 25px;
    }
  }

  &__input {
    height: 34px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 100%;
    outline: 0;
    font-family: $fontMain;

    &::placeholder {
      color: rgba(0, 0, 0, 0.37);
    }
  }
}

@media(max-width: 1200px) {
  .feedback {
    &:before {
      width: 200px;
      background-position: right bottom;
    }

    &:after {
      width: 330px;
      height: 110px;
      left: 87px;
    }
  }
}

@media(max-width: 992px) {
  .feedback {
    min-height: 0;
    padding: 30px 0;

    &__title {
      font-size: 20px;
      position: relative;
      z-index: 10;
    }

    &__sub-title {
      display: none;
    }

    &__form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &:before {
        display: none;
      }
    }

    &__input {
      width: 260px;
    }

    &__form-btn {
      position: static;
      top: auto;
      right: auto;
      width: auto;
      margin-left: 10px;
      font-size: 15px;
      padding: 9px 15px;
    }
  }
}

@media(max-width: 768px) {
  .feedback {
    &:after {
      display: none;
    }
  }
}

@media(max-width: 568px) {
  .feedback {
    &__input {
      width: 220px;
    }
  }
}

@media(max-width: 360px) {
  .feedback {
    &__input {
      width: 170px;
    }
  }
}