.filter {
  background: #fff;
  border-bottom: 1px solid #D2D4D8;
  padding: 30px 0 15px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: 7px;
  }

  &__item {
    width: 25%;
    padding-left: 7px;
    padding-right: 7px;
    

    &--time {
      padding-right: 107px;
      position: relative;

      .filter__input {
        border-radius: 5px 0 0 0;
      }
    }

    .select2-container--default .select2-selection--single {
      height: 42px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 40px;
    }

    .select2-container {
      width: 100% !important;
    }
  }

  &__select {
    width: 100px;
    top: 0;
    right: 8px;
    position: absolute;

    .select2-container--default .select2-selection--single {
      border-radius: 0 5px 5px 0;
      height: 46px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 44px;
    }

    .select2-container {
      width: 100% !important;
    }
  }

  &__label {
    color: #424148;
    font-size: 15px;
    width: 100%;
    display: block;
  }

  &__input {
    background: #FFFFFF;
    border: 1px solid #D7D9DD;
    border-bottom: 0;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    outline: 0;
    height: 42px;
    width: 100%;
    color: #222;
    font-size: 14px;
    padding: 0 15px;

    &::placeholder {
      color: #A1A1A1;
    }
  }

  &__submit {
    padding-left: 7px;
    padding-right: 7px;

    .btn {
      padding: 15px 20px;
    }

    &--mt {
      margin-top: 22px;

      .btn {
        padding: 13px 20px;
      }
    }
  }

  &__nav {
    padding: 15px 0 0;
    margin: 40px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #D9D9D9;

    &-item {
      margin-right: 20px;
    }

    &-link {
      color: #424148;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.filter-slider {
  background: #D7D9DD;
  height: 4px;
  border: 0;
  outline: 0;
  border-radius: 0;

  .ui-slider-range {
    height: 4px;
    border: 0;
    outline: 0;
    background: #41B462;
    border-radius: 0;
  }

  .ui-slider-handle {
    background: #FFFFFF;
    border: 2px solid #44B764;
    box-sizing: border-box;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: -8px;
    box-shadow: 0 0 0 5px rgba(68, 183, 100, 0.2);
    outline: 0!important;
    cursor: pointer;
  }
}

@media(max-width: 1024px) {
  .filter {
    &__item {
      width: 33.3%;
      margin-bottom: 15px;
    }
  }
}

@media(max-width: 768px) {
  .filter {
    &__item {
      width: 50%;
    }

    &__submit {

    }

    &__nav {
      margin-top: 20px;
    }
  }
}

@media(max-width: 568px) {
  .filter {
    &__item {
      width: 100%;
      padding: 0;

      &--time {
        padding-right: 100px;
      }
    }

    &__submit {
      &--mt {
        margin: 0;
        padding: 0;
      }
    }

    &__row {
      margin: 0;
    }

    &__nav-item {
      margin-bottom: 5px;
    }
  }
}
