.fines {
  margin-top: 30px;
  margin-bottom: 30px;

  &__cont {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 40px 30px;

    p {
      margin: 0 0 15px;
    }

    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 30px 0 0;

    &-item {
      width: 288px;
      margin-right: 30px;
      max-width: 35%;
    }

    .form-row {
      margin-bottom: 0;
    }
  }

  &__alert {
    border-top: 1px solid #D2D4D8;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 30px;

    &--success {
      .fines__alert-title {
        color: #96CC61;
      }
    }

    &-title {
      font-size: 20px;
      line-height: 1.2;
      font-family: $fontCond;
      margin: 0 0 5px;
      position: relative;

      .icon-check-circle {
        position: absolute;
        right: 100%;
        top: 1px;
        margin-right: 7px;
      }
    }

    p {
      margin: 0 0 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media(max-width: 1200px) {
  .fines__form-item {
    margin-right: 15px;
  }
}

@media(max-width: 1024px) {
  .fines {
    .container-a__cont ,
    .container-a__aside {
      width: 100%;
    }

    .container-a__cont {
      margin-bottom: 30px;
    }

    .container-a__aside {
      padding-left: 0;
    }

    &__cont {
      padding: 20px;
      padding-bottom: 5px;
    }

    &__form {
      margin-top: 20px;

      &-item {
        max-width: 100%;
        margin-bottom: 15px;
      }

      .btn {
        margin-bottom: 15px;
      }
    }

    &__alert {
      margin-top: 20px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}

@media(max-width: 568px) {
  .fines {
    &__form {
      &-item {
        width: 100%;
        margin-right: 0;
      }

      .btn {
        width: 100%;
      }
    }
  }
}

@media(max-width: 360px) {
  .fines {
    &__cont {
      padding:10px;
      font-size: 14px;
    }

    &__form {
      .btn {
        margin-bottom: 0;
      }
    }

    &__alert {
      padding-bottom: 10px;
    }
  }
}