.footer {
  padding-top: 47px;
  
  &-bn {
    text-align: center;
    margin-top: 50px;

    img {
      max-width: 100%;
    }
  }

  &__row {
    flex-wrap: wrap;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__item {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    
    &-header {
      position: relative;
      margin-bottom: 26px;
    }

    &-icon {
      display: none;
    }

    &-title {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
      margin: 0;
      color: #424148;
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;

    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &-link {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 1.2;
      color: #A1A1A1;
      transition: 0.3s color ease;
      font-family: $fontCond;
      display: block;
      
      &:hover {
        color: #222;
      }
    }
  }

  &__cont {
    background: #fff;
    height: 75px;
    margin-top: 55px;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    margin: 27px 0 0 0;
    text-decoration: none!important;
    width: 198px;
    height: 29px;
    background: url("#{$rootUrl}logo-f.svg") no-repeat center;
    background-size: cover;
  }

  .social {
    margin: 20px 0 0;
  }

  &__social-label {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: #A1A1A1;
    font-family: $fontCond;
    margin: 30px 40px 0 0;
  }

  &__bottom {
    padding: 8px 0;
  }

  &__nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-right: 24px;
    }

    &-link {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.5px;
      color: #A1A1A1;
      transition: 0.3s color ease;
      font-family: $fontCond;
      display: block;

      &:hover {
        color: #222;
      }
    }
  }
}

@media(max-width: 992px) {
  .footer {
    &__item {
      width: 50%;
      margin-bottom: 15px;
    }

    &__cont {
      margin-top: 30px;
    }
  }
}

@media(max-width: 768px) {
  .footer {
    &__logo {
      width: 140px;
      height: 20px;
      margin: 16px 0 0 0;
    }

    &__social-label {
      margin: 16px 10px 0 0;
    }

    &__cont {
      height: 50px;
    }

    .social {
      margin-top: 10px;

      &__img {
        width: 30px;
      }
    }
  }
}

@media(max-width: 568px) {
  .footer {
    padding-top: 15px;

    &__social-label {
      display: none;
    }

    &__nav-link {
      font-weight: 300;
    }

    &__nav-item {
      margin-right: 10px;
    }

    &__row {
      padding: 0;
    }

    &__item {
      width: 100%;
      border-bottom: 1px solid #D9D9D9;
      margin: 0;

      &:last-child {
        border-bottom: 0;
      }

      &-icon {
        display: block;
        color: #888;
        font-size: 8px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -4px;
        transition: 0.3s all ease;
        
         i {
           display: block;
         }
      }
    }

    &__item-header {
      margin: 0;
      padding: 10px 0;

      &--active {
        .footer__item-icon {
          transform: rotate(180deg);
        }
      }
    }

    &__list {
      display: none;
      padding-bottom: 15px;
    }
  }
}