.header {
  &__top {
    background: #F5F8FF;
    padding-bottom: 4px;
  }

  .currency,
  .currency-n {
    border-bottom: 0;
    margin-top: 0;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    margin: 13px 0 0 0;
    text-decoration: none!important;
    width: 198px;
    height: 29px;
    background: url("#{$rootUrl}logo-f.svg") no-repeat center;
    background-size: cover;

    &-img,
    &-text {
      display: inline-block;
      vertical-align: top;
    }

    &-img {
      width: 73px;
      height: 26px;
      background: url("#{$rootUrl}logo.svg") no-repeat center;
      background-size: cover;
    }

    &-text {
      font-weight: 200;
      font-size: 30px;
      color: #3392E8;
      line-height: 1;
      margin: -2px 0 0 13px;
      letter-spacing: 0.6px;
    }
  }

  &__search {
    display: inline-block;
    vertical-align: top;
    margin: 14px 8px 0 0;

    &-btn {
      display: block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      background: transparent;
      border: 0;
      outline: 0;
      font-size: 20px;
      color: #919191;
      padding: 0;
      cursor: pointer;
      transition: 0.3s color ease;

      &:hover {
        color: #222;
      }
    }
  }
  
  &__lang {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 16px 22px 0 0;
    list-style: none;
    
    &-item {
      display: inline-block;
      vertical-align: top;

      &:not(:last-child) {
        margin-right: 3px;
      }
    }
    
    &-link {
      display: block;
      color: #3392E8;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      
      &:hover {
        color: #222;
      }
    }
  }

  &__nav {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 16px 22px 0 0;
    list-style: none;

    &-item {
      display: inline-block;
      vertical-align: top;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &-link {
      display: block;
      color: #3392E8;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        color: #222;
      }
    }
  }

  &__cont {
    height: 51px;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    position: relative;
    
    .main-container {
      position: relative;
    }

    .header__nav {
      display: none;
    }
  }

  &-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &__item {
      margin-right: 30px;
    }

    &__link {
      display: block;
      height: 51px;
      padding-right: 20px;
      position: relative;
      color: #424148;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 49px;
      text-decoration: none;
      transition: 0.3s color ease;

      &--icon {
        font-size: 6px;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -4px;
        transition: 0.3s transform ease;
      }

      &:hover,
      &--active {
        color: #3392E8;

        .header-menu__link--icon {
          transform: rotate(180deg);
        }
      }
    }
  }
  
  &__menu-close {
    display: none;
  }
}

.menu-drop {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1px;
  transition: 0.5s all ease;
  opacity: 0;
  visibility: hidden;
  transform: translate(0,50px);
  
  &__back {
    display: none;
  }

  &--active {
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
    z-index: 110;
  }

  &__inner {
    padding: 20px 0 20px 230px;
    position: relative;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
  }

  &__head {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 200px;
  }

  &__name {
    text-transform: uppercase;
    color: #424148;
    font-size: 24px;
    font-family: $fontCond;
    font-weight: 500;
  }

  &__p-info {
    margin: 0;
    color: rgba(0, 0, 0, 0.36);
    font-size: 14px;
    font-weight: 500;
  }

  &__title {
    color: #424148;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 10px;
    text-decoration: none;
    
    i {
      color: #3392E8;
      vertical-align: top;
      display: inline-block;
    }
    
    &-img {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 0 0;
      height: 30px;
    }

    .icon-zaim-m {
      margin-top: 3px;
    }

    .icon-bank {
      font-size: 20px;
      margin-top: 6px;
    }

    .icon-credit-m {
      margin-top: 3px;
    }

    .icon-card-m {
      margin-top: 6px;
    }

    .icon-place {
      margin-top: 7px;
      font-size: 20px;
    }

    .icon-bitcoin {
      margin-top: 6px;
    }

    .icon-lamp {
      color: #F7E01A;
      margin-top: -6px;
      font-size: 33px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    
    &-link {
      display: block;
      transition: 0.3s color ease;
      color: #424148;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        color: #007fff;
      }
    }
  }
}

.check-fines {
  position: absolute;
  top: 100%;
  right: 17px;
  background: #FFFFFF;
  border: 1px solid #D2D4D8;
  border-top: 0;
  border-radius: 0 0 7px 7px;
  width: 223px;
  height: 54px;
  margin-top: -1px;
  padding: 10px 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 100;

  &:before {
    width: 50px;
    height: 46px;
    content: '';
    display: block;
    background: url("#{$rootUrl}check-fines.svg") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 2px;
    left: 7px;
  }

  //.btn {
  //  font-size: 12px;
  //  padding: 10px;
  //}
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 900;
  display: none;
}

.search-cont {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0,-100%);
  transition: 0.3s all ease;

  &--active {
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
  }

  &__inner {
    padding: 0 30px;
    position: relative;

    .icon-search {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0,-50%);
      font-size: 18px;
      color: #949ba4;
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    font-size: 18px;
    color: #949ba4;
    display: inline-block;
    vertical-align: top;
    transition: 0.3s color ease;
    text-decoration: none!important;

    &:hover {
      color: #222;
    }
  }

  &__input {
    display: block;
    width: 100%;
    border: 0;
    font-size: 16px;
    color: #222;
    font-weight: 300;
    outline: 0!important;
    
    &::placeholder {
      color: #ccc;
      font-weight: 300;
    }
  }
}

.btn-menu {
  display: none;
}

@media(max-width: 1024px) {
  .header {
    &__nav {
      display: none;
    }

    &__lang {
      margin: 13px 15px 0 0;
    }
    
    &__cont {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 0;
      height: 100%;
      z-index: 900;
      padding-top: 50px;
      overflow: hidden;
      transition: 0.3s all ease;
      opacity: 0;
      visibility: hidden;
      transform: translate(-100%,0);

      &--active {
        opacity: 1;
        visibility: visible;
        transform: translate(0,0);
      }

      .header__nav {
        display: block;
        margin: 0;

        &-item {
          margin: 0;
          width: 100%;
        }

        &-link {
          padding: 5px 15px;
          text-transform: uppercase;
        }
      }

      .main-container {
        padding: 0;
        overflow: auto;
        height: calc(100% - 50px);
      }
    }

    &__menu-close {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      color: #222;
      padding: 15px;
      text-decoration: none;
    }

    &__top {
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }

    &__search {
      margin-top: 11px;
      margin-right: -5px;
    }

    &__logo {
      margin-top: 10px;
    }

    .currency,
    .currency-n {
      border-top: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }
  }

  .menu-drop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(100%,0);
    overflow: auto;
    padding-top: 50px;

    &--active {
      transform: translate(0,0);
    }
    
    &__back {
      position: absolute;
      top: 15px;
      left: 15px;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      font-size: 16px;
      color: #222;
      outline: 0;

      i {
        margin: 3px 5px 0 0;
        display: inline-block;
        vertical-align: top;
      }
    }

    &__inner {
      padding: 15px;
    }

    &__head {
      position: static;
      top: auto;
      left: auto;
      width: 100%;
      transform: translate(0, 0);
      margin-bottom: 15px;
    }

    &__item {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .check-fines {
    display: none;
  }

  .btn-menu {
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px 0 0;
    padding: 5px;
    
    span {
      display: block;
      width: 24px;
      height: 2px;
      background: #919191;
      margin-top: 5px;
      position: relative;
      transition: 0.3s all ease;

      &:first-child {
        margin-top: 0;
      }
    }

    &--active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 7px;
        }

        &:nth-child(2) {
          transform: translate(-100%,0);
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: -7px;
        }
      }
    }
  }

  .header-menu {
    &__item {
      margin: 0;
      width: 100%;
    }

    &__link {
      padding: 0 15px;

      &--icon {
        transform: rotate(-90deg)!important;
        right: 15px;
      }
    }
  }
}

@media(max-width: 568px) {
  .header {
    &__logo {
      margin-top: 12px;
      width: 140px;
      height: 20px;
    }

    .currency-n {
      display: none;
    }
  }
}