.loan-calculator {
  background: #fff;
  overflow: hidden;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__aside {
    width: 500px;
    padding-right: 40px;
    padding-bottom: 20px;

    .filter {
      border: 0;

      &__item {
        width: auto;

        &--small {
          width: 90px;
        }

        .select2-container--default .select2-selection--single,
        .select2-container--default .select2-selection--single .select2-selection__rendered {
          height: 45px;
          line-height: 45px;
        }
      }

      &__row {
        margin-bottom: 20px;
      }
    }
  }

  &__cont {
    width: calc(100% - 500px);
    position: relative;
    background: #f5fafd;
    padding: 40px;
    padding-right: 0;

    &:before {
      background: #f5fafd;
      left: 100%;
      top: 0;
      width: 2000px;
      height: 100%;
      position: absolute;
      display: block;
      content: '';
    }
  }

  &__radio {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 50%;

      &:first-child {
        .loan-calculator__radio-cont {
          border-radius: 5px 0 0 5px;
          border-right: 0;
        }
      }

      &:last-child {
        .loan-calculator__radio-cont {
          border-radius: 0 5px 5px 0;
          border-left: 0;
        }
      }
    }

    &-inner {
      display: block;
      position: relative;
    }

    &-cont {
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      text-align: center;
      color: #000000;
      font-size: 14px;
      border: 1px solid #D7D9DD;
      transition: 0.3s all ease;
    }

    &-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      &:checked + .loan-calculator__radio-cont {
        color: #fff;
        border-color: #70B2D6;
        background: #70B2D6;
      }
    }
  }

  &__date {
    height: 50px;
    border: 1px solid #D7D9DD;
    border-radius: 5px;
    background: #fff;
    position: relative;
    margin: 0 0 20px;

    &:before {
      width: 24px;
      height: 24px;
      background: url("#{$rootUrl}calendar.svg") no-repeat center;
      background-size: cover;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -12px;
    }

    &-input {
      background: transparent;
      outline: 0;
      padding: 0 15px;
      border: 0;
      height: 48px;
      width: 100%;
      position: relative;
      z-index: 50;
      font-size: 16px;
    }
  }

  &__btn {
    background: #FFFFFF;
    border: 1px dashed #70B2D6;
    border-radius: 5px;
    transition: 0.3s all ease;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #70B2D6;
    font-size: 16px;
    
    &:hover {
      color: #fff;
      background: #70B2D6;
      border-style: solid;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__table-w {
    h3 {
      margin: 0 0 20px;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

    td {
      padding: 15px 0;
      border-top: 1px solid #D2D4D8;
      font-size: 16px;
      color: #000;

      &:last-child {
        text-align: right;
      }
    }

    &-price {
      font-size: 16px;
      color: #626262;
      
      b {
        color: #000;
      }
    }

    &-circle {
      width: 8px;
      height: 8px;
      display: inline-block;
      vertical-align: top;
      border-radius: 100%;
      margin-right: 5px;
      margin-top: 8px;

      &--green {
        background: #96CC61;
      }

      &--red {
        background: #F25353;
      }
    }
  }

  &__chart-w {
    padding-left: 40px;
    width: 250px;
  }
  
  &__chart {
    position: relative;
    margin: 40px auto 0;
    width: 180px;
    height: 180px;


    &-cont {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      p {
        margin: 0;
        font-size: 14px;
        line-height: 1.2;
        color: #000000;
      }
    }

    &-inner {
      text-align: center;
    }

    &-price {
      font-size: 18px;

      span {
        font-family: Helvetica;
      }
    }
  }

  .circle-chart {
    margin: auto;

    &__circle {
      transform: rotate(-90deg);
      transform-origin: center;
    }
  }
}

.lc-btn {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #D7D9DD;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #626262;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s all ease;
  margin-bottom: 10px;

  .icon-calendar {
    color: #96CC61;
    margin-right: 10px;
    font-size: 18px;
  }

  &:hover {
    background: #96CC61;
    color: #fff;

    .icon-calendar {
      color: #fff;
    }
  }
}

.lc-info {
  padding: 0;
  margin: 30px 0 20px;
  list-style: none;

  &__item {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }

  &__circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px 0 0;

    &--green {
      background: #96CC61;
    }

    &--red {
      background: #F25353;
    }
  }
}

@media(max-width: 1200px) {
  .loan-calculator__aside {
    width: 400px;
  }

  .loan-calculator__cont {
    width: calc(100% - 400px);
  }
}

@media(max-width: 1024px) {
  .loan-calculator__aside,
  .loan-calculator__cont {
    width: 100%;
  }

  .loan-calculator__aside {
    padding-right: 0;
  }

  .loan-calculator__cont {
    padding-left: 0;

    &:after {
      position: absolute;
      top: 0;
      right: 100%;
      height: 100%;
      width: 100px;
      content: '';
      display: block;
      background: #f5fafd;
    }
  }
}

@media(max-width: 568px) {
  .loan-calculator__chart-w {
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
  }

  .loan-calculator__table-w {
    min-width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .loan-calculator__aside .filter__item {
    padding-left: 7px;
    padding-right: 7px;
  }

  .loan-calculator__radio-cont {
    padding: 0;
  }
}

@media(max-width: 360px) {
  .loan-calculator__radio-cont {
    font-size: 12px;
  }
}