.loans {
   &-inner {
     padding-top: 30px;

     .comments {
       margin-top: 30px;
     }

     .feedback {
       margin-top: 0;
       border-top: 1px solid #D9D9D9;
     }

     .pagination {
       margin-top: 30px;
     }
   }
}


.loans-top {
  border-top: 1px solid #D9D9D9;
  background: #fff;
  margin-bottom: 40px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D9D9D9;
    padding: 30px 25px;
    position: relative;
  }

  &__col-img {
    width: 150px;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__name {
    font-size: 16px;
    color: #3392E8;
    text-align: center;
    margin: 10px 0 0;
    font-family: $fontCond;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }

  &__title-category {
    color: #70B2D6;
    font-weight: 300;
    font-size: 18px;
  }
  
  &__img-link {
    display: block;
  }

  .rating {
    display: inline-flex;
    margin: 10px 0 0;
  }

  &__col-cont {
    width: calc(100% - 150px);
    padding-left: 20px;
    padding-right: 180px;
    position: relative;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    th , td {
      padding: 5px 15px;
      border-bottom: 1px solid #D9D9D9;
      text-align: left;
      color: #4E4E4E;

    }

    th {
      font-size: 14px;
      font-weight: 400;
    }

    td {
      font-size: 18px;
      font-weight: 500;

      span {
        font-size: 14px;
      }
    }

    tr:last-child td {
      border-bottom: 0;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
  }
  
  &__btn-group {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    text-align: center;
    width: 160px;

    .link-to {
      margin-top: 10px;
    }
  }
  
  &__label {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    text-align: center;
    color: #fff;
    line-height: 1;
    font-size: 12px;
    font-weight: 500;
    border-radius: 0 0 10px 0;
    text-transform: uppercase;
    background: linear-gradient(0deg, rgba(47, 255, 130, 0.67), rgba(47, 255, 130, 0.67)), linear-gradient(0deg, rgba(47, 255, 130, 0.15), rgba(47, 255, 130, 0.15)), rgba(47, 255, 130, 0.15);
  }
}

.loans-slider-wrap {

}

.loans-slider {
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  padding-bottom: 20px;

  &-wrap {
    overflow: hidden;
    padding-bottom: 20px;
    display: none;
    position: relative;
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__inner {
    background: #fff;
    border-radius: 5px;
  }

  &__img-w {
    border-bottom: 1px solid #F0F0F0;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  &__img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  &__name {
    padding: 15px;
    border-bottom: 1px solid #F0F0F0;
    text-align: center;
    color: #424148;
    font-size: 12px;
  }
  
  &__list {
    padding: 15px;
    margin: 0;
    list-style: none;
    
    &-item {
      text-align: center;
      color: #424148;
      font-size: 14px;
      line-height: 26px;

      b {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  &__footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #F0F0F0;
  }

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      padding: 3px;
      height: 8px;

      button {
        width: 11px;
        height: 2px;
        border: 0;
        overflow: hidden;
        text-indent: -999px;
        background: #D9D9D9;
        outline: 0;
        border-radius: 0;
        transition: 0.3s background-color ease;
      }

      &.slick-active,
      &:hover {
        button {
          background: #96CC61;
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .loans-top {
    &__label {
      right: 0;
      left: auto;
      border-radius: 0 0 0 5px;
    }

    &__item {
      padding: 70px 15px 15px;
    }

    &__col-img {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
      width: 100%;
      align-items: center;
    }

    &__img-link {
      //swidth: 120px;
    }

    &__img {
      width: auto;
      height: 30px;
    }

    &__name,
    &__title-category {
      width: auto;
      margin: 0 10px;
    }

    .rating {
      margin: 0;
    }

    .rating--num {
      margin-top: 0;
    }

    &__col-cont {
      width: 100%;
      padding-left: 0;
    }
  }
}

@media(max-width: 1024px) {
  .loans-top--lg {
    display: none;
  }

  .loans-slider-wrap {
    display: block;
    margin: 0 -10px;
  }

  .loans-slider {

  }

  .loans-inner {
    .container-a {
      &__cont {
        width: 100%;
      }

      &__aside {
        width: 100%;
        padding: 0;
        margin-top: 15px;
      }
    }

    .subscription {
      position: static!important;
      top: auto!important;
      left: auto!important;
      margin: 15px auto;
      display: none;
    }
  }
}

@media(max-width: 992px) {
  .loans-slider {
    width: 900px;
  }
}

@media(max-width: 768px) {
  .loans-slider {
    width: 800px;
  }

  .loans-top {
    background: transparent;
    
    &__item {
      margin-bottom: 10px;
      background: #fff;
    }
  }
}

@media(max-width: 610px) {
  .loans-top {
    &__col-cont {
      position: static;
      padding-right: 0;
    }

    &__btn-group {
      top: 9px;
      right: 15px;
      transform: translate(0,0);

      .link-to {
        display: none;
      }
    }

    .rating,
    .rating--num {
      display: none;
    }
  }
}

@media(max-width: 550px) {
  .loans-top {
    &__name,
    &__title-category {
      position: absolute;
      top: 55px;
      left: 15px;
      margin: 0;
      font-size: 14px;
      line-height: 1;
    }

    &__label {
      padding: 1px 5px;
      font-size: 10px;
    }

    &__item {
      padding-top: 80px;
    }

    .btn {
      font-size: 14px;
      padding: 8px 9px;
    }

    &__btn-group {
      width: auto;
      top: 15px;
    }

    &__table {
      th , td {
        padding: 5px;
      }

      th {
        font-size: 11px;
      }

      td {
        font-size: 12px;
        line-height: 1.1;
      }
    }
  }
}