.news {
  margin: 30px 0 0;

  .category-title {
    margin-bottom: 7px;
    padding-left: 30px;
  }

  .news-list {
    padding-left: 30px;
  }

  .container-a {
    margin-top: 20px;
  }
  
  &-big {
    position: relative;
    height: 390px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s opacity ease;
      background: #000;
      opacity: 0.3;
    }

    &:hover:before {
      opacity: 0.5;
    }

    &__link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 50;
    }

    &__inner {
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      padding: 43px 27px;
    }

    &__title {
      color: #FFFFFF;
      font-size: 22px;
      line-height: 1.2;
      margin: 0;
      font-weight: 500;
    }

    &__date {
      color: #FFFFFF;
      font-size: 11px;
      margin-bottom: 8px;
    }
  }
}

.news-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    color: rgba(145, 145, 145, 0.72);
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s color ease;

    &:hover ,
    &--active {
      color: #424148;
    }
  }
}

.expert-opinions {
  margin: 40px 0 0;

  .category-title {
    padding-left: 30px;
  }
}

.expert-opinions-s {
  margin: 12px -10px 40px;

  &-wrap {
    overflow: hidden;
  }

  .slick-track {
    padding-top: 42px;
  }

  &__item {
    padding: 0 10px;
    height: auto;
  }

  &__inner {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
    height: 100%;
  }

  &__avatar {
    width: 84px;
    height: 84px;
    border-radius: 100%;
    border: 1px solid #DEDEDE;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: -42px;
    margin-left: -42px;
  }

  &__header {
    border-bottom: 1px solid #A1A1A1;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 1px;
  }

  &__position {
    margin: 0;
    color: #919191;
    font-size: 12px;
  }

  &__name {
    color: #000000;
    font-size: 14px;
  }
  
  &__text {
    text-align: center;
    color: #1958A3;
    font-weight: 500;
    font-size: 16px;
    line-height: 121.19%;
    padding: 27px 0 0;
    min-height: 128px;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
  }

  &__category {
    color: #000000;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__date {
    color: #A1A1A1;
    line-height: 20px;
    font-size: 10px;
  }
}

.last-news {
  margin-top: 44px;

  .link-g {
    margin-right: 10px;
  }

  &__category {
    margin: 23px -10px 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &:before ,
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      width: 10px;
      height: 100%;
      background: #f2f3f8;
      z-index: 10;
    }

    &:after {
      left: 0;
    }

    &:before {
      right: 0;
    }


    &-item {
      padding-left: 10px;
      padding-right: 10px;
      width: 50%;
      margin-bottom: 30px;
    }

    &-header {
      border-bottom: 1px solid #DEDEDE;
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 10px;
      padding: 6px 0  0;

      .category-title {
        margin: 0;
      }
    }

    .last-news-list {
      margin-top: 20px;

      &__item {
        width: 50%;
      }
    }
  }

  .btn-more {
    display: none;
  }
}

.last-news-list  {
  padding: 0;
  margin: 9px -10px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
  &__item {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
  }
  
  &__inner {
    display: block;
    text-decoration: none;
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: '';
      background: rgba(0, 0, 0, 0.35);
      transition: 0.3s all ease;
    }

    &:hover:before {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__img {
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    padding: 12px;
  }

  &__title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
  }

  &__date {
    color: #FFFFFF;
    font-size: 10px;
    margin: 0 0 5px;
    line-height: 1;
    opacity: 0.8;
  }
}

.all-news {
  .bn-block {
    margin-top: 10px;
  }
  
  &__cont {
    background: #fff;
    padding: 43px 30px 30px;
  }

  .tabs-list {
    &__link {
      font-size: 16px;
    }
  }

  .container-a {
    position: relative;

    &__cont {
      width: calc(100% - 208px);
    }

    &__aside {
      position: absolute;
      top: 0;
      left: calc(100% - 208px);
    }
  }

  .pagination {
    margin-top: 40px;
  }
}

.news-list-m {
  padding: 0;
  margin: 50px -15px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
  &__item {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    width: 50%;
  }
  
  &__inner {
    position: relative;
    display: block;
    text-decoration: none;
    height: 226px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.35);
      transition: 0.3s all ease;
    }

    &:hover:before {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__cont {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    padding: 11px 13px;
  }

  &__title {
    color: #fff;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
  }

  &__date {
    color: #fff;
    margin: 0 0 5px;
    line-height: 1;
    font-size: 11px;
    opacity: 0.8;
    font-weight: 300;
  }
}

.news-inner {
  &__welcome {
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.35);
    }

    &-img {
      display: block;
      width: 100%;
    }

    &-cont {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0);
      margin: auto;
      z-index: 50;
      width: 100%;
      padding: 22px 15px;
    }

    &-title {
      font-weight: 500;
      font-size: 45px;
      line-height: 121.19%;
      color: #FFFFFF;
      margin: 0;
    }
    
    &-date {
      color: #fff;
      font-size: 12px;
      line-height: 1;
      margin: 0 0 10px 0;
    }
  }
  
  &__wrap {
    background: #fff;
    padding-bottom: 50px;
    margin-bottom: -26px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  }
  
  &__cont {
    position: relative;
    padding-right: 300px;
    padding-top: 112px;

    .social {
      position: absolute;
      top: 150px;
      right: 20px;
      width: 35px;

      &__item {
        margin: 0 0 15px;
      }
    }
  }
}

.news-m {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__img {
    width: 96px;

    a {
      display: block;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      width: 100%;

      &:before {
        background: rgba(0, 0, 0, 0.35);
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__cont {
    width: calc(100% - 96px);
    padding-left: 15px;
  }

  &__title {
    color: #424148;
    font-size: 15px;
    line-height: 121.19%;
    margin: 0;
    
    a {
      text-decoration: none;
      color: inherit;
      transition: 0.3s color ease;
      
      &:hover {
        color: #3392E8;
      }
    }
  }

  &__date {
    color: #666;
    font-size: 10px;
    margin-top: 15px;
  }
}

.news-w {
  background: #fff;
  margin: 30px 0 0;
  padding: 30px 0;

  &__list {
    padding: 0;
    margin: 0 -10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &-item {
      padding-left: 10px;
      padding-right: 10px;
      width: 33.3%;
    }

    &-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 180px;
    }

    &-inner {
      display: block;
      position: relative;
      text-decoration: none!important;
      border-radius: 5px;
      overflow: hidden;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
        background: #000;
        opacity: 0.35;
        transition: 0.3s all ease;
        width: 100%;
        height: 100%;
      }

      &:hover {
        &:before {
          opacity: 0.5;
        }
      }
    }

    &-date {
      font-size: 12px;
      color: #fff;
      bottom: 0;
      left: 0;
      position: absolute;
      padding: 10px 15px;
      font-weight: 300;
      z-index: 50;
      width: 100%;
    }

    &-name {
      color: #fff;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.2;
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px 15px;
      z-index: 50;
      width: 100%;
      font-family: $fontCond;
    }
  }
}

.news-lg {
  padding: 0;
  margin: 0 -8px 16px;
  list-style: none;

  &__item {
    padding-left: 8px;
    padding-right: 8px;
    outline: 0;
  }

  &__inner {
    display: block;
    text-decoration: none;
    position: relative;
    height: 233px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    outline: 0;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s opacity ease;
      background: #000;
      opacity: 0.3;
    }

    &:hover {
      &:before {
        opacity: 0.5;
      }
    }
  }

  &__cont {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 15px;
    color: #fff;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    font-family: $fontCond;
    color: #fff;
    margin: 0;
  }

  &__date {
    font-size: 11px;
    margin-bottom: 6px;
  }
}

.news-n {
  padding: 0;
  margin: 0 -8px 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 33.3%;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }

  &__inner {
    display: block;
    text-decoration: none;
    position: relative;
    height: 131px;
    border-radius: 5px;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s opacity ease;
      background: #000;
      opacity: 0.3;
      z-index: 20;
    }

    &:hover {
      &:before {
        opacity: 0.5;
      }
    }
  }

  &__img {
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cont {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 15px;
    color: #fff;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    font-family: $fontCond;
    color: #fff;
    margin: 0;
  }

  &__date {
    font-size: 11px;
    margin-bottom: 6px;
  }
}

@media(max-width: 1500px) {
  .all-news {
    .container-a {
      &__cont {
        width: calc(100% - 310px);
      }

      &__aside {
        position: static;
        top: auto;
        left: auto;
      }
    }
  }
}

@media(max-width: 1200px) {
  .news-inner {
    &__welcome {
      height: 320px;
    }

    &__welcome-title {
      font-size: 36px;
    }

    &__cont {
      padding-top: 15px;
      padding-right: 80px;
    }
  }

  .news-n__item {
    width: 50%;
  }
}

@media(max-width: 1024px) {
  .news {
    .category-title {
      padding-left: 0;
    }

    .news-list {
      padding-left: 0;
    }
  }

  .expert-opinions-s {
    margin: 12px 0 40px;
    width: 1000px;
    left: 50%;
    transform: translate(-50%,0);

    &-wrap {
      margin: 0 -15px;
    }

    &__item {
      padding-left: 8px;
      padding-right: 8px;
    }

    .slick-dots {
      position: absolute;
      left: 0;
      bottom: -20px;
      z-index: 100;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      li {
        padding: 3px;
        height: 8px;

        button {
          width: 11px;
          height: 2px;
          border: 0;
          overflow: hidden;
          text-indent: -999px;
          background: #D9D9D9;
          outline: 0;
          border-radius: 0;
          transition: 0.3s background-color ease;
        }

        &.slick-active,
        &:hover {
          button {
            background: #96CC61;
          }
        }
      }
    }
  }

  .last-news__category .category-title {
    padding-left: 15px;
  }

  .last-news-list {
    &__item {
      width: 50%;
      margin-bottom: 20px;
    }
  }

  .last-news__category-item {
    width: 100%;
  }

  .all-news {
    padding: 0;

    &__cont {
      padding: 25px 20px;
    }

    .container-a {
      &__cont {
        width: 100%;
      }

      &__aside {
        width: 100%;
      }
    }
  }

  .news-list-m {
    margin-top: 30px;

    &__item {
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media(max-width: 992px) {
  .news {
    .container-a {
      &__cont ,
      &__aside {
        width: 100%;
      }

      &__cont {
        margin-bottom: 15px;
      }

      &__aside {
        padding-left: 0;
      }
    }
  }

  .news-big {
    height: 260px;

    &__inner {
      padding: 20px 15px;
    }

    &__date {
      font-size: 10px;
    }

    &__title {
      font-size: 18px;
    }
  }

  .expert-opinions-s {
    width: 800px;
  }
}

@media(max-width: 768px) {
  .news-w {
    &__list {
      &-item {
        width: 100%;
        margin-bottom: 15px;
      }
      
      &-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:before {
          display: none;
        }
      }
      
      &-img {
        width: 90px;
        height: 90px;
      }

      &-cont {
        width: calc(100% - 90px);
        padding-left: 15px;
      }

      &-name {
        color: #3392E8;
        position: static;
        top: auto;
        left: auto;
        padding: 0;
      }

      &-date {
        color: #999;
        left: auto;
        bottom: auto;
        position: static;
        padding: 0;
      }
    }
  }
}

@media(max-width: 660px) {
  .news-lg {
    margin-bottom: 25px;

    .slick-dots {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -10px;
      z-index: 100;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        padding: 3px;
        height: 8px;

        button {
          width: 11px;
          height: 2px;
          border: 0;
          overflow: hidden;
          text-indent: -999px;
          background: #D9D9D9;
          outline: 0;
          border-radius: 0;
          transition: 0.3s background-color ease;
        }

        &.slick-active,
        &:hover {
          button {
            background: #96CC61;
          }
        }
      }
    }
  }

  .news-n {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: auto;

      &:before {
        display: none;
      }
    }

    &__item {
      width: 100%;
      margin-bottom: 8px;
    }

    &__img {
      width: 80px;
      height: 80px;
      border-radius: 5px;
      position: static;
      left: auto;
      top: auto;
    }

    &__cont {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
      max-width: 100%;
      position: static;
      bottom: auto;
      left: auto;
      width: auto;
      height: auto;
      color: #000;
    }
    
    &__title {
      color: #000;
    }
  }

}

@media(max-width: 568px) {
  .news-list-m {
    &__item {
      width: 100%;
    }
  }

  .last-news-list {
    &__item {
      width: 100%;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      
      &:before {
        display: none;
      }
    }

    &__img {
      width: 90px;
      height: 90px;
    }

    &__cont {
      position: static;
      left: auto;
      bottom: auto;
      height: auto;
      width: calc(100% - 100px);
    }
    
    &__date ,
    &__title {
      color: #222;
    }
  }

  .last-news__category .last-news-list__item {
    width: 100%;
    margin-bottom: 15px;
  }

  .last-news {
    .btn-more {
      display: inline-block;
      margin-top: 0;
    }
  }

  .all-news .pagination {
    margin-top: 15px;
  }

  .news-inner {
    &__welcome {
      height: 220px;

      &-title {
        font-size: 20px;
        font-weight: 400;
      }

      &-cont {
        padding: 15px;
      }
    }

    &__cont {
      padding-right: 0;

      .social {
        position: static;
        width: auto;
        height: 30px;
        top: auto;
        right: auto;
        display: flex;

        &__item {
          height: 30px;

          &:not(:last-child) {
            margin-right: 5px;
            margin-bottom: 0;
          }
        }

        &__img {
          width: 30px;
        }
      }
    }
  }
}