.offers-b {
  padding: 30px 0;
  border-top: 1px solid #D7D9DD;
  border-bottom: 1px solid #D7D9DD;

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #FDFAE7;
    border: 1px solid #D7D9DD;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img-w {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #D7D9DD;
    border-radius: 4px;
    padding: 2px;
    width: 42px;
    height: 42px;
  }

  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }

  &__cont {
    width: calc(100% - 162px);
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: calc(100% / 3);
      padding-left: 15px;
      padding-right: 15px;

      p {
        margin: 0;
        font-size: 14px;
        color: #A1A1A1;
        line-height: 1.2;

        b {
          font-size: 20px;
          color: #424148;
          font-weight: 500;
        }

        .grn {
          font-family: Helvetica;
        }
      }
    }
  }

  &__btn-w {
    width: 120px;

    .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__name {
    color: #70B2D6;
    font-size: 16px;
    line-height: 1.2;
  }

  &__category {
    color: #A1A1A1;
    font-size: 14px;
    line-height: 1.2;
  }
}

@media(max-width: 768px) {
  .offers-b {
    &__btn-w {
      width: 100%;
      margin-top: 10px;
    }

    &__cont {
      width: calc(100% - 42px);
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media(max-width: 568px) {
  .offers-b {
    padding: 20px 0;

    &__cont {
      padding-left: 10px;

      &-item {
        width: 50%;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;

        &:first-child {
          width: 100%;
        }

        p {
          b {
            font-size: 18px;
          }
        }
      }
    }

    &__btn-w {
      margin-top: 0;
    }
  }
}

@media(max-width: 360px) {
  .offers-b {
    &__cont {
      &-item {
        p {
          font-size: 13px;

          b {
            font-size: 15px;
          }
        }
      }
    }
  }
}