.partners {
  background: #fff;
  margin-top: 50px;
}

.partners-slider {
  &:before ,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 150px;
    z-index: 10;
  }

  &:before {
    right: 0;
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  &:after {
    left: 0;
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .slider-arrow {
    top: 50%;
    margin-top: -25px;

    &__prev {
      left: -25px;
    }

    &__next {
      right: -25px;
    }
  }

  &__item {
    padding: 0 10px;
  }
  
  &__link {
    display: flex!important;
    flex-wrap: wrap;
    align-items: center;
    outline: 0;
    height: 150px;
  }

  &__img {
    display: block;
    max-height: 100%;
  }
}

.partners-n {
  margin-top: 50px;

  &__inner {
    padding: 15px 0;
    overflow: hidden;
    background: #fff;
  }

  .category-title {
    margin-bottom: 10px;
  }
}

.partners-slider-n {
  margin: 0 -10px;

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    outline: 0!important;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    height: 110px;
    padding: 15px;
    outline: 0;
  }

  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .slider-arrow {
    top: 50%;
    margin-top: -25px;

    &__prev {
      left: -20px;
    }

    &__next {
      right: -20px;
    }
  }
}

@media(max-width: 1280px) {
  .partners-slider,
  .partners-slider-n {
    .slider-arrow {
      &__prev {
        left: -10px;
      }

      &__next {
        right: -10px;
      }
    }
  }
}

@media(max-width: 992px) {
  .partners-slider,
  .partners-slider-n {
    margin-bottom: 25px;

    &:before ,
    &:after {
      display: none;
    }

    &__link {
      height: 100px;
    }

    .slick-dots {
      position: absolute;
      left: 0;
      bottom: -20px;
      z-index: 100;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      li {
        padding: 3px;
        height: 8px;

        button {
          width: 11px;
          height: 2px;
          border: 0;
          overflow: hidden;
          text-indent: -999px;
          background: #D9D9D9;
          outline: 0;
          border-radius: 0;
          transition: 0.3s background-color ease;
        }

        &.slick-active,
        &:hover {
          button {
            background: #96CC61;
          }
        }
      }
    }
  }
}