.text-cont {
  background: #fff;
  padding: 15px 5px;
  border-top: 1px solid #D9D9D9;
  
  ul {
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 15px;
      margin-bottom: 10px;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        margin-top: -2px;
        background: #70B2D6;
        display: block;
        content: '';
      }
    }
  }

  ol {
    padding: 0 0 0 20px;
  }

  blockquote {
    position: relative;
    padding: 40px 30px;
    margin: 30px 0;
    text-align: center;
    color: #626262;
    font-size: 18px;
    line-height: 2;

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      width: 26px;
      height: 17px;
      margin-left: -13px;
      display: block;
      content: '';
      background: url('#{$rootUrl}quotes.svg') no-repeat center;
      background-size: cover;
    }
  }
}

.text-page-inner .text-cont {
  border-top: 0;
}

@media(max-width: 1024px) {
  .text-cont {
    padding: 15px 0;
  }
}

@media(max-width: 768px) {
  .text-cont {
    blockquote {
      padding: 30px 0;
      margin: 30px 0 0;
    }
  }
}