.services-f  {
  background: #fff;
  border-top: 1px solid #D9D9D9;
  padding: 50px 0;

  &__list {
    padding: 0;
    margin: 13px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &-item {
      display: flex;
      flex-wrap: wrap;
      padding: 30px 0;
      border-bottom: 1px solid #D9D9D9;
      width: 100%;

      &:last-child {
        border-bottom: 0;
      }
    }

    &-name-w {
      width: 230px;
      padding-right: 15px;
    }

    &-name {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
      color: #424148;
      font-family: $fontCond;
      padding-left: 12px;

      &-ico-w {
        width: 45px;
        margin-right: 10px;
        text-align: center;
      }

      &-ico {
        //display: block;
        max-width: 40px;
      }
    }

    &-inf {
      width: 305px;
      height: 152px;
      background: linear-gradient(270deg, #22BBFD -7.21%, rgba(34, 253, 214, 0) 180.66%);
      border-radius: 5px;
      margin-left: auto;
      text-align: center;
      padding: 30px 15px;
      margin-top: 7px;

      h3 {
        color: #fff;
        margin: 0;
      }
    }

    &-btn {
      display: inline-block;
      vertical-align: top;
      width: 144px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      transition: 0.3s all ease;
      background: #FFFFFF;
      border-radius: 5px;
      font-weight: bold;
      font-size: 17px;
      color: #4A5357;
      text-decoration: none;
      font-family: $fontCond;
      margin: 30px 0 0;
      
      &:hover {
        background: #eee;
      }
    }

    &-cont {
      margin-top: 7px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__sub-list {
    padding: 0 15px;
    margin: 0;
    list-style: none;
    
    &-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    
    &-link {
      text-decoration: none;
      transition: 0.3s all ease;
      font-weight: bold;
      font-size: 16px;
      line-height: 120%;
      color: #424148;

      &:hover {
        color: #4DA0EB;
      }
    }
  }
}

@media(max-width: 1024px) {
  .services-f {
    padding: 40px 0;

    &__list {
      &-name-w {
        width: 200px;
      }

      &-name {
        font-size: 18px;

        &-ico-w {
          width: 30px;
        }

        &-ico {
          max-width: 30px;
        }
      }

      &-inf {
        width: 260px;
        padding: 30px 10px;

        h3 {
          font-size: 16px;
        }
      }

      &-btn {
        font-size: 16px;
      }

      &-item {
        padding: 20px 0;
      }
    }

    &__sub-list {
      &-link {
        font-size: 14px;
      }

      &-item {
        margin-bottom: 5px;
      }
    }
  }
}

@media(max-width: 768px) {
  .services-f {
    padding: 30px 0;

    &__list {
      &-item {
        padding: 15px 0;
        justify-content: flex-start;
      }

      &-name-w {
        width: 100%;
      }

      &-cont {
        min-width: 50%;
      }
    }
  }
}

@media(max-width: 568px) {
  .services-f {
    padding: 20px 0;

    &__list {
      &-item {
        padding: 15px 0;
        justify-content: flex-start;
      }

      &-name-w {
        width: 100%;
      }

      &-cont {
        flex: 0 0 100%;
        margin: 15px -15px 0;
      }

      &-inf {
        width: 100%;
        margin: 10px 0 0;
        height: auto;
        padding: 15px;
      }

      &-btn {
        margin: 10px 0 0;
        width: 130px;
        height: 36px;
        line-height: 36px;
      }
    }
  }
}
