.site-map {
  background: #FFFFFF;
  border-radius: 6px;
  margin: 35px 0;
  padding: 34px 30px 0;

  &__title {
    color: #424148;
    font-size: 36px;
    line-height: 120%;
    font-family: $fontCond;
    font-weight: bold;
    margin: 0 0 34px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -15px;
  }

  &__col {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

  &__group {
    background: #FFFFFF;
    box-shadow: 0 52px 54px rgba(57, 59, 61, 0.1);
    border-radius: 6px;
    margin-bottom: 32px;

    &-header {
      border-radius: 6px 6px 0 0;
      background: #70B2D6;
      color: #fff;
      font-family: $fontCond;
      font-size: 18px;
      font-weight: bold;
      line-height: 120%;
      padding: 15px 20px;
      letter-spacing: 0.5px;
    }

    &-cont {
      padding: 0 22px;
    }
  }

  &__item {
    border-bottom: 1px solid #D7D9DD;

    &:last-child {
      border-bottom: 0;
    }

    &-header {
      position: relative;
      padding: 15px 0;
      padding-right: 40px;
      color: #70B2D6;
      font-size: 16px;
      //font-family: $fontCond;
      cursor: pointer;

      .icon-angle-down {
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 8px;
        margin-top: -4px;
        transition: 0.3s all ease;
      }

      &--active {
        .icon-angle-down {
          transform: rotate(180deg);
        }
      }
    }

    &-cont {
      padding: 0 10px 15px;
      display: none;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    &-item {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      font-size: 16px;
      line-height: 120%;
      color: #70B2D6;
      text-decoration: none;
      //font-family: $fontCond;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media(max-width: 1024px) {
  .site-map {
    padding: 20px;

    &__title {
      font-size: 26px;
      margin-bottom: 20px;
    }

    &__row {
      margin: 0 -10px;
    }

    &__col {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__group {
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 768px) {
  .site-map {
    padding: 15px 10px;
    margin: 15px 0;

    &__title {
      margin-bottom: 15px;
    }

    .site-map {
      padding: 15px 10px;
    }

    &__col {
      width: 100%;
    }

    &__group {
      margin-bottom: 10px;

      &-header {
        font-size: 16px;
        padding: 10px 15px;
      }

      &-cont {
        padding: 0 15px;
      }
    }

    &__item {
      &-header {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}