.subscription {
  background: #fff;
  padding: 20px;
  margin-top: 57px;
  width: 290px;
  position: relative;
  transition: 0.3s all ease;

  &--mt-sm {
    margin-top: 30px;
  }

  &--fixed {
    position: fixed;
    margin: 0;
    z-index: 500;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  }

  &__title {
    text-align: center;
    position: relative;
    padding-top: 60px;
    margin: 0 0 15px;
    line-height: 1.2;

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      margin-left: -25px;
      background: url("#{$rootUrl}subscription.svg") no-repeat center;
      background-size: cover;
    }
  }

  .btn {
    width: 100%;
  }
}