.currency-table {
  border-collapse: collapse;
  width: 100%;
  margin: 26px 0 0;

  th {
    border-bottom: 1px solid #DEDEDE;
    font-weight: 500;
    font-size: 10px;
    color: #919191;
    line-height: 1.2;
    padding: 5px;
    text-align: left;
  }

  td {
    padding: 6px 5px;
    line-height: 1.2;
    font-size: 13px;
    color: #424148;

    &.currency-table__name {
      color: #3392E8;
      font-size: 15px;
    }


    i {
      margin-top: 1px;
      display: inline-block;
      vertical-align: top;
    }

    .icon-arrow-up {
      color: #38CD62;
    }

    .icon-arrow-down {
      color: red;
    }
  }
}

.currency-s-table {
  border-collapse: collapse;
  width: 100%;

  &__down {
    color: red!important;
  }

  &__up {
    color: #38CD62!important;
  }

  td {
    padding: 6px 5px;
    line-height: 1.2;
    font-size: 14px;
    color: rgba(0,0,0,0.8);

    i {
      margin-top: 1px;
      display: inline-block;
      vertical-align: top;
    }

    .icon-arrow-up {
      color: #38CD62;
    }

    .icon-arrow-down {
      color: red;
    }
  }

  &__name {
    color: #3392E8;
    font-size: 18px;

    span {
      color: #ABACAD;
      font-size: 13px;
      display: inline-block;
      vertical-align: top;
      margin: 4px 0 0 5px;
    }
  }
}