.translations {
  margin-top: 74px;
  margin-bottom: 40px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 6px;
  }

  &__col {
    width: 50%;
    padding: 50px 40px;

    &--color {
      background: #F6FAFC;
      position: relative;

      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 17px 0 17px 34px;
        border-color: transparent transparent transparent #96cc61;
        content: '';
        display: block;
        position: absolute;
        top: 147px;
        left: -17px;
      }
    }
  }

  &__cont {
    margin-top: 108px;
  }

  &__sum {
    margin-top: 90px;
    max-width: 320px;
    position: relative;

    &-val {
      position: absolute;
      top: 34px;
      right: 10px;
      font-size: 18px;
      color: #000;
      font-family: Helvetica;
    }
  }
}

.t-card {
  position: relative;

  &__up {
    position: relative;
    z-index: 10;
    background: #96cc61; /* Old browsers */
    background: -moz-linear-gradient(left,  #96cc61 0%, #f7e01a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #96cc61 0%,#f7e01a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #96cc61 0%,#f7e01a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96cc61', endColorstr='#f7e01a',GradientType=1 ); /* IE6-9 */

    background: conic-gradient(from 180deg at 50% 50%, #96CC61 0deg, #F7E01A 360deg);
    border-radius: 18px;
    width: 384px;
    height: 239px;
    padding: 32px;
  }

  &__down {
    width: 384px;
    height: 239px;
    position: absolute;
    left: 138px;
    top: 39px;
    background: #FFFFFF;
    box-shadow: 0px 52px 54px rgba(57, 59, 61, 0.1);
    border-radius: 18px;
    border: 1px solid #D7D9DD;

    &:before {
      position: absolute;
      top: 28px;
      left: 0;
      width: 100%;
      height: 66px;
      background: #000;
      display: block;
      content: '';
    }

    &-cont {
      margin: 128px 0 0;
      padding-right: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      .t-card__form-row {
        width: 80px;

        &-label {
          white-space: nowrap;
        }
      }
    }
  }

  &__form-row {
    &-label {
      color: #000000;
      font-size: 12px;
      line-height: 1.2;
      margin-bottom: 5px;

      .icon-help-o {
        font-size: 14px;
        color: #70B2D6;
        margin: -1px 0 0 3px;
        display: inline-block;
        vertical-align: top;
      }
    }

    &-input {
      height: 50px;
      border: 1px solid #D7D9DD;
      outline: 0;
      background: #fff;
      border-radius: 6px;
      padding: 0 13px;
      width: 100%;
      font-family: $fontMain;
      font-size: 18px;
      color: #222;

      &::placeholder {
        color: #A1A1A1;
      }
    }
  }

  &__d-m {
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;

    &-item {
      width: 70px;
      margin-right: 15px;
    }
  }
}

@media(max-width: 1200px) {
  .t-card__up,
  .t-card__down {
    width: 320px;
    height: 200px;
  }

  .t-card__form-row-input {
    height: 40px;
  }

  .t-card__d-m {
    margin-top: 25px;
  }
}

@media(max-width: 1100px) {
  .translations__col {
    width: 100%;

    &--color {
      &:before {
        top: -17px;
        left: 50%;
        margin-left: -17px;
        transform: rotate(90deg);
      }
    }
  }
}

@media(max-width: 568px) {
  .translations__col {
    padding: 15px;

    &:first-child {
      padding-bottom: 25px;
    }

    &:last-child {
      padding-top: 25px;
    }

    &--color:before {
      border-width: 12px 0 12px 24px;
      top: -12px;
      margin-left: -12px;
    }
  }

  .t-card__up, .t-card__down {
    padding: 15px;
    height: 150px;
    width: 230px;
    border-radius: 8px;
  }

  .t-card__down {
    left: 88px;
    top: 22px;

    &:before {
      height: 40px;
    }

    &-cont {
      margin: 68px 0 0;
      padding-right: 5px;

      .t-card__form-row {
        width: 50px;
      }
    }
  }

  .t-card__d-m {
    margin-top: 15px;
  }

  .t-card__form-row-input {
    font-size: 14px;
  }

  .t-card__form-row-label {
    font-size: 10px;

    .icon-help-o {
      font-size: 12px;
    }
  }

  .t-card__form-row-input {
    padding: 0 8px;
    height: 36px;
  }

  .t-card__d-m-item {
    width: 55px;
  }

  .translations {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .translations__sum {
    margin-top: 40px;
  }

  .translations__cont {
    margin-top: 30px;
  }
}

@media(max-width: 360px) {
  .t-card__down {
    left: 80px;
  }
}

@media(max-width: 350px) {
  .t-card__up, .t-card__down {
    width: 186px;
    height: 130px;
  }

  .t-card__down {
    left: 78px;
  }

  .t-card__form-row-input {
    font-size: 12px;
    height: 30px;
  }

  .t-card__d-m {
    margin-top: 10px;
  }

  .t-card__down-cont {
    margin: 60px 0 0 0;
    padding-right: 0;
  }

  .t-card__form-row-label .icon-help-o {
    font-size: 10px;
    margin: 1px 0 0 2px;
  }

  .translations__cont {
    margin-top: 15px;
  }
}