.welcome {
  margin-top: 26px;

  &__cont {
    padding-left: 1px;
    padding-right: 1px;
  }

  &__title {
    text-align: center;
    color: #3392E8;
    font-family: $fontCond;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0 0 25px;

    span {
      background: -webkit-linear-gradient(#12FB7D, #0095D6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1px;
    margin-right: -1px;

    [class*="col-"] {
      padding-left: 1px;
      padding-right: 1px;
    }
  }

  &__item {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    height: 112px;
    background: #fff;
    position: relative;
    padding: 19px 29px;
    margin-bottom: 2px;
    display: block;
    text-decoration: none;
    transition: 0.3s all ease;

    &:hover,
    &:focus {
      box-shadow: 0 2px 2px 0 rgba(76,175,80,0.14), 0 3px 1px -2px rgba(76,175,80,0.12), 0 1px 5px 0 rgba(76,175,80,0.2);

      .welcome__item-title {
        color: #4caf50;
      }
    }

    &--large {
      height: 226px;
    }

    &--credit {
      background: url("#{$rootUrl}credit.jpg") no-repeat center;
      background-size: cover;
      
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 15px;
        right: 31px;
        width: 77px;
        height: 88px;
        background: url("#{$rootUrl}cloud.svg") no-repeat center;
        background-size: cover;
      }
    }

    &-title {
      font-size: 25px;
      color: rgba(0, 0, 0, 0.65);
      font-family: $fontCond;
      margin: 0;
      transition: 0.3s color ease;
    }

    &-text {
      font-family: $fontCond;
      margin: 10px 0 0;
      color: rgba(0, 0, 0, 0.36);
      font-weight: 500;
      font-size: 14px;
    }

    &-icon {
      position: absolute;
      color: #626262;
      top: 50%;
      right: 25px;
      transform: translate(0,-50%);
      width: 40px;

      &--loan {

      }

      &--money {

      }

      &--credit-card {

      }

      &--debit-card {

      }


      &--exchange-rate {

      }

      &.icon-zaim-m {
        font-size: 43px;
        top: 29px;
        right: 26px;
      }

      &.icon-credit-m {
        font-size: 40px;
        top: 32px;
        right: 34px;
      }

      &.icon-card-m {
        font-size: 41px;
        top: 34px;
        right: 24px;
      }

      &.icon-kurs-m {
        font-size: 43px;
        top: 28px;
        right: 49px;
      }
    }

    &-more {
      color: #3392E8;
      font-weight: 500;
      font-size: 11px;
      line-height: 15px;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      transition: 0.3s all ease;
      margin-top: 4px;
      
      &:hover {
        color: #222;
      }

      i {
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        margin-top: 1px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -10px 14px;
    list-style: none;

    &-item {
      padding-left: 10px;
      padding-right: 10px;
      width: 25%;

      &--1 {
        .welcome__list-circle {
          left: 46px;
          bottom: 34px;
        }

        .welcome__list-img-w {
          bottom: 0;
          right: 4px;
          width: 123px;
        }
      }

      &--2 {
        .welcome__list-circle {
          left: 45px;
          bottom: 30px;
        }

        .welcome__list-img-w {
          bottom: 0;
          right: 0;
          width: 151px;
        }
      }

      &--3 {
        .welcome__list-circle {
          left: 42px;
          bottom: 30px;
        }

        .welcome__list-img-w {
          bottom: 0;
          right: 3px;
          width: 134px;
        }
      }

      &--4 {
        .welcome__list-circle {
          left: 33px;
          bottom: 30px;
        }

        .welcome__list-img-w {
          bottom: 0;
          right: 3px;
          width: 153px;
        }
      }
    }

    &-inner {
      height: 314px;
      background: linear-gradient(0deg, #22BBFD 0%, rgba(116, 255, 188, 0) 147.87%);
      border-radius: 5px;
      position: relative;
      padding: 21px 15px;
      text-align: center;
    }

    &-title {
      margin: 0 0 13px;
      color: rgba(0, 0, 0, 0.65);
      font-size: 25px;
      font-weight: bold;
    }

    &-info {
      color: rgba(0, 0, 0, 0.36);
      margin: 0;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      font-family: $fontCond;
    }

    &-btn {
      min-width: 144px;
      height: 40px;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      border: 1px solid #D2D4D8;
      background: #fff;
      border-radius: 5px;
      color: #4A5357;
      font-family: $fontCond;
      line-height: 38px;
      font-weight: bold;
      padding: 0 10px;
      margin: 30px 0 0;
      transition: 0.3s all ease;

      &:hover {
        background: #eee;
      }
    }

    &-circle {
      position: absolute;
      width: 80px;
      height: 81px;
      background: #FFFFFF;
      border-radius: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-weight: bold;
      font-size: 21px;
      line-height: 120%;
      font-family: $fontCond;
    }

    &-img-w {
      position: absolute;
    }

    &-img {
      display: block;
      width: 100%;
    }
  }

  &__benefits {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -10px 20px;
    list-style: none;

    &-item {
      padding-left: 10px;
      padding-right: 10px;
      width: 25%;
    }

    &-inner {
      background: #FFFFFF;
      border: 1px solid #DEDEDE;
      box-sizing: border-box;
      border-radius: 5px;
      height: 110px;
      position: relative;
      padding: 21px 37px;
      display: block;
      text-decoration: none;
      transition: 0.3s all ease;

      &:hover {
        background: rgba(#4DA0EB,0.02);
      }
    }

    &-title {
      font-weight: bold;
      font-size: 25px;
      line-height: 120%;
      color: #424148;
      font-family: $fontCond;
      margin: 0 0 10px;
    }

    &-info {
      margin: 0;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      font-family: $fontCond;
      color: rgba(0, 0, 0, 0.36);

      span {
        display: block;
      }
    }

    &-img {
      position: absolute;

      &--bank {
        width: 57px;
        top: 26px;
        right: 23px;
      }

      &--money {
        width: 54px;
        top: 30px;
        right: 21px;
      }

      &--car {
        width: 72px;
        top: 43px;
        right: 37px;
      }

      &--covid {
        width: 52px;
        top: 30px;
        right: 24px;
      }
    }
  }
}

@media(max-width: 1280px) {
  .welcome {
    &__item {
      padding: 15px 20px;
    }
  }

  .welcome {
    &__list {
      &-title {
        font-size: 22px;
      }

      &-item {
        &--1,
        &--2,
        &--3,
        &--4 {
          .welcome__list-circle {
            left: 20px;
          }
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .welcome {
    &__cont {
      & > .welcome__row > .col-1-2 {
        width: 100%;
      }
    }

    &__item {
      height: 85px;
      padding: 10px 15px;

      .currency-table {
        margin-top: 15px;
      }

      &--credit {
        &:before {
          width: 60px;
          height: 68px;
          top: 7px;
        }
      }

      &--large {
        height: 210px;
      }

      &-text {
        margin-top: 5px;
      }

      &-title {
        font-size: 22px;
      }

      &-icon {
        &.icon-zaim-m {
          top: 21px;
        }

        &.icon-credit-m {
          top: 20px;
        }

        &.icon-card-m {
          top: 22px;
        }

        &.icon-kurs-m {
          top: 22px;
        }
      }
    }
  }
}

@media(max-width: 1024px) {
  .welcome {
    margin-top: 15px;

    &__title {
      font-size: 32px;
      font-weight: 400;
    }
  }

  .welcome__list,
  .welcome__benefits {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    &-item {
      width: 50%;
      margin-bottom: 20px;
    }
  }

}

@media(max-width: 568px) {
  .welcome {
    &__title {
      font-size: 22px;
      line-height: 1.2;
    }

    &__item {
      height: 80px;
      padding-right: 60px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &--large {
        display: none;
      }

      &-icon {
        right: 10px;
        width: 30px;
      }

      &-title {
        font-size: 18px;
        line-height: 1;
      }

      &-text {
        display: none;
      }
    }

    .col-1-2 {
      width: 50%;
    }
  }

  .welcome__list-title {
    font-size: 20px;
  }
}

@media(max-width: 550px) {
  .welcome__list,
  .welcome__benefits {
    max-width: 100%;

    &-item {
      width: 100%;
      margin-bottom: 8px;
      padding: 0;
    }
  }

  .welcome__list {
    &-inner {
      padding: 15px 10px;
      height: 140px;
    }

    &-title {
      margin-bottom: 0;
    }

    &-btn {
      margin-top: 10px;
      position: relative;
      z-index: 20;
    }

    &-circle {
      width: 50px;
      height: 50px;
      font-size: 12px;
      left: 15px;
      bottom: 20px;
    }

    &-item {
      &--1,
      &--2,
      &--3,
      &--4 {
        .welcome__list-circle {
          left: 15px;
          bottom: 20px;
        }
      }

      &--1 {
        .welcome__list-img-w {
          right: 2px;
          width: 75px;
        }
      }

      &--2 {
        .welcome__list-img-w {
          width: 110px;
        }
      }

      &--3 {
        .welcome__list-img-w {
          width: 90px;
        }
      }

      &--4 {
        .welcome__list-img-w {
          width: 90px;
        }
      }
    }
  }

  .welcome__benefits {
    &-inner {
      padding: 12px 15px;
      height: 90px;
    }

    &-img {
      right: 15px!important;
      top: 50%!important;
      max-width: 40px;
      transform: translate(0,-50%);
    }

    &-title {
      font-size: 22px;
      margin-bottom: 5px;
    }

    &-info {
      font-weight: normal;
    }
  }
}


@media(max-width: 380px) {
  .welcome {
    &__item-title {
      font-size: 16px;
    }
  }
}