extends layout/_layout

block content
	.page-error
		.page-error__inner
			.text-center
				a(href="").page-error__logo
			.page-error__title
				img(src="img/404.svg" alt="").page-error__title-img
			p.page-error__text Запрашиваемая страница не найдена
			.text-center
				a(href="").page-error__btn На Главную



