extends layout/_layout

block content
	include blocks/_header-3
	include blocks/_contacts-inner
	include blocks/_bn-footer
	include blocks/_footer
block scripts
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8EAQqoIg9imVuyeneGetDBG9Fg_M3e2c&callback=initMap&libraries=&v=weekly" defer)
	script.
		let map;

		function initMap() {
				map = new google.maps.Map(document.getElementById("map"), {
						center: {lat: 50.4286362, lng: 30.3566737},
						zoom: 14
				});
		}
