extends layout/_layout

block content
	include blocks/_header
	include blocks/_welcome-2
	include blocks/_currency-2
	include blocks/_news-2
	include blocks/_partners-2
	include blocks/_best-offer-2
	.main-container.mt-30
		include blocks/_comments
	include blocks/_feedback
	include blocks/_services-f
	include blocks/_footer

