extends layout/_layout

block content
  include blocks/_header
  include blocks/_welcome
  include blocks/_currency
  include blocks/_best-offer
  .main-container
    include blocks/_comments
  include blocks/_partners
  include blocks/_news
  include blocks/_feedback
  include blocks/_footer