.breadcrumbs {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    
    &--line {
      color: #ccc;
      margin: 0 5px;
    }
  }
  
  &__link {
    text-decoration: none;
    display: block;
    color: #A1A1A1;
    transition: 0.3s color ease;
    
    &:hover {
      color: #222;
    }
  }
}
