.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  line-height: 1;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: $fontCond;
  transition: 0.3s color ease,0.3s background-color ease, 0.3s box-shadow ease;

  &--green {
    background: #96CC61;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    color: #fff;

    &:hover {
      background: #88bb56;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    }
  }


  &--blue {
    background: #70B2D6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    color: #fff;

    &:hover {
      background: #317bbf;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    }
  }
  &--small {
    padding: 9px 11px;
  }

  &--large {
    font-size: 17px;
    padding: 15px 25px;
  }

  .icon-repeat {
    margin-right: 5px;
    vertical-align: top;
    display: inline-block;
  }
}

.btn-more {
  display: inline-block;
  vertical-align: top;
  transition: 0.3s color ease, 0.3s background-color ease, 0.3s border ease;
  font-size: 18px;
  color: #404040;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  height: 48px;
  line-height: 46px;
  text-decoration: none;
  outline: 0;
  padding: 0 25px;
  margin-top: 28px;
  
  &:hover {
    color: #fff;
    background: #3392E8;
    border-color: #3392E8;
  }
}

.btn-r {
  border: 1px solid;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  outline: 0;
  text-align: center;
  font-size: 14px;
  padding: 0 20px;
  line-height: 38px;
  border-radius: 5px;
  transition: 0.3s color ease , 0.3s background-color ease, 0.3s border ease;

  &--gray {
    color: #A1A1A1;
    border-color: #D7D9DD;

    &:hover {
      background: #D7D9DD;
      color: #222;
    }
  }
}

@media(max-width: 568px) {
  .btn-more {
    font-size: 16px;
    height: 42px;
    line-height: 40px;
    padding: 0 15px;
  }
}