@font-face {
  font-family: 'Helvetica Neue Cond';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBoldCondensed.eot');
  src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBoldCondensed.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBoldCondensed.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBoldCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cond';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBlackCondensed.eot');
  src: local('Helvetica Neue Condensed Black'), local('HelveticaNeueBlackCondensed'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBlackCondensed.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBlackCondensed.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBlackCondensed.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueBlackCondensed.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Light.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Black.eot');
  src: local('HelveticaNeueCyr-Black'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Black.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Black.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Heavy.eot');
  src: local('HelveticaNeueCyr-Heavy'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Heavy.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-UltraLight.eot');
  src: local('HelveticaNeueCyr-UltraLight'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-UltraLight.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Thin.eot');
  src: local('HelveticaNeueCyr-Thin'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Thin.woff2') format('woff2'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Thin.woff') format('woff'),
  url('#{$rootUrlFonts}HelveticaNeue/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

//@font-face {
//  font-family: 'Bitter';
//  src: local('Bitter Italic'), local('Bitter-Italic'), url('#{$rootUrlFonts}bitter/Bitteritalic.woff2') format('woff2'), url('#{$rootUrlFonts}bitter/Bitteritalic.woff') format('woff'), url('#{$rootUrlFonts}bitter/Bitteritalic.ttf') format('truetype');
//  font-weight: 400;
//  font-style: italic;
//}

//@font-face {
//  font-family: 'Bitter';
//  src: local('Bitter'), local('Bitter-Regular'), url('#{$rootUrlFonts}bitter/Bitter.woff2') format('woff2'), url('#{$rootUrlFonts}bitter/Bitter.woff') format('woff'), url('#{$rootUrlFonts}bitter/Bitter.ttf') format('truetype');
//  font-weight: 400;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'Bitter';
//  src: local('Bitter Bold Italic'), local('Bitter-BoldItalic'), url('#{$rootUrlFonts}bitter/Bitterbolditalic.woff2') format('woff2'), url('#{$rootUrlFonts}bitter/Bitterbolditalic.woff') format('woff'), url('#{$rootUrlFonts}bitter/Bitterbolditalic.ttf') format('truetype');
//  font-weight: 700;
//  font-style: italic;
//}

//@font-face {
//  font-family: 'Bitter';
//  src: local('Bitter Bold'), local('Bitter-Bold'), url('#{$rootUrlFonts}bitter/Bitterbold.woff2') format('woff2'), url('#{$rootUrlFonts}bitter/Bitterbold.woff') format('woff'), url('Bitterbold.ttf') format('truetype');
//  font-weight: 700;
//  font-style: normal;
//}
//

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNovaT-Thin.eot');
  src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaT-Thin.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNova-Light.eot');
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Light.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Regular.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNova-Semibold.eot');
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Semibold.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Bold.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNova-Black.eot');
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Black.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

//
@font-face {
  font-family: 'Proxima Nova Cn';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Regular.eot');
  src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Regular.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Cn';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Semibold.eot');
  src: local('Proxima Nova Condensed Semibold'), local('ProximaNovaCond-Semibold'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Semibold.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Cn';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Bold.eot');
  src: local('Proxima Nova Condensed Bold'), local('ProximaNovaCond-Bold'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Bold.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Cn';
  src: url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Light.eot');
  src: local('Proxima Nova Condensed Light'), local('ProximaNovaCond-Light'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Light.woff') format('woff'),
  url('#{$rootUrlFonts}ProximaNova/ProximaNovaCond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}