.form-row {
  margin-bottom: 20px;

  .select2-container {
    max-width: 100%;
    width: 100%!important;
  }

  &--checkbox {
    display: flex;
    flex-wrap: wrap;

    p {
      margin: 0;
      line-height: 1.2;
    }

    .col {
      padding-left: 15px;
    }
  }

  &__label {
    margin-bottom: 5px;
    color: #000000;
    font-size: 14px;
  }

  &__input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    font-size: 14px;
    color: #222;
    padding: 0 15px;
    outline: 0;
    font-family: $fontMain;

    &::placeholder {
      color: #A1A1A1;
    }
  }

  &__select {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    font-size: 14px;
    color: #A1A1A1;
    padding: 0 15px;
    outline: 0;
    font-family: $fontMain;
  }

  &__textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 3px;
    height: 255px;
    font-size: 14px;
    color: #222;
    padding: 15px 15px;
    outline: 0;
    font-family: $fontMain;

    &::placeholder {
      color: #A1A1A1;
    }
  }
}

.select2 {
  &-search {
    display: none;
  }

  &-container--default .select2-selection--single {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    padding: 0 10px;
    outline: 0;
  }

  &-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    font-size: 14px;
    color: #A1A1A1;
    font-family: $fontMain;
    padding: 0;
  }

  &-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    top: 0;
    right: 5px;
  }
}

.checkbox {
  display: inline-block;
  vertical-align: top;

  &__inner {
    width: 30px;
    height: 30px;
    position: relative;
  }

  &__cont {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: 0.3s all ease;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 10;
    opacity: 0;

    &:checked + .checkbox__cont {
      background: #59A4EA;
      border-color: #59A4EA;
    }
  }
}

.checkbox-s {
  position: relative;
  display: block;
  padding-left: 25px;
  cursor: pointer;

  &__cont {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);

    &-inner {
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      text-align: center;
      line-height: 17px;
      font-size: 9px;
      color: #fff;
      transition: 0.3s all ease;
      width: 17px;
      height: 17px
    }

    &-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 0;
      margin: 0;

      &:checked + .checkbox-s__cont-inner {
        background: #3392E8;
        border-color: #3392E8;
      }
    }
  }

  &__text {
    line-height: 1.2;
    color: #626262;
    font-size: 16px;
  }
}

@media(max-width: 568px) {
  .form-row__textarea {
    height: 150px;
  }
}