.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1230px;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.text-left {
  text-align: left!important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ml-auto {
  margin-left: auto!important;
}

.mr-auto {
  margin-right: auto!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-30 {
  margin-top: 30px!important;
}

.mt-20 {
  margin-top: 20px!important;
}

.mt-15 {
  margin-top: 15px!important;
}

.mb-30 {
  margin-bottom: 30px!important;
}

.mb-20 {
  margin-bottom: 20px!important;
}

.mb-15 {
  margin-bottom: 15px!important;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3%;
}

.col-2-3 {
  width: 66.6%;
}

.slick-slide {
  outline: 0!important;
}

.slider-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #DEDEDE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgba(145, 145, 145, 0.76);
  font-size: 24px;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s color ease, 0.3s background-color ease;
  
  &:hover {
    color: #fff;
    background: #3392E8;
  }

  &__prev {
    i {
      margin-left: -2px;
    }
  }

  &__next {
    i {
      margin-left: 2px;
    }
  }
}

.container-a {
  display: flex;
  flex-wrap: wrap;

  &__cont {
    width: calc(100% - 310px);
  }

  &__aside {
    width: 310px;
    padding-left: 20px;
  }

  &--large {
    position: relative;

    .container-a__cont {
      width: calc(100% - 208px);
      min-height: 400px;
    }

    .container-a__aside {
      position: absolute;
      top: 0;
      left: calc(100% - 208px);
    }
  }
}

.bn-block {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;

  &--mt {
    margin-top: 57px;
  }

  img {
    width: 100%;
    display: block;
  }
}

.bn-vertical {
  margin: 15px 0;

  img {
    max-width: 100%;
    margin: auto;
    display: block;
  }
}

.ico-loan {

}

.no-scroll {
  overflow: hidden!important;
}

@media(max-width: 1024px) {
  .container-a__aside ,
  .container-a__cont {
    width: 100%;
  }

  .container-a__aside {
    padding: 0;
    margin-top: 20px;
  }
}