@font-face {
  font-family: 'icomoon';
  src:  url('#{$rootUrlFonts}icomoon/icomoon.eot?i869bn');
  src:  url('#{$rootUrlFonts}icomoon/icomoon.eot?i869bn#iefix') format('embedded-opentype'),
  url('#{$rootUrlFonts}icomoon/icomoon.ttf?i869bn') format('truetype'),
  url('#{$rootUrlFonts}icomoon/icomoon.woff?i869bn') format('woff'),
  url('#{$rootUrlFonts}icomoon/icomoon.svg?i869bn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e927";
}
.icon-contacts:before {
  content: "\e928";
}
.icon-home:before {
  content: "\e929";
}
.icon-comment:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-help-o:before {
  content: "\e902";
}
.icon-man:before {
  content: "\e903";
}
.icon-angle-down:before {
  content: "\e904";
}
.icon-angle-left:before {
  content: "\e905";
}
.icon-angle-right:before {
  content: "\e906";
}
.icon-angle-up:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-arrow-up:before {
  content: "\e90b";
}
.icon-bank:before {
  content: "\e90c";
}
.icon-card-m:before {
  content: "\e90d";
}
.icon-credit-m:before {
  content: "\e90e";
}
.icon-exchange-rate:before {
  content: "\e90f";
}
.icon-kurs-m:before {
  content: "\e910";
}
.icon-place:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-zaim-m:before {
  content: "\e914";
}
.icon-calculator:before {
  content: "\e915";
}
.icon-persent:before {
  content: "\e916";
}
.icon-clock:before {
  content: "\e917";
}
.icon-check:before {
  content: "\e918";
}
.icon-money:before {
  content: "\e919";
}
.icon-apple-pay:before {
  content: "\e91a";
}
.icon-circular-arrow:before {
  content: "\e91b";
}
.icon-google-pay:before {
  content: "\e91c";
}
.icon-wifi:before {
  content: "\e91d";
}
.icon-close:before {
  content: "\e91e";
}
.icon-bitcoin:before {
  content: "\e91f";
}
.icon-lamp:before {
  content: "\e920";
}
.icon-check-circle:before {
  content: "\e921";
}
.icon-email:before {
  content: "\e922";
}
.icon-phone:before {
  content: "\e923";
}
.icon-download:before {
  content: "\e924";
}
.icon-repeat:before {
  content: "\e925";
}
.icon-eye:before {
  content: "\e926";
}
