.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;

    &:last-child {
      border-right: 1px solid #dddddd;
    }

    &-dots {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      color: #222;
      width: 38px;
      height: 38px;
      padding-bottom: 8px;
    }
  }

  &__link {
    width: 38px;
    height: 38px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #2462a4;
    transition: 0.3s color ease,0.3s background-color ease;
    background: #ffffff;
    font-weight: 500;

    &:hover,
    &--active {
      background: #ebf6fb;
      color: #001f4a;
    }
  }
}

@media(max-width: 568px) {
  .pagination {
    &__item-dots {
      width: 30px;
      height: 30px;
    }

    &__link {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }
}