.rating {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: top;
  
  &--num {
    display: inline-block;
    vertical-align: top;
    margin: 11px 0 0 5px;
    color: #A7A6A6;
    font-weight: 300;
    font-size: 15px;
  }
  
  &__num {
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.34);
    font-size: 13px;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    transition: 0.3s color ease;
    color: #ccc;
    text-decoration: none;

    &--active {
      color: #F6E01A;
    }

    &:not(:first-child) {
      margin-left: 2px;
    }
  }

  &__link {
    font-size: 18px;
    display: block;
    transition: 0.3s color ease;
    color: #ccc;
    text-decoration: none;

    &--active {
      color: #F6E01A;
    }
  }
}

@media(max-width: 568px) {
  .rating {
    &__item {
      font-size: 14px;
    }
  }
}