*,
:after,
:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  min-width: 320px;
  margin:auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: $fontMain;
  background: #f2f3f8;
}

.slick-slide {
  outline: 0!important;
}




