.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  
  &__link {
    display: block;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s opacity ease;

    &:hover {
      opacity: 1;
    }
  }
  
  &__img {
    display: block;
  }
}