.tabs {
  &-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;

    &__item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    &__link {
      display: block;
      text-decoration: none;
      color: #ABACAD;
      line-height: 1;
      font-weight: 500;
      font-size: 14px;
      font-family: $fontCond;
      position: relative;
      padding: 5px 0;
      transition: 0.3s color ease;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #6DEB0A;
        margin-top: -1px;
        transition: 0.3s all ease;
      }

      &--active ,
      &:hover {
        color: #424148;

        &:before {
          width: 100%;
          left: 0;
        }
      }
    }
  }
  
  &-content {

  }
  
  &-item {
    display: none;
    padding: 36px 0 27px;
    
    &--active {
      display: block;
    }
  }
}

.tab-g-list {
  padding: 0;
  margin: 0 0 15px;
  list-style: none;
  border-bottom: 1px solid #96CC61;
  display: flex;
  flex-wrap: wrap;

  &__item {

  }
  
  &__link {
    display: block;
    transition: 0.3s color ease, 0.3s background-color ease;
    color: #222;
    line-height: 46px;
    height: 46px;
    padding: 0 25px;
    text-decoration: none;
    font-size: 16px;

    &:hover ,
    &--active {
      background: #96CC61;
      color: #fff;
    }
  }
}

.tabs-content {
  &--colored {
    background: linear-gradient(0.07deg, #22BBFD -28.93%, rgba(116, 255, 188, 0) 147.42%);
    margin-top: 15px;
  }
}

@media(max-width: 1024px) {
  .tabs-list {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

@media(max-width: 568px)  {
  .tabs-list {
    &__item {
      margin-bottom: 10px;
    }

    &__link {
      font-size: 12px;
    }
  }
}