.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: $fontCond;
  color: #424148;
  font-weight: 500;
}

.text-red {
  color: red!important;
}

.text-green {
  color: #4caf50!important;
}

.title-group {
  .rating {
    margin: 8px 0 0 0;
  }

  span {
    margin-right: 15px;
  }
}

.category-title {
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  margin: 0 0 20px;
}

.link-g {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: rgba(145, 145, 145, 0.72);
  font-size: 14px;
  transition: 0.3s color ease;
  
  &:hover {
    color: #3392E8;
  }
}

.link-to {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #3392E8;
  transition: 0.3s color ease;

  &:hover {
    color: rgba(145, 145, 145, 0.72);
  }
}

.link-to-d {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #3392E8;
  transition: 0.3s color ease;
  border-bottom: 1px dashed #3392E8;;

  &:hover {
    color: rgba(145, 145, 145, 0.72);
    border-color: rgba(145, 145, 145, 0.72);
  }
}

.back {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #70B2D6;
  font-size: 14px;
  
  .icon-angle-left {
    display: inline-block;
    vertical-align: top;
    margin: 4px 5px 0 0;
  }
}

.page-welcome {
  min-height: 210px;
  border-bottom: 1px solid #D2D4D8;
  position: relative;
  padding: 25px 0 0;

  &--h-auto {
    min-height: 0;
    padding-bottom: 25px;
  }

  &__search {
    margin-top: 20px;
    max-width: 350px;
    
    .form-row {
      position: relative;

      &__input {
        padding-left: 35px;
      }
    }

    .icon-search {
      position: absolute;
      font-size: 16px;
      color: #A1A1A1;
      top: 11px;
      left: 12px;
      z-index: 30;
    }
  }

  //&:after {
  //  display: block;
  //  content: '';
  //  position: absolute;
  //  right: 0;
  //  top: 0;
  //  width: 243px;
  //  height: 195px;
  //  background: url("#{$rootUrl}page-welcome.png") no-repeat center;
  //  background-size: cover;
  //}

  &__info {
    font-family: $fontCond;
    font-weight: 500;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #626262;
    margin: 4px 0 0;
  }

  .breadcrumbs {
    margin: 0;
  }

  &__t-link {
    display: inline-block;
    vertical-align: top;
    color: #70B2D6;
    font-size: 16px;
    margin: 13px 0 0;
  }

  &__bank-logo {
    display: block;
    max-width: 200px;
  }

  .flex-wrap {
    margin: 22px -15px 0;

    .col-1-2 {
      padding-left: 15px;
      padding-right: 15px;
    }

    .main-title {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 0 0;
    }
  }
}

.main-title {
  color: #404040;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  margin: 22px 0 0;

  span {
    color: #70B2D6;
  }
}

.title-blue {
  background: #84C2FA;
  padding: 10px 30px;
  color: #fff;
  font-size: 24px;
  font-family: $fontCond;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .main-title {
    font-size: 30px;
  }

  .page-welcome {
    min-height: 0;
    padding-bottom: 25px;

    .main-title {
      margin-top: 15px;
    }

    &__info {
      font-size: 18px;
      font-weight: 400;
    }

    &__t-link {
      margin-top: 8px;
    }
  }
}

@media(max-width: 568px) {
  .category-title {
    font-size: 20px;
  }

  .title-blue {
    font-size: 20px;
    padding: 10px 15px;
  }

  .title-group {
    .rating {
      margin: 7px 0 0 0;
    }

    span {
      margin-right: 8px;
    }
  }

  .page-welcome {
    &:after {
      display: none;
    }

    &__bank-logo {
      margin-top: 10px;
    }

    .flex-wrap {
      .col-1-2 {
        width: 100%;
      }
    }
  }
}